<%= form_for @admin_page,:html => { :multipart => true , :class=>"form-horizontal"} do |f| %>
            
       
                      
                <% if @admin_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>

      <ul>
      <% @admin_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
                
                <div class="form-group">
                  <label class="col-lg-2 control-label">Title</label>
                  <div class="col-lg-5">
                    <%= f.text_field :title, :class => 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Description</label>
                  <div class="col-lg-10">
                    <%= f.text_area :description, :class => 'tinymce' %>
                  </div>
                </div>
                  
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-6">
                    <button type="submit" class="btn btn-sm btn-success">
                      Save
                    </button>
                    <button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
                      Back
                    </button>
                  </div>
                </div>

                <% end %>


<%= tinymce %>