<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_page.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_page.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @admin_page.slug %>
</p>

<%= link_to 'Edit', edit_admin_page_path(@admin_page) %> |
<%= link_to 'Back', admin_pages_path %>
