<style type="text/css">
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/assets/sort_asc.png);
}

.pretty th .desc {
  background-image: url(/assets/sort_desc.png);
}

</style>



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Press Release</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Reports</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<%if params[:action] == "search"%>
					<button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
						Back to Result
					</button>
				<%end%>
					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Reports
							</div>
						
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>



<%#= search_form_for @search do |f| %>




 <div id="reports">

				<%= hidden_field_tag :direction, params[:direction] %>
				<%= hidden_field_tag :sort, params[:sort] %>
	
		<table class="table table-striped table-bordered table-hover">
			<thead><%= search_form_for @search, url: search_admin_press_releases_path,
                        html: { method: :post } do |f| %>
				<tr>
				<td></td>
				<td>

				  <%= f.search_field :title_cont,:class=>"form-control", :placeholder=>"Report title" %>
				</td>
				<td>
		
				   <%=f.select :publisher_id_eq, options_for_select(@publishers.collect{|x| [x.name, x.id]}, selected: params[:q] ? params[:q][:publisher_id_eq] : '') ,{ include_blank: 'All' }, :class => 'form-control' %>
				</td>
		
				<td>
					<div class="col-md-5">
					  <%= f.search_field :day_eq ,:class=>"form-control", :placeholder=>"Date"%>
					</div>
					<div class="col-sm-7">
				    <%= f.search_field :publish_month_eq ,:class=>"form-control", :placeholder=>"Month"%>
					</div>
				</td>
				<td>
			
				  <%= f.search_field :one_user_eq,:class=>"form-control", :placeholder=>"Price"%>
				</td>

				<td>
				  <%= f.submit  :class=>"btn btn-sm btn-success" %>
				   <input type="reset" value="Reset!" class="btn btn-sm btn-default">
				</td>




				</tr><% end %>
				<tr>
					<th><input type="checkbox" id="selectAll" value="selectAll">All</th>
				    <th style="width: 30%;" class="pretty">Report Name</th>
				    <th style="width: 20%;" class="pretty">Publisher Name</th>
				    <th style="width: 23%;" class="pretty">Publish Date</th>
				    <th style="width: 10%;" class="pretty">Price</th>
					<th style="width: 15%;" >Action</th>
				</tr>
			</thead>
			<tbody>
				<%= form_tag submit_press_admin_press_releases_path, method: :post do %>
			
				<tr>
				  <%if current_user.is_superadmin%>
				  <td><%= submit_tag "Proceed To Next Step", :class => 'btn btn-sm btn-primary'  %></td> <td><%#= submit_tag 'Delete Selected', :class => 'btn btn-sm btn-danger' , :name => 'delete_button', :onclick=>"if(confirm('Are you sure you want to delete the selected reports?'))  return true;  else  return false;" %> </td>
				  <%end%>
				</tr>
				
				<% @reports.each do |report| %>
				<tr>
					<td><%= check_box_tag "report_ids[]", report.id %></td>
				    <td><%= report.title %></td>
				   
				    <td><%= report.publisher.name rescue nil %></td>
				     <td><%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%></td>
				    <td> <i class="fa fa-usd"></i><%= report.one_user %></td>
					<td>
						<%if current_user.is_superadmin%>
						<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_report_path(report) , :class=>'btn btn-xs btn-warning'  %> <a href="/admin/reports/<%= report.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
						<%end%>


					</td>
				</tr>

				<% end %>
				
				<tr>
					<%if current_user.is_superadmin%>
				    <td><%= submit_tag "Proceed To Next Step", :class => 'btn btn-sm btn-primary'  %></td> <td><%#= submit_tag 'Delete Selected', :class => 'btn btn-sm btn-danger' , :name => 'delete_button', :onclick=>"if(confirm('Are you sure you want to delete the selected reports?'))  return true;  else  return false;" %> </td>
				    <% end %>
				</tr>
				
			<% end %>
			</tbody>
		</table>
  </div>

				
	<div class="widget-foot">

	<!-- 	<div class="pull-left">
			<%#= link_to  "Add Report", new_admin_report_path, :class => 'btn btn-sm btn-primary' %>
	
		</div> -->

	
		<div class="pull-right">

	    <%unless params[:q].present?%>
		<%= page_entries_info @reports %>	<br/><%= will_paginate @reports, renderer: BootstrapPagination::Rails %>
		<%end%>
		</div>

		<div class="clearfix"></div>

	</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>




<script language="Javascript" type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script language="Javascript" type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script type="text/javascript">

jQuery(document).ready(function() {
	
jQuery('#q_publish_month_eq').monthpicker();
});
</script>


<script type="text/javascript">
var jq = jQuery.noConflict(); 

jq('#selectAll').click(function() {
   if(this.checked) {
       jq(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      jq(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});
</script>