
<%
meta title: "Reset Password",
description: "You can reset the password."
%>






  <div class="container">
          <div class="forms-only">
         
      
                
              <%= form_tag send_password_path, :method => :post do %>
                    <fieldset>
                      <h3>Did you forget your password?</h3>
                        
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">Your email:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                   
                                        <%= text_field_tag :email, nil, :class => "form-control" %>
                                </div>
                            </div>
                        </div>
                                              
                        <div class="pull-left">
                            <button type="submit" id="send2" class="btn btn-primary"><i class="fa fa-check"></i>Reset Password</button>
                        </div>
                        
                    </fieldset>
           <%end%>
            </div>
        </div>