<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @admin_blog_rss_feed.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @admin_blog_rss_feed.title %>
</p>

<p>
  <strong>Number of feeds:</strong>
  <%= @admin_blog_rss_feed.number_of_feeds %>
</p>

<%= link_to 'Edit', edit_admin_blog_rss_feed_path(@admin_blog_rss_feed) %> |
<%= link_to 'Back', admin_blog_rss_feeds_path %>
