<div class="col-sm-4">
           <%= form_tag blog_search_blogs_path,
                        html: { method: :post } do |f| %>       
        <fieldset>
          <div class="form-group nospace">
            <div class="input-group" style="margin-top: 5px;">
              <%= text_field_tag :q, nil,:class => "form-control input-search" , :placeholder => "Blog Title | Any Keyword",:value=> params[:q] ? params[:q] : ''%>
              <span class="input-group-btn"> <%#= f.submit "Search", :name => nil, :class=>"btn btn-primary"  %>
                <button type="submit" id="send" class="btn btn-primary ">
                  <i class="fa fa-search"></i>
                </button> </span>
            </div>
          </div>
        </fieldset>
        <%end%>  
   </div>
