<% cache "blogs-breadcrumb" do %>
<section class="breadcrumb-wrapper">
      <div class="container">
        <div class="col-sm-3">
          <h2 class="visible-lg visible-md visible-sm">Blogs</h2>
          <h5 class="hidden-lg hidden-md hidden-sm" align="center">Blogs</h5>
        </div>
        <%=render "blog_search"%>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Blogs</li>
        </ol>
      </div>
 </section>
<% end %>