<% cache "all_blog_categories", skip_digest: true do %>
<div id="sidebar-left" style="  width: 140px;">
  <div id="sidebar-nav">
    
  <ul id="" class="nav sf-js-enabled sf-shadow sf-menu sf-vertical sf-js-enabled sf-arrows" style="  font-size: 11px;">
    <% Category.roots.each do |category| %>
    <li class="cat-item" style="  font-size: 11px;"><a href="/blogs/category/<%=category.slug%>" class="sf-with-ul"><%=category.name%><span class="sf-sub-indicator"> </span></a>
        
          <ul class="children" style="display: none; visibility: hidden;">
            <%category.children.each do |children|%>
            <li class="cat-item" style="  font-size: 11px;"><a href="/blogs/category/<%=children.slug%>"><%=children.name%></a>
                 
                <ul class="children" style="display: none; visibility: hidden;">  
                    <%children.children.each do |subchildren|%>
                   <li class="cat-item" style="  font-size: 11px;"><a href="/blogs/category/<%=subchildren.slug%>"><%=subchildren.name%></a></li>
                      <% end %>
                 </ul>
              
            </li>
             <% end %>
          </ul>
      
    </li>
 <% end %>



  
        </ul> <!-- end ul#nav -->
              
  </div><!--end #sidebar-nav-->

     </div>

 <% end %>

