
   <div class="panel panel-default">

    <div class="panel-body">

<span id="scoopit_icon" style="cursor:pointer">
<img src="/assets/scoopit_logo.png" style="width: 90px;max-width: 90px;" />
</span>
<br/>
<span id="medium_icon" style="cursor:pointer" >
<img src="/assets/medium_logo.gif" style="width: 100px;max-width: 100px;" />
</span>

       </div>


</div>






<!-- /well -->
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 7px 15px;  background-color: #01C47E; color:#333">Recent Blogs</div>
    <div class="panel-body" id="sidebar_blog_popular">
      <ul >
     <%@blogs_popular.each do |blog|%>
     <li style="background: url(../assets/bullet.png) 0 17px no-repeat !important;font-size:12px"><%=link_to blog.title, blog_path(blog) %></li>

     <%end%>
     </ul>
       </div>


</div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 7px 15px;  background-color: #DE5C9D; color:#fff">Tags</div>
    <div class="panel-body">
 <div id="tag_cloud">
  <% tag_cloud @popular_tags, %w[css1 css2 css3 css4] do |tag, css_class| %>


<span class="tags">  
      <%= link_to tag.name, tag_path(tag.name),:style=>"  margin-bottom: 10px;" %>
</span>  

  <% end %>
</div>

       </div>


</div>

<div class="panel panel-default">
    <div class="panel-heading" style="padding: 7px 15px;  background-color: #A375FF; color:#fff">Archive</div>
    <div class="panel-body">
<%= render :partial => "blogs/blog_archive" %>

       </div>


</div>
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 7px 15px;  background-color: #01C47E; color:#fff">RSS</div>
    <div class="panel-body" id="sidebar_blog_popular" style="height: 1000px;overflow: auto;">
<!-- 
    <ul >
    <%# @blog_rss_feeds.each do |feed|%>



       <%#  file_handle = open(feed.url)%>
       <%#doc = Nokogiri::XML(file_handle)%>
       <h3><a href="<%#=feed.url%>"><img width="16" style="cursor:pointer" height="16" align="absmiddle" src="<%#= asset_path('rss.png') %>" class="rss_img" /> </a> <%#=feed.title%></h3>
       <%#doc.xpath('//item').take(feed.number_of_feeds).map do |i|%>
      <li style="background: url(../assets/bullet.png) 0 17px no-repeat !important;font-size:12px">  <a href="<%#=  i.xpath('link').inner_text%>" style="color:#0D58A6">   <%#=  i.xpath('title').inner_text%></a><br/>
      <%#=  i.xpath('description').inner_text%><br/>
        <%#=DateTime.parse(i.xpath('pubDate').inner_text).strftime("%A, " "%d " "%B, %Y")%>

      </li>
       <%#end%>
    



    <%#end%>
</ul>  
 -->
       </div>


</div>

