<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>[SUBJECT]</title>
<style type="text/css">
body {
padding-top: 0 !important;
padding-bottom: 0 !important;
padding-top: 0 !important;
padding-bottom: 0 !important;
margin:0 !important;
width: 100% !important;
-webkit-text-size-adjust: 100% !important;
-ms-text-size-adjust: 100% !important;
-webkit-font-smoothing: antialiased !important;
}
.tableContent img {
border: 0 !important;
display: block !important;
outline: none !important;
}
ul{
margin:0;
}
p{
color:#999999;
font-size:13px;
line-height:19px;
margin:0;
}
h2,h1{
color:#555555;
font-size:21px;
font-weight:normal;
margin: 0;
}

h2.white{
color:#ffffff;
}

a{
color:#000000;
}

a.link1{
font-size:13px;
color:#3892E3;
}
a.link2{
padding:8px;
background:#52619E;
font-size:13px;
color:#ffffff;
text-decoration:none;
font-weight:bold;
}
a.link3{
color:#52619E;
font-size:13px;
font-weight:bold;
text-decoration:none;
}

.bgBody{
background: #F6F6F6;
}
.bgItem{
background: #ffffff;
}


</style>

<script type="colorScheme" class="swatch active">
{
"name":"Default",
"bgBody":"F6F6F6",
"link":"ffffff",
"color":"999999",
"bgItem":"ffffff",
"title":"555555"
}
</script>
</head>
<body class='bgBody' leftpadding="0" offset="0" paddingheight="0" paddingwidth="0" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" toppadding="0">
<table align="center" class='bgBody' border="0" cellpadding="0" cellspacing="0" class="tableContent" width="100%">
<tbody>
<tr>
<td valign="top">
<table align="center" class='bgBody' border="0" cellpadding="0" cellspacing="0" style="font-family:helvetica, sans-serif;" width="600">
<tbody>
<tr>
<td width="20">
</td>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
	<!--  =========================== The header ===========================  -->
	<tbody>
		
		
		
		<!--  =========================== The body ===========================  -->
		<tr>
			<td class="movableContentContainer">
				<!--  ==== movable content in the body ===  -->

				<div class="movableContent">
					<table border="0" cellpadding="0" cellspacing="0" width="560">
						<tr>
							<td height="25">
							</td>
						</tr>
						<tr>
							<td>

							</td>
						</tr>
					</table>
				</div>

				<div class="movableContent">
					<table border="0" cellpadding="0" cellspacing="0" width="560">
						<tr>
							<td height="25">
							</td>
						</tr>
						<tr>
							<td align="center" bgcolor="#52619E" height="184" style="background:url('https://www.wiseguyreports.com/assets/bigImg2.png') #52619E no-repeat;background-size:560px 184px;" valign="middle" width="560">
								<div class="contentEditableContainer contentImageEditable">
									<div class="contentEditable">
										<img alt="product image" data-default="placeholder" data-max-width="560" height="184" src="https://wiseguyreports.com/assets/bigImg2.png" width="560" /></div>
								</div>
							</td>
						</tr>
					</table>
				</div>

	


				<div class="movableContent">
					<table border="0" cellpadding="0" cellspacing="0" width="560">
						<tbody>
							<tr>
								<td height="25">
								</td>
							</tr>
							<tr>
								<td>
									<table align="center" class='bgItem' border="0" cellpadding="0" cellspacing="0" style="border:1px solid #dddddd" valign="top" width="558">
										<tbody>
											<tr>
												<td colspan="3" height="16">
												</td>
											</tr>
											<tr>
												<td width="16">
												</td>
												<td>
													<table align="center" class='bgItem' border="0" cellpadding="0" cellspacing="0" valign="top" width="526">
														<tbody>
													
															<tr>
																<td align="left" valign="top">
																	<div class="contentEditableContainer contentTextEditable">
																		<div class="contentEditable">
																			<p>
																				<%= simple_format(@newsletter.body) %></p>
																		</div>
																	</div>
																</td>
															</tr>
															<tr>
																<td height="20">
																</td>
															</tr>
											
														</tbody>
													</table>
												</td>
												<td width="16">
												</td>
											</tr>
											<tr>
												<td colspan="3" height="16">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		

<div class='movableContent'>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
	<tr>
		<td height="30">
		</td>
	</tr>
	<tr>
		<td bgcolor="#006DCC">
			<table align="center" bgcolor="#006DCC" border="0" cellpadding="0" cellspacing="0" width="560">
				<tbody>
					<tr>
						<td align="left" bgcolor="#006DCC" valign="top" width="416" style="    padding-left: 20px;">
							<table bgcolor="#006DCC" border="0" cellpadding="0" cellspacing="0" width="516">
								<tbody>
									<tr>
										<td colspan="3" height="28">
										</td>
									</tr>
									<tr>
										
										<td valign="middle">
											<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable">
													<p style="color:#fff;font-size:12px;line-height:19px;">
															WISE GUY RESEARCH CONSULTANTS PVT LTD <br/>
															House No: 1, Ekmat Society <br/>
															Jaywant Nagar, Nagpur 440027 <br/>
															Maharashtra, India <br/>
												</div>
											</div>
										</td>
										
<td valign="middle">
<div class="contentEditableContainer contentTextEditable">
<div class="contentEditable">

</div>
</div>
</td>																								
<td valign="middle">
											<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable">
													<p style="color:#fff;font-size:12px;line-height:19px;text-align: right;">
															
																Ph: +1-646-845-9349 (US)<br/>
																Ph: +44 208 133 9349 (UK)<br/>
																info@wiseguyreports.com<br/>
																
               
								                 <a href="https://twitter.com/WiseGuyReports" ><img src="https://www.wiseguyreports.com/assets/twitter.png" width="23"></a>&nbsp;
								                <a href="https://www.facebook.com/pages/WiseGuy-Research-Consultants-Pvt-Ltd/1509220196008846" ><img src="https://www.wiseguyreports.com/assets/facbook.png" width="23" ></a>&nbsp;
								                <a href="https://plus.google.com/100535494506775102718" rel="publisher" ><img src="https://www.wiseguyreports.com/assets/googleplus.png" width="22" ></a>&nbsp;
								                  <a href="https://www.linkedin.com/company/wise-guy-research-consultants-pvt-ltd-?trk=biz-companies-cym"><img src="https://www.wiseguyreports.com/assets/linkedin.png" width="23" ></a>
                  
              </p>
												</div>
											</div>
										</td>
									</tr>
<tr>
										<td colspan="3" height="28">
										</td>
									</tr>																							</tbody>
							</table>
						</td>
						
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>
</div>
			


				<div class='movableContent'>
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
						<tr>
							<td height="28">
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<div class="contentEditableContainer contentTextEditable">
									<div class="contentEditable">
										<p style="color:#A8B0B6; font-size:13px;line-height: 16px;">
								You received this email because you are subscribed to Wiseguy Reports.
										</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>

				<div class='movableContent'>
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
						<tr>
							<td height="28">
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
						
									
						
								<div class="contentEditableContainer contentTextEditable">
									<div class="contentEditable">
										<a target='_blank' href="https://www.wiseguyreports.com/block_invitation?user_id=<%=@subscriber.id%>" style="line-height: 20px;color:#A8B0B6; font-size:13px;">Unsubscribe from the list</a></div>
								</div>
							</td>
						</tr>
					</table>
				</div>


			</td>
		</tr>
		<!--  =========================== The footer ===========================  -->
		
		
		
		<tr>
			<td height="28">
			</td>
		</tr>
	</tbody>
</table>
</td>
<td width="20">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>


													</body>
</html>