 



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

  <!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="fa fa-file-o"></i>Website</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
      <!-- Divider -->
      <span class="divider">/</span>
      <a href="#" class="bread-current">Website</a>
    </div>

    <div class="clearfix"></div>

  </div>
  <!-- Page heading ends -->

  <!-- Matter -->

  <div class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">
                Website
              </div>
              
              <div class="clearfix"></div>
            </div>
<div class="widget-content">
              <div class="padd">
                <br/>
            <%#= @category.nil? ? 'Main categories' : @category.name %>
          <p>
  <strong>Website Name:</strong>
  <%= @website.website_name %> 
</p>

<p>
  <strong>Username:</strong>
  <%= @website.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @website.password %>
</p>

            </div>

          </div>
            <div class="widget-foot">
          
            

              <button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
                      Back
                    </button>

              <div class="clearfix"></div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>












