


<div id="credit_card_modal" class="modal fade in" aria-hidden="false" style="display: none;">
<div class="modal-dialog" style="width:60%;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" >×</button>
			<h3 class="title">Click pay to proceed</h3>
		</div>
		<div class="modal-body" id="existing_addr_main_body">
    <form method="POST" name="customerData" action="/transaction/ccavRequestHandler" id="cc_avenue_form">
      
            <table width="40%" height="100" border='0' align="center">
                <tr>
                    <td><input type="hidden" name="merchant_id" value="52815"/></td>
                </tr>
                <tr>
                 <td><input type="hidden" name="order_id" value="<%= @order_id %>"/></td>
                 <td><input type="hidden" name="shop_id" value="<%= @cart['id'] %>"/></td>
                </tr>
           

                <% discount_rate = get_rate_after_discount(@cart,@discount) %>


                   <td><input type="hidden" name="amount" value="<%= number_with_precision(discount_rate , :precision => 2).to_s.gsub(",","").to_f %>"/></td>
                   <td><input type="hidden" name="currency" value="<%= @cart['currency'] %>"/></td>
   


                <tr>
                   <td><input type="hidden" name="redirect_url" value="https://wiseguyreports.com/transaction/ccavResponseHandler"/></td>
                </tr>
                <tr>
                   <td><input type="hidden" name="cancel_url" value="https://wiseguyreports.com/transaction/cancel"/></td>
                </tr>
                <tr>
                  <td><input type="hidden" name="language" value="EN"/></td>
                </tr>
              
                <tr>
                 <td><input type="hidden" name="billing_name" id="billing_name" value="<%=current_user.full_name if current_user%>"/></td>
                </tr>
                <tr>
                   <td><input type="hidden" name="billing_address" id="billing_address" value="<%=current_user.customer.full_address if current_user%>"/></td>
                </tr>
                <tr>
                   <td><input type="hidden" name="billing_city" id="billing_city" value="<%=current_user.customer.city if current_user%>"/></td>
                </tr>
               <!--  <tr>
                    <td>Billing State   :</td><td><input type="hidden" name="billing_state" value="MP"/></td>
                </tr> -->
                <tr>
                  <td><input type="hidden" name="billing_zip" id="billing_zip" value="<%=current_user.customer.zip_code if current_user%>"/></td>
                </tr>
                <tr>
                   <td><input type="hidden" name="billing_country" id="billing_country" value="<%=current_user.customer.country.name if current_user%>"/></td>
                </tr>
                <tr>
                   <td><input type="hidden" name="billing_tel" id="billing_tel" value="<%=current_user.customer.phone_no if current_user%>"/></td>
                </tr>
                <tr>
                    <td><input type="hidden" name="billing_email" id="billing_email" value="<%=current_user.email if current_user%>"/></td>
                </tr>
                
                <tr>
                    <td></td><td><INPUT TYPE="submit" value="CheckOut"></td>
                </tr>
            </table>
          </form>

	</div>
</div>
</div>

