<%#= form_for "user_session", :url => signin_user_path, :method => 'post', :html => {:class=>"form-horizontal"} do |f| %>
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Email address:<span>*</span></label>
	<div class="col-sm-9">
		<%if current_user%>
		  <%= text_field_tag :existing_email,nil, :class=>"form-control", :value=>"#{current_user.email}", :readonly=>true , :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%>
		<%else%>
		  <%= text_field_tag :existing_email,nil,  :class=>"form-control", :placeholder=>"Your email:" , :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
		<%end%>
	</div>
</div>
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Password:<span>*</span></label>
	<div class="col-sm-9">
		<%= password_field_tag :existing_password ,nil, :class=>"form-control", :placeholder=>"Your password:"  %>
	</div>
</div>

<div class="form-group">
	<label for="email2" class="col-sm-3 control-label"></label>
	<div class="col-sm-9">
		 <a href="/password_resets/new" id="reset-password-toggle">Did you forget your password?</a>&nbsp; &nbsp;
	</div>

</div>


<%#end%>

  <div class="row">
    <div class="form-group col-sm-12">
        <label for="password"></label>
        <div class="input-group">
          
        </div>
    </div>
</div>
<!-- <div align="center">
  <img alt="" src="/assets/OR.png"><br/><br/><br/><br/>

   <a href="/auth/linkedin?type=checkout" class="button3 g-signOn"><img width="25" height="25" alt="Google" src="/assets/linkedin_button.png"> Log in with Linkedin </a>
     </div> -->