<div id="hdfc_modal" class="modal fade in" aria-hidden="false" style="display: none;">
<div class="modal-dialog" style="width:60%;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" >×</button>
			<h3 class="title">Click pay to proceed</h3>
		</div>
		<div class="modal-body" id="hdfc_existing_addr_main_body">
    <form method="POST" name="frmTransaction" action="https://secure.ebs.in/pg/ma/payment/request" id="hdfc_form" class="form-horizontal">
      <% discount_rate = get_rate_after_discount_hdfc(@cart,@discount) %>




             <div class="form-group">
                  <label for="first-name1" class="col-sm-3 control-label">Name:<span>*</span></label>
                  <div class="col-sm-9">
 
                    <input type="hidden" name="channel" value="10"/>
                    <input type="hidden" name="account_id" value="18896"/>
                    <input type="hidden" name="reference_no" value="<%= @order_id %>"/>
                    <input type="hidden" id="hdfcamount" name="amount" value="<%=@price.round(2)%>"/>
                    <input type="hidden" name="mode" value="LIVE"/>
                    <input type="hidden" id="hdfccurrency" name="currency" value="<%=@currency%>"/>
                    <input type="hidden" name="description" value="Test Product" />
                    <input type="hidden" name="return_url" value="https://www.wiseguyreports.com/hdfc/response" />

                    <input type="text" name="name" id="hdfc_billing_name" class="form-control" value=""/>                  
                  </div>
                   
              </div>

             <div class="form-group">
                  <label for="first-name1" class="col-sm-3 control-label">Address:<span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" name="address" id="hdfc_billing_address" class="form-control" value="" />
                  </div>
                   
              </div>

             <div class="form-group" >
                  <label for="first-name1" class="col-sm-3 control-label">City:<span>*</span></label>
                  <div class="col-sm-9">
                    <input type="text" name="city" id="hdfc_billing_city" class="form-control" value=""/>
                  </div>
                   
              </div>

           
              <div class="form-group" >
                  <label for="first-name1" class="col-sm-3 control-label">Country:<span>*</span></label>
                  <div class="col-sm-9">
                   <input type="text" name="country" id="hdfc_billing_country" class="form-control" value="IND"/>
                  </div>
                   
              </div>
              <div class="form-group">
                  <label for="first-name1" class="col-sm-3 control-label">Postal Code:<span>*</span></label>
                  <div class="col-sm-9">
                   <input type="text" name="postal_code" id="hdfc_billing_zip" class="form-control" value=""/>
                  </div>
                   
              </div>
              <div class="form-group" >
                  <label for="first-name1" class="col-sm-3 control-label">Phone No:<span>*</span></label>
                  <div class="col-sm-9">
                   <input type="text" name="phone" id="hdfc_billing_tel" class="form-control" value=""/>
                  </div>
                   
              </div>
              <div class="form-group" >
                  <label for="first-name1" class="col-sm-3 control-label">Email:<span>*</span></label>
                  <div class="col-sm-9">
                   <input type="text" name="email" id="hdfc_billing_email" class="form-control" value=""/>
          
                  </div>
                   
              </div>
                 <div class="form-group">
                  <label for="first-name1" class="col-sm-3 control-label">Card Name:<span>*</span></label>
                  <div class="col-sm-9">
                   <input type="text" name="name_on_card" id="hdfc_card_name" class="form-control" value=""/>
              
                  </div>
                   
              </div>
             <div class="form-group">
                  <label for="first-name1" class="col-sm-3 control-label">Card Number:<span>*</span></label>
                  <div class="col-sm-9">
                   <input type="text" name="card_number" id="hdfc_card_number" class="form-control" value=""/>
              
                  </div>
                   
              </div>
               <div class="form-group">
                  <label for="first-name1" class="col-sm-3 control-label">Card Expiry:<span>*</span></label>
                  <div class="col-sm-9">
                   <input type="text" name="card_expiry" id="hdfc_card_expiry" class="form-control" value=""/>
             
                  </div>
                   
              </div>
               <div class="form-group">
                  <label for="first-name1" class="col-sm-3 control-label">CVV:<span>*</span></label>
                  <div class="col-sm-9">
                   <input type="text" name="card_cvv" id="hdfc_cvv" class="form-control" value=""/>
                   <input type="hidden" id='hdfc_secret' name="secure_hash"/>
                  </div>
                   
              </div>
              <div class="form-group">
                  <label for="email2" class="col-sm-3 control-label"></label>
                  <div class="col-sm-9">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>CheckOut</button> 
                  </div>
              </div>

          </form>




	</div>
</div>
</div>

</div>






