<%#= form_for "user", :url => create_user_path, :method => 'post', :html => {:class=>"form-horizontal",:id=>"new_user"} do |f| %>

<style type="text/css">
#phone_no{
    border: 1px solid #D5D5D5;
    border-bottom-width: 2px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1) inset;
    color: #555555;
    height: 32px;
    transition: 0.3s ease-in-out 0s;
    border-radius: 0;

}
</style>
 <fieldset>
 	 <div class="row">
<div class="form-group" >
	<label for="email2" class="col-sm-3 control-label">Name:<span>*</span></label>
	<div class="col-sm-5" style="margin-bottom:10px">
		<%= text_field_tag :first_name ,nil,:class=>"form-control" , :placeholder=>"First Name"%>

	</div>
	<div class="col-sm-4" >
		<%= text_field_tag :last_name ,nil,:class=>"form-control", :placeholder=>"Last Name" %>

	</div>
</div>
</div>
 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Email address:<span>*</span></label>
	<div class="col-sm-9">
		<%= text_field_tag :email , nil,:class=>"form-control", :placeholder=>"Email" %>
	</div>
</div>
</div>
 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Your password:<span>*</span></label>
	<div class="col-sm-5" style="margin-bottom:10px">
		<%= password_field_tag :password , nil,:class=>"form-control", :placeholder=>"Your password:", :id=>"password"%>

	</div>
	<div class="col-sm-4">
		<%= password_field_tag :password_confirmation ,nil, :class=>"form-control", :placeholder=>"Confirm password", :id=>"password_confirmation" %>

	</div>
</div>
</div>

 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Your Company:<span>*</span></label>
	<div class="col-sm-9">
		<%= text_field_tag :company_name ,nil, :class=>"form-control", :placeholder=>"Company Name" %>
	</div>
</div>
</div>
 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Job Title:<span>*</span></label>
	<div class="col-sm-9">
		<%= text_field_tag :job_title ,nil, :class=>"form-control", :placeholder=>"Job Title" %>
	</div>
</div>
</div>

 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Address:<span>*</span></label>
	<div class="col-sm-5" style="margin-bottom:10px">
		<%= text_field_tag :address_street1 ,nil,:class=>"form-control" , :placeholder=>"Address street1"%>
	</div>
	<div class="col-sm-4">
		<%= text_field_tag :address_street2 ,nil,:class=>"form-control", :placeholder=>"Address street2" %>

	</div>
</div>
</div>
 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label"></label>
	<div class="col-sm-5" style="margin-bottom:10px">
		<%= text_field_tag :zip_code ,nil, :class=>"form-control", :placeholder=>"Zip Code/Postal Code", :id=>"zip_code",  :pattern => '\d+' %>
	</div>
</div>
</div>
<div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Phone Number:<span>*</span></label>
	<div class="col-sm-9">
		<%= text_field_tag :phone_no ,nil, :class=>"form-control", :placeholder=>"Phone Number:", :id=>"phone_no"%>
	</div>
</div>
</div>
 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">City:<span>*</span></label>
	<div class="col-sm-9">
		<%= text_field_tag :city , nil,:class=>"form-control", :placeholder=>"City" ,:pattern=>'^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$'%>
	</div>
</div>
</div>
 	 <div class="row">
<div class="form-group">
	<label for="email2" class="col-sm-3 control-label">Country:<span>*</span></label>
	<div class="col-sm-9">
	<%=select_tag "country_id", options_for_select(@countries.map {|c| [c["name"],c["id"]]}),  :prompt => "--select country--", :class => 'form-control',:id=>"country_select" %> 
	</div>
</div>
</div>
 </fieldset>
<!-- <div class="form-group">
	<label for="email2" class="col-sm-3 control-label"></label>
	<div class="col-sm-9">
		<%#= recaptcha_tags :display => { :theme => "white" }%>
	</div>
</div> -->














<!-- <div class="pull-right">

	<button type="submit" id="send" class="btn btn-primary">
		<i class="fa fa-check"></i>Continue to next step
	</button>
</div> -->

<%#end%>


<!--   <div class="row">
    <div class="form-group col-sm-12">
        <label for="password"></label>
        <div class="input-group">
          
        </div>
    </div>
</div> -->
<!-- <div align="center">
  <img alt="" src="/assets/OR.png"><br/><br/><br/><br/>

   <a href="/auth/linkedin?type=checkout" class="button3 g-signOn"><img width="25" height="25" alt="Google" src="/assets/linkedin_button.png"> Log in with Linkedin </a>
     </div> -->