

        <div class="shopping-cart-item">

                        <a href="/remove_item?shopping_cart_item=<%=shopping_cart_item.id%>" class="delete" style="color:red"><i class="fa fa-times"></i></a>
                        <div class="row">
                            <div class="col-md-2">

                                <%if shopping_cart_item.item.report_image?%>

                            	  <%= image_tag shopping_cart_item.item.report_image_url(:thumb), :class=>"img-thumbnail img-responsive"  %> 
                                <%else%>
                                  <%= image_tag shopping_cart_item.item.publisher.report_image_url(:thumb), :class=>"img-thumbnail img-responsive"  %> 
                                <%end%>                              
                            </div>
                            <div class="col-md-5">
                                   <h3 class="hidden-lg hidden-md hidden-sm" align="center"> Report Title </h3>
                                <h4 style="color:#006DCC"><%= shopping_cart_item.item.title %></h4>
                                <p ><b class="datecolor">Edition: </b><%= get_edition(shopping_cart_item.purchase_type)%></p>
                                <p ><b class="datecolor">Publisher: </b><%=  shopping_cart_item.item.publisher.name%></p>
                            </div>
                            <div class="col-md-1">

                            <%= form_for "item", :url => update_quantity_path, :method => 'post' , :html => {:class=>"form-horizontal",:id=>"update_quantity"} do |f| %>                            
                                <%= f.text_field :quantity , :value=> shopping_cart_item.quantity,:class=>"form-control" %> 
                                <%= f.hidden_field :shopping_cart_item , :value=> shopping_cart_item.id, :class=>"form-control"%>  
                                <%= f.submit "Update", :class=>"btn btn-info btn-xs",:style=>"margin-top:25px"%>

                             <%end%>
                            </div>
                              <h3 class="hidden-lg hidden-md hidden-sm" align="center"> Quantity </h3>
                            <div class="col-md-2" style="padding-left: 50px;">
                                
                                <p class="small-price">
                         <!--        <i class="fa fa-<%#= @cart.currency.downcase%>"></i>&nbsp;<%#= number_with_precision(shopping_cart_item.price, :precision => 2, :delimiter => ',') %>  -->

                            <%= get_currency_price(shopping_cart_item) %> per item</p>
                            </div>
                              <h3 class="hidden-lg hidden-md hidden-sm" align="center"> Price </h3>
                            <div class="col-md-2">
                                 
                             
                             <%if shopping_cart_item.reload.discount.present?%>
                                <p class="total-price" style="text-align: center; font-size:14px">
                              <b class="datecolor" >Discount: </b><%= shopping_cart_item.reload.discount rescue nil %>
                            </p>
                            <p></p>
                            <p class="total-price" style="font-size: 15px;" ><%= get_currency_grand_price(shopping_cart_item,shopping_cart_item.reload.discount) %></p>
                            <%else%>
                              <p class="total-price" style="text-align: center;">
                                <%= get_currency_total_price(shopping_cart_item) %>
                            </p>
                            <%end%>
                            </div>
                        </div>
                    </div>





