
<section class="content " id="eshop" style="padding:100px 0 450px">
	<div class="container ">



		
		<div class="col-sm-10">

<% if @status == "Success"%>

<h3>Thank you !! Your transaction is succesfull. Your order has been placed with us.. The report will be dispatched to you within 24 - 48 working hours.</h3>

<%else%>
<h3>Transaction Unsucessfull !! It seems something went wrong. Please try again.</h3>
<%end%>

	</div>
	</div>
</section>






