
<center>
<%
  merchantData=""
  working_key="A7692AFF23BD45B9D70A34D6FAC55335"    #Put in the 32 Bit Working Key provided by CCAVENUES.  
  access_code="AVUC03BL67BJ89CUJB"    #Put in the Access Code in quotes provided by CCAVENUES.
  params.each do |key,value|
      merchantData += key+"="+value+"&" 
  end
  crypto = Crypto.new
  encrypted_data = crypto.encrypt(merchantData,working_key)
%>


  <form method="post" name="redirect" action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction"> 
    <input type="hidden" name="encRequest" value="<%=encrypted_data%>" />
    <input type="hidden" name="access_code" value="<%=access_code%>" />
  </form>
</center>


<script language="javascript">document.redirect.submit();</script>
