<%
meta title: "#{@product.title}",
description: "Check #{@product.title} – The research report highlights market research and industry analysis driven by in-depth business relevant news."
%>

    <script type="text/javascript" src="https://js.stripe.com/v2/" ></script>
    <%= javascript_include_tag "jquery.payment.js" ,"checkout.js" ,"jquery.blockUI.js","loader.js"%>
    
      
  <section class="content bg-color-2" id="eshop">
    	<div class="container">

            <div class="shopping-cart">
               
           <%= form_tag "/express_checkout", onsubmit: "completeOrder();return(false);", :id => "review_order_form" do %>
   

    <div class="bubble">
                    <div class="rectangle" style="background-color: #009CD6;width:101%;text-align:center">
                      <div class="col-sm-2">
                      
                              
                            </div>
                            <div class="col-sm-5 " >
                               <h4 style="color:#fff" class="hidden-xs"> Report Title </h4>   
                               <h4 style="color:#fff" class="visible-xs"> Report </h4>
                            </div>
                            <div class="col-sm-1 hidden-xs">
                                
                            <h4 style="color:#fff">  Quantity </h4>
                            </div>
                            <div class="col-sm-2 hidden-xs">
                              <h4 style="color:#fff">  Price </h4>
                            </div>
                            <div class="col-sm-2 hidden-xs">
                             <h4 style="color:#fff; float:left;">  Total </h4>
                            </div>




                    </div>
                    <div class="triangle-l" ></div>

                    <div class="info" >
                        <ul class="nav vertical-nav" id="place_order_cart">

                      <div class="shopping-cart-item">
                        
                      <div class="row">
                  
                          <div class="col-sm-2">
      
        


            
                          
                          
                        <% if Report.category_name_image_hash[@product.category_id][:medium_logo].present?%>
                        
                          <img src="<%=Report.category_name_image_hash[@product.category_id][:medium_logo]%>" class="img-thumbnail img-responsive" >
                         
                        <%else%>
                            <%= image_tag Report.publisher_name_image_hash[@product.publisher_id][:logo],:class=>"img-thumbnail img-responsive"%> 
                        <%end%>
                          
                      

                          </div>
                          <div class="col-sm-5" >
                              <h5><%=@product.title%></h5>
                                <p ><b class="datecolor">Edition: </b><%= @edition[0..-5].split("_").join(" ")%></p>
                                  <p ><b class="datecolor">Publisher: </b><%=Report.publisher_name_image_hash[@product.publisher_id][:name] %></p>
                          </div>
                          <div class="col-sm-1">
                              <p class="quantity">1 qty</p>
                          </div>
                          <div class="col-sm-2" >
                              <p class="small-price" style="font-size: 13px;"><%= get_checkout_total(@product,@edition) %>&nbsp;per item</p>
                          </div>
                          <div class="col-sm-2">
                              <p class="total-price" style="font-size: 15px;float: left;"><%= get_checkout_total(@product,@edition) %>
                              <br/><br/>
                                <%= hidden_field_tag "report_id", @product.id %>
                                <%= hidden_field_tag "price", @price %>
                                <%= hidden_field_tag "edition", @edition %>
                              </p>
                           
                          </div>
                      </div>
                  </div>
  
                        </ul>

                    </div>
                </div>

       <div class="bubble" style="margin-top: 20px;margin-bottom: 20px;">
      

          <div class="info" style="overflow-y:auto;">
         
           <div class="col-md-11 form-horizontal">
              <%if current_user%>
                <%= render "exisiting_user_form"%>
              <%else%>
              <div class="form-group" >
                <label for="last-name2" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                  <strong>Are you Existing Customer?</strong>

                </div>
              </div>

              <div class="form-group" >
                <label for="email2" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
 
                                 <%=radio_button_tag 'receive_updates', 'yes',  {:class => "relat_atu relat_atu_yes form-control"}%>  Yes &nbsp;&nbsp;&nbsp;
                                  <%=radio_button_tag 'receive_updates', 'no',  {:class => "relat_atu relat_atu_no form-control"}%>  No                
                <!--  <%#= radio_button 'relat', 'atu', 'yes', {:class => "relat_atu relat_atu_yes"} %>   Yes &nbsp;&nbsp;&nbsp;
                  <%#= radio_button 'relat', 'atu', 'no', {:class => "relat_atu relat_atu_no"} %>    No -->
                </div>
              </div>

              <div id="existing_user" style="display:none">
                <%= render "exisiting_user_form"%>
              </div>
              <div id="new_user" >
                <%= render "new_user_form"%>
              </div>
              <%end%>
            </div>
   
                         
          </div>
        </div>

    
            
<div class="bubble">
          

          <div class="info">
            <p>  
          <h4 style="padding: 0px 20px;"><strong>Terms and Conditions:</strong></h4>
          </p>
                      <ul style="overflow-y:auto;margin-top: 20px;margin-bottom: 20px;height: 350px;">

                      <li style=" line-height: 25px; ">International payments will be accepted only in USD (United States Dollars). For payments done from within India the INR amount should be the equivalent of the USD price quoted for the report plus 14.50% service tax.</li>

                      <li style=" line-height: 25px; ">Reports purchased directly through the website or otherwise will be dispatched within 24 hours except purchases done on weekend or public holidays will be delivered the next working day.</li>

                      <li style=" line-height: 25px; ">WiseGuy Research Consultant Private Limited will not be held responsible for any inaccuracies with the content of the report. WiseGuy Research Consultant Private Limited does not have any control over any content of the report by our partners and is not liable to refund the payment in part or full once report is dispatched.</li>

                      <li style=" line-height: 25px; ">WiseGuy Research Consultant Private Limited shall not be liable to Buyer for any loss or damage suffered by Buyer directly or indirectly, as a result of Seller's failure to deliver or delay in delivering the product/ report or failure to perform, or delay in performing, any other term or condition hereof, where such failure or delay is caused by fire, flood, natural disaster, labour trouble (including without limitation strike, slowdown and lockout), war, riot, civil disorder, embargo, government regulations or restrictions of any and all kinds, expropriation of plant by federal or state authority, interruption of or delay in transportation, power failure, inability to obtain materials and supplies, accident, explosion, act of God or other causes of like or different character beyond Seller's control and the time for delivery specified herein shall be extended during the continuance of such conditions and for a reasonable time thereafter.</li>

                      <li style=" line-height: 25px; ">Content of any report cannot be re-published or publicly shared without prior written consent of WiseGuy Research Consultant Private Limited.</li>

                      <li style=" line-height: 25px; ">Your use of the Service, including any content, information or functionality contained within it, is provided "as is" and "as available" with no representations or warranties of any kind, either expressed or implied, including but not limited to, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. You assume total responsibility and risk for your use of this Report.</li>

                     
                      <li style=" line-height: 25px; ">No claim of charge back or refund shall be admissible under any circumstances as the product (Market Research Journal) falls under intellectual property and contains lot of confidential information. </li>


                      <li style=" line-height: 25px; ">Due to the confidential nature of the information contained in our market research reports, cancellation of orders cannot be accepted after the report has been purchased and delivered.</li>

                      <li style=" line-height: 25px; ">All disputes are subjected to the jurisdiction of the courts of Nagpur, India.</li>

                      <li style=" line-height: 25px; ">Any questions regarding the Terms of Service should be addressed to sales@wiseguyreports.com or you can call us at +1 (646) 845 9349 (US) or +44 208 133 9349 (UK)</li>
                      </ul>
                      <p style="padding: 15px 20px 0px;"><input type="checkbox" name="terms_condition" id="term_condition"> &nbsp;&nbsp;I read and Accept the Terms and Conditions</p>
                  </div>
          </div>
                <!-- SHOPPING CART FOOTER -->
                <div class="shopping-cart-footer" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-md-5">
                           
            <div class="bubble">
                    <div class="rectangle rectanglebgcolor" >
                        <h2>Payment Method</h2>
                    </div>
                    <div class="triangle-l" ></div>

                    <div class="info" style="height:300px">
                                  <div class="shopping-cart-item" style="margin-top: 10px;border: none;padding: 0px 25px 20px 40px;">
                           <fieldset>
                              <%= tag :meta, :name => "stripe-key", :content => ENV['PUBLISHABLE_KEY'] %>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                    
                                            <div class="radio" >
                                                <label><input type="radio" name="paymentmethods" class="hdfc" value="hdfc" checked> &nbsp; &nbsp; <img src="/assets/visa-mastercard-logo-3.jpg" style="margin-top: -25px;width: 100px;" class="img-responsive"></label>
                                            </div>
                                            <br/>
                                    
                                            <div class="radio" >

                                                <label><input type="radio" name="paymentmethods" class="credit_card" value="credit_card"> &nbsp; &nbsp; <img src="/assets/ccavenue.png" style="margin-top: -26px;padding-left: 5px;width: 110px;" class="img-responsive"></label>
                                            </div> <br/> 
                                             
                                            <div class="radio" >
                                                <label><input type="radio" name="paymentmethods" class="paypal" value="paypal"> &nbsp; &nbsp; <img src="/assets/paypal.png" style="margin-right:9px;width:120px;margin-top: -26px;" class="img-responsive"></label>
                                            </div> <br/> 
                                        
                                        <div class="radio" >
                                            <label><input type="radio" name="paymentmethods" class="wiretransfer" value="wiretransfer"> &nbsp; &nbsp; <img src="/assets/wire_transfer.png" style="margin-right:9px;width:120px;margin-top: -34px;" class="img-responsive"></label>
                                        </div>                                
                                    </div>
                                </div>
                              
                        
                            </div>
                            
                      
                        </fieldset>
                      </div>

                    </div>
                </div>







                   
                   
           
                           
                        </div>

  <div class="col-md-7">
            <div class="bubble">
               
  <div class="rectangle rectanglebgcolor" >
                        <h2>Summary</h2>
                    </div>
                    <div class="triangle-l" ></div>

                    <div class="info" style="padding: 35px 25px 1px 25px;">
                      
           <div class="table-responsive">         
<table class="table">
<tr><td width="50%">
                            <p class="total-price-title">Subtotal:</p>
                       <!--      <p class="total-price-title">Shipping:</p>
                            <p class="total-price-title">Payment fee:</p>-->
                            <p class="total-price-title">Discount:</p> <br/> <hr>
                            <p class="total-price-title">Total:</p>
    </td>
    <td>
                <p class="total-price-title text-right"> <!-- <i class="fa fa-<%#= @cart.currency.downcase%>"></i>&nbsp; --><%#= number_with_precision(@cart.total, :precision => 2, :delimiter => ',') %> <%= get_checkout_total(@product,@edition) %></p>
                         <!--    <p class="total-price-title text-right">$0</p>
                            <p class="total-price-title text-right">$0</p>-->
                            <p class="total-price-title text-right">0</p><br/> <hr>
                          
                           
                            <p class="total-price-title text-right" style="font-size: 22px;"><%= get_checkout_total(@product,@edition) %></p>
    </td>
</tr>

<tr>   <td width="50%" style="padding-top:18px">
<a  href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">Use Promo Code</a>

</td>



   <td>        <button type="submit" class="btn btn-success btn-lg btn-block">Place Order</button></td>

</tr>
</table>


</div>
                    
                    
            
                
                            <%end%>        
                    
                   

                    </div>
                </div>


    </div>




                    </div>
                </div>
            </div>
                
            <%= render "ccavenue_buynow_form" %>  
            <%= render "hdfc_gateway_modal" %>  
        </div>
    </section>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Enter Promo Code</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for( "promo_code" , :url=>{:controller=>"shopping_carts",:action=>"get_promo_code"}, :html => {:class=>"form-horizontal", :id=>"promo_code_form"}) do |f| %>

                       
                             <div class="form-group">
                                    <label for="last-name2" class="col-sm-3 control-label">Discount Code:<span>*</span></label>
                                    <div class="col-sm-9">
                                        <%= text_field_tag "promo_code", "", :class => 'form-control' ,:id=>"promo_code_field"%>   
                                    </div>
                                </div>
                      
                        <div class="modal-footer" style="padding: 30px 0px 20px 0px;text-align: left;">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    <%end%>
                  </div>
                </div>
              </div>
           </div>



           
           </div>






 <script type="text/javascript">
    $('#card_no').payment('formatCardNumber');
    $('#cvc').payment('formatCardCVC');
   $("input[name=receive_updates]").click(function() {
       if($(this).attr('id') == 'receive_updates_yes') {
            $('#new_user').css("display", "none");
            $('#existing_user').show();
                    
       }

       else {
             $('#new_user').css("display", "block");  
            $('#existing_user').hide();
       }
   });  
</script>

<style type="text/css">
  
  .info li {
    list-style-type: disc;
}
</style>