



 <section class="content bg-color-2" id="eshop">
    	<div class="container">
            
            <div class="shopping-cart-header row">
                <div class="col-md-3 active">
                    <img src="/assets/cart1.png" height="40" width="40">
                    <p>Your Cart</p>
                </div>
                  <div class="col-md-3">
                     <img src="/assets/pencil_dark.png" height="40" width="40">
                    <p>Checkout</p>
                </div>
                <div class="col-md-3">
                           <img src="/assets/profile_dark.png" height="40" width="40">
                    <p>Your Detail</p>
                </div>
              
                <div class="col-md-3">
                               <img src="/assets/tick_dark.png" height="40" width="40">
                    <p>Summary</p>
                </div>
            </div>















            <div class="shopping-cart">
                <%if @cart["shopping_cart_items"].empty?%>
                    <div class="col-md-3">
                        <h4>You currently have no items in your basket</h4>
                    </div>
                     <div class="col-md-3 col-xs-9">
                        <a href="/reports" class="btn btn-xs btn-warning">Continue Shopping</a>
                    </div>
                <%else%>
                <!-- <form action="shoppingcart-part1.html"> -->
                    <!-- SHOPPING CART ITEM -->



        <div class="bubble">
                <div class="rectangle visible-lg visible-md visible-sm" style="background-color: #009CD6;width:101%" >
                                               
                <div class="col-md-2">
                  
                          
                        </div>
                        <div class="col-md-5" style="padding-left: 63px;">
                           <h4 style="color:#fff"> Report Title </h4>
                        </div>
                        <div class="col-md-1">
                            
                        <h4 style="color:#fff">  Quantity </h4>
                        </div>
                        <div class="col-md-2"  style="padding-left:70px">
                          <h4 style="color:#fff">  Price </h4>
                        </div>
                        <div class="col-md-2" style="padding-left:50px">
                         <h4 style="color:#fff" >  Total </h4>
                        </div>

                </div>
                <div class="triangle-l visible-lg visible-md visible-sm" ></div>

                <div class="info" >
                    <ul class="nav vertical-nav">
                      <%= render 'shopping_cart_item', :collection => @cart["shopping_cart_items"] %>
                    </ul>

                </div>
            </div>


                 
            
                    

                    
                    <!-- SHOPPING CART FOOTER -->
                    <div class="shopping-cart-footer">
                        <div class="row">
                            <div class="col-md-3">
                                <!--<button type="submit" class="btn btn-danger btn-lg btn-block">Continue</button>-->
                                <a href="/reports" class="btn btn-warning">Continue Shopping</a>
                               
                            </div>
                            <div class="col-md-2 col-md-offset-3">
                                <%if current_user.present? %>
                                  <% if current_user.customer.present?%>
                                    <a href="/place_order" class="btn btn-success ">Proceed to Checkout</a>
                                  <%else%>
                                    <a href="/manage_address" class="btn btn-success ">Proceed to Checkout</a>
                                  <%end%>
                                <%else%>
                                  <a href="/checkout" class="btn btn-success ">Proceed to Checkout</a>
                                <%end%>
                                <a  href="javascript:void(0);" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">Use Promo Code</a>
                            </div>
                            <div class="col-md-1 col-xs-3">
                                <p class="total-price-title">Total:</p>
                                
                            </div>
                            <div class="col-md-3 col-xs-9">
                                <p class="total-price">
                                   <!--   -->
                                   <%if @cart["shopping_cart_items"].first.discount.present?%>
                                    <i class="fa fa-<%= @cart["currency"].downcase%>"></i>&nbsp;<%= number_with_precision( @cart["total"], :precision => 2, :delimiter => ',') %>
                                   <%else%>
                                     <%= get_currency_subtotal(@cart) %></p>
                                   <%end%>
                                <%#= @cart.total %>
                            </div>
                        </div>
                    </div>
                <!-- </form> -->
                <%end%>
            </div>
            
        </div>
    </section>








            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Enter Promo Code</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for( "promo_code" , :url=>{:controller=>"shopping_carts",:action=>"get_promo_code_specific"}, :html => {:class=>"form-horizontal", :id=>"promo_code_form"}) do |f| %>

                       
                             <div class="form-group">
                                    <label for="last-name2" class="col-sm-3 control-label">Discount Code:<span>*</span></label>
                                    <div class="col-sm-9">
                                        <%= text_field_tag "promo_code", "", :class => 'form-control' ,:id=>"promo_code_field",:required=>true%>   
                                    </div>
                                </div>
                                   <div class="form-group">
                                    <label for="last-name2" class="col-sm-3 control-label">Email:<span>*</span></label>
                                    <div class="col-sm-9">
                                        <%= text_field_tag "email", "", :class => 'form-control' ,:id=>"promo_code_email_field",:required=>true%>   
                                    </div>
                                </div>
                      
                        <div class="modal-footer" style="padding: 30px 0px 20px 0px;text-align: left;">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    <%end%>
                  </div>
                </div>
              </div>
           </div>
