


<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Orders</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Orders</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Orders
							</div>
							
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								
									<th>User Name</th>
									<th>Email</th>
									<th>Payment Type</th>
									<th>Order Total</th>
									<th>Order Status</th>
									
								</tr>
							</thead>
							<tbody>
							    <% @orders.each do |order| %>
								<tr>
								    <td><%= link_to order.user.first_name, admin_order_details_path(:order_id => order.id) %></td>
								     <td><%= order.user.email %></td>
								    <td> <%=order.payment_method_type %></td>
								    <td> <%=order.order_total %></td>
								    <td> <%=order.order_status %></td>
									<!--<td>
										<%#if current_user.is_superadmin%> 
										<%#= link_to 'Show'.html_safe, admin_order_path(order) %>
										<%#end%>
									</td>-->
								</tr>
								<% end %>

							</tbody>
						</table>

						<div class="widget-foot">
					
							<div class="pull-left">
								<%#= link_to  "Add News", new_admin_order_path, :class => 'btn btn-sm btn-primary' %>
							</div>

							<div class="pull-right">
								<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>

							</div>

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>







