<li>
  <div class="yamm-content">
      <div class="row">
        <% Category.category_hash.to_a.each_slice(4) do |category_array| -%>
          <ul class="nav vertical-nav">
            <% category_array.each do |category| %>
              <div class="col-md-3" >
                <li>
                  <a href="/categories/<%= category[1][:slug]%>">
                    <i class="fa fa-angle-double-right"></i><%= category[1][:name] %>
                  </a>
                </li>
              </div>         
            <% end -%>  
          </ul>
        <% end %>
      </div>
  </div>
</li>