<div class="info_sidebar" style="overflow-y:auto;" id="category_section">
  <!-- For Clearing All Categories -->
  <div class="row">
    <div class=" col-md-6 col-lg-6 col-sm-6">
     <h4 class="h4_highlight">Category</h4>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6" style="display:none;margin-top: 9px;" id="uncheck_all_categories">
    <a href="javascript:void(0)" onclick="uncheckAllCategories()" style="float: right;">Clear All</a>
    </div>
  </div> 
  <!-- end -->
  
  
  <div id="submenu" class="filter_cont">
    <% category_count = Category.count %>
    <div class="row row_filter margin_left" id="row_category">
        <%= render :partial=>"report_filters/categories_list" %> 
    </div>

  </div>
  

  <hr/>
</div>

<script type="text/javascript">
  function showAllCategory(){
    $(".categories_input").show();
    $(".categories_input").children().show()
    $("#category_add_div").hide();
    $("#show_category_link").hide();
  }

//// For Clearing Checkboxes /////////
function uncheckAllCategories() {
  $('#row_category input:checkbox').removeAttr('checked');
  if($(".categories_input input:visible").length == <%= category_count %> ){
      $("#category_add_div").hide();
      $("#show_category_link").hide();
    }
  showReports()
}
function addCategory(){
    $("#show_category_link").hide();
    $("#add_category").hide();
    $("#category_templates").show();
    $("#category_input").select2("val", "");
    $("#category_input").show();

  }  
  function appendCategory() {
    var selected = $('#category_input').find('option:selected')
    var selected_category = $(".categories_input[data-id='"+selected.attr('id')+"']")
    $(".categories_input[data-id='"+selected.attr('id')+"']").remove();
    selected_category.show();
    selected_category.children().show();
    $("#row_category").prepend(selected_category);
    if(!$(".categories_input[data-id='"+selected.attr('id')+"']").find("input").is(":checked")){
      $(".categories_input[data-id='"+selected.attr('id')+"']").find("input").click();
    }
    if(selected.length > 0){
      $("#category_templates").hide();
      $("#add_category").show();
      $("#show_category_link").show();
    }
    if($(".categories_input input:visible").length == <%= category_count %> ){
      $("#category_add_div").hide();
      $("#show_category_link").hide();
    }
  }
  $(document).ready(function(){
    if ($('.categories_input input:checked').length > 0){
        $("#uncheck_all_categories").show()
    }else{
        $("#uncheck_all_categories").hide();
    }
  })

</script>