  <div class="info_sidebar" style="overflow-y:auto;" id="country_section">
  <!-- For Clearing All Countries -->
  <div class="row">
    <div class=" col-md-6 col-lg-6 col-sm-6">
     <h4 class="h4_highlight">Countries</h4>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6" style="display:none;margin-top: 9px;" id="uncheck_all_country">
    <a href="javascript:void(0)" onclick="uncheckAllCountries()" style="float: right;">Clear All</a>
    </div>
  </div> 
  <!-- end -->
  
  <div id="submenu" class="filter_cont">
    <div class="row row_filter margin_left" id="row_countries">
        <% country_count= count %>
        <%= render :partial=>"report_filters/countries_list",locals: {all_countries: all_countries,selected_countries_id: selected_countries_id} %> 
    </div>

  </div>
  

  <hr/>
</div>

<script type="text/javascript">
  function showAllCountries(){
    $(".countries_input").show();
    $(".countries_input").children().show();
    $("#country_add_div").hide();
    $("#show_country_link").hide();    
  }

  $(document).ready(function(){
    if("<%= selected_countries_id.present? %>"){
      <% selected_countries_id.each do |selected_country_id| %>
        var selected = $('#country_input').find("option[id='<%= selected_country_id %>']").click();
        var selected_country = $(".countries_input[data-id='"+selected.attr('id')+"']")
        $(".countries_input[data-id='"+selected.attr('id')+"']").remove();
        selected_country.show();
        selected_country.children().show();
        $(selected_country).find("input").prop("checked",true);
        $("#row_countries").prepend(selected_country);
      <% end %>
      setHeading();
      $("#uncheck_all_country").show();
    }



    
    if ($('.countries_input input:checked').length > 0){
        $("#uncheck_all_country").show();
    }else{
        $("#uncheck_all_country").hide();
    }
    if($(".countries_input input:visible").length == <%= country_count %> ){
        $("#country_add_div").hide();
        $("#show_country_link").hide();
      } 

  })

  function changeCountry(){
    $.ajax({
      url: "/show_all_countries.js",
      type: "post",
      data:{
        selected_countries: getSelectedCheckboxValue('country'),
        selected_regions: getSelectedCheckboxValue('region'),
        selected_continents: getSelectedCheckboxValue('continent')
      }
    })
  }

  function addCountry(){  
    $("#add_country").hide();
    $("#country_templates").show();
    $("#country_input").select2("val", "");
    $("#country_input").show();  
    $("#show_country_link").hide();
  }  


  function appendCountry() {
     var selected = $('#country_input').find('option:selected')
     var selected_region = $(".countries_input[data-id='"+selected.attr('id')+"']")
     $(".countries_input[data-id='"+selected.attr('id')+"']").remove();
       selected_region.show();
       selected_region.children().show();
       $("#row_countries").prepend(selected_region);
       if(!$(".countries_input[data-id='"+selected.attr('id')+"']").find("input").is(":checked")){
         $(".countries_input[data-id='"+selected.attr('id')+"']").find("input").click();
      }
      if(selected.length > 0){
        $("#country_templates").hide();
        $("#add_country").show();
        $("#show_country_link").show();
      }
      if($(".countries_input input:visible").length == <%= country_count %> ){
        $("#country_add_div").hide();
        $("#show_country_link").hide();
      } 
  }


  //// For Clearing Checkboxes /////////
  function uncheckAllCountries() {
    $('#row_countries input:checkbox').removeAttr('checked');
    if($(".countries_input input:visible").length == <%= country_count %> ){
        $("#country_add_div").hide();
        $("#show_country_link").hide();
      }
    showReports()
  }
  
</script>