
<% if target.errors.any? %>
<div id="errorExplanation">
<!-- <h2><%#= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</h2> -->
<ul>
<% target.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>