<div class="row">
     <div class="form-group col-sm-2">
              <label for="fname"> Keyword</label>
              <div class="input-group">
               <%if params[:q].present? %> 
                 <%= text_field_tag(:search_query,params[:q], class: 'form-control filterrific-periodically-observed',:value=> params[:q])%>
                 <%else%>
                    <%= text_field_tag(:search_query,nil, class: 'form-control filterrific-periodically-observed')%>
                  <%end%>
         </div>
          </div>
          <div class="form-group col-sm-2">
              <label for="fname"> Price range</label>
              <div class="input-group">
                <%= select_tag "price",options_for_select([["- Any -",""],["Up to $1000","0.0..999.9"],["$1000 - $2500","1000.0..2499.0 "],["$2500 - $5000","2500.0..4999.9"],["More than $5000","5000.0..100000.0"]],:selected=> params[:price]),{:class=>"form-control"} %>
              </div>
          </div>

          <div class="form-group col-sm-3">
              <label for="lname">Publisher</label>
              <div class="input-group">
                 <%= select_tag "publisher",options_for_select(Publisher.publisher_list.map{ |p| [p.name, p.name] }.unshift(["- Any -",""]),:selected=> params[:publisher]),{:class=>"form-control"} %>
              </div>
          </div>


          <div class="form-group col-sm-3">
              <label for="lname">    Sorted by</label>
              <div class="input-group">
              <%= select_tag "sorted_by",options_for_select([["- Any -",""],["Latest Date","publish_date desc"],["Oldest Date first","publish_date asc"],["Title (a-z)","title asc"],["Title (z-a)","title desc"],["Price (high-low)","one_user desc"],["Price (low-high)","one_user asc"]],:selected=> params[:sorted_by]),{:class=>"form-control"} %>
              </div>
          </div>


           <div class="form-group col-sm-2">
              <label for="lname">    </label>
              <div class="input-group">
                <%= link_to "reset", "#","class" => "btn btn-default"%>
              </div>
          </div>
 </div>