
 <%#= render :partial=> "shared/report_filter",locals:{all_publishers: all_publishers,selected_publishers_id: selected_publishers_id,all_continents: all_continents,selected_continents_id: selected_continents_id,all_regions: all_regions,selected_regions_id: selected_regions_id,all_countries: all_countries,selected_countries_id: selected_countries_id,selected_report_type: selected_report_type,selected_published_date: selected_published_date,selected_sort_by_other: selected_sort_by_other,selected_sort_by_price: selected_sort_by_price,all_categories: all_categories,selected_category_id: selected_category_id,contain_global: contain_global } %>
      
<!-- <div id="reports_list">
  <%#= render(partial: 'reports/list', locals: { reports: reports }) %>
</div> -->
