<div class="info_sidebar" style="overflow-y:auto;" id="sort_by_price_section">
  <h4 class="h4_highlight">Sort By Price</h4>
  <div id="submenu" class="filter_cont">
    <div class="row row_filter margin_left" id="row_sort_by_price">
        <%= render :partial=>"report_filters/sort_by_price" %> 
    </div>
  </div>
  <hr/>
</div>

