<div class="info_sidebar" style="overflow-y:auto;" id="published_date_section">
  <h4 class="h4_highlight">Published Date</h4>
  <div id="submenu" class="filter_cont">
    <div class="row row_filter margin_left" id="row_published_date">
        <%= render :partial=>"report_filters/publisher_date_list" %> 
    </div>
  </div>
  <hr/>
</div>

