<div class="info" style="padding-bottom:0px;overflow-y:auto;" id="publisher_section">
  <!-- For Clearing All Publishers -->
  <div class="row">
    <div class=" col-md-6">
      <h4 class="h4_highlight">Publishers</h4>
    </div>
    <div class="col-md-6" style="display:none;margin-top: 9px;" id="uncheck_all_publisher">
      <a href="javascript:void(0)" onclick="uncheckAllPublishers()" style="float: right;">Clear All</a>
    </div>
  </div> 
  <!-- end -->
  
  <div id="submenu" class="filter_cont">
    <div class="row row_filter margin_left" id="row_publishers">
        <% publisher_count = Publisher.count %>
        <%= render :partial=>"report_filters/publishers_list" %> 
    </div>

  </div>
  

  <hr/>
</div>

<script type="text/javascript">

  function addPublisher(){
    $("#add_publisher").hide();
    $("#publisher_templates").show();
    $("#publisher_input").select2("val", "");
    $("#publisher_input").show();
    $("#show_publisher_link").hide();
  }  


  function showAllPublishers(){
    $(".publishers_input").show();
    $(".publishers_input").children().show()
    $("#publisher_add_div").hide();
    $("#show_publisher_link").hide();
  }


 //////////For Appending Selected Publisher - By Prachi Bhagdikar //////////////

  function appendPublisher() {
    var selected = $('#publisher_input').find('option:selected')
    var selected_publisher = $(".publishers_input[data-id='"+selected.attr('id')+"']")
    $(".publishers_input[data-id='"+selected.attr('id')+"']").remove();
    selected_publisher.show();
    selected_publisher.children().show();
    $("#row_publishers").prepend(selected_publisher);
    if(!$(".publishers_input[data-id='"+selected.attr('id')+"']").find("input").is(":checked")){
      $(".publishers_input[data-id='"+selected.attr('id')+"']").find("input").click();
    }
    if(selected.length > 0){
      $("#publisher_templates").hide();
      $("#add_publisher").show();
      $("#show_publisher_link").show();
    }
    if($(".publishers_input input:visible").length == <%= publisher_count %> ){
      $("#publisher_add_div").hide();
      $("#show_publisher_link").hide();
    } 

  }

  //// For Clearing Checkboxes /////////
  function uncheckAllPublishers() {
    $('#row_publishers input:checkbox').removeAttr('checked');
    if($(".publishers_input input:visible").length == <%= publisher_count %> ){
      $("#publisher_add_div").hide();
      $("#show_publisher_link").hide();
    } 
    showReports()
  }


  $(document).ready(function(){
    //// For Clearing Checkboxes /////////
      if ($('.publishers_input input:checked').length > 0){
          $("#uncheck_all_publisher").show();
      }else{
          $("#uncheck_all_publisher").hide();
      }
  })


</script>