  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="info_sidebar" style="overflow-y:auto;" id="report_type_section">
  <h4 class="h4_highlight">Report Type</h4>
  
  <div id="submenu" class="filter_cont">
    <div class="row row_filter margin_left" id="row_report_type">
        <%= render :partial=>"report_filters/report_type_list" %> 
    </div>

  </div>
  

  <hr/>
</div>

