<style type="text/css">
  .input-group-btn button {
    border: 1px solid !important
  }

</style>


<% cache "search_form" do %>
    <div class="col-md-10 col-md-offset-1 srchBox">
      <%= form_tag "/reports",:method => "GET" do |f| %>
        <fieldset>
            <div class="form-group nospace">
              <div class="input-group">
                <%if params[:q].present? %> 
                  <%= text_field_tag :q, nil, :class => "form-control input-search" ,:value=> params[:q], :placeholder => "Report Title | Any Keyword", :required=> true%>
                <%else%>
                  <%= text_field_tag :q, nil, :class => "form-control input-search", :placeholder => "Report Title | Any Keyword", :required=> true%>
                <%end%>
                <span class="input-group-btn"><button class="btn btn-primary srchbutton" type="submit" id="send">Search <i class="fa fa-search"></i></button><a href="/advance_search" class="btn btn-primary advsrch">Advanced Search</a></span>
              </div>
          </div>
        </fieldset>
      <%end%>
    </div>
<% end %>
