<div class="info_sidebar" style="overflow-y:auto;" id="sort_by_other_section">
	 <!-- For Clearing All Publishers -->
  <div class="row">
    <div class=" col-md-12">
      <h4 class="h4_highlight">Sort By Other Options</h4>
    </div>
 <!--    <div class="col-md-6" style="display:none;margin-top: 9px;" id="uncheck_all_other">
      <a href="javascript:void(0)" onclick="UncheckAllOthers()" style="float: right;">Clear All</a>
    </div> -->
  </div> 
  <!-- end -->
  
  <div id="submenu" class="filter_cont">
    <div class="row row_filter margin_left" id="row_sort_by_other">
        <%= render :partial=>"report_filters/sort_by_other" %> 
    </div>

  </div>
  

  <hr/>
</div>

