<%
meta title: "WiseGuyReports - News"
%>


    <section class="breadcrumb-wrapper">
        <div class="container">
          
              <%= render "shared/search_form"%>
           
        </div>
    </section>







    <section class="bg-color-2" id="eshop">
    	<div class="container">
       
            
            <div class="row eshop-main eshop-list">
            	<!-- ESHOP CONTENT - START -->
                <div class="col-md-12 eshop-content">
                	
                    <!-- ESHOP PRODUCT -->
                    <%@news_updates.each do |news|%>
                    <div class="eshop-product">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-xs-5">
                                <%= image_tag news.news_image_url(:thumb), :class=>"img-responsive", :alt=>"news_image" if news.news_image? %>
                            	
                            </div>
                            <div class="col-lg-9 col-md-8 col-xs-7">
                            	<div class="eshop-product-body" style="padding: 1px 15px 1px 15px;">
                                  
                                    <h3 style="font-size:18px"><%=link_to news.title, news_update_path(news) %></h3>
                                    <p>

                                    <%=  truncate( raw( sanitize(simple_format(news.description), :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 300, :omission => "...") %>


                                    </p>
                                 <div class="product-tags" style="float:right; padding-left: 15px;  padding-bottom: 15px;">
                                        <span class="label label-info"><%= news.date.to_date.strftime("%d " "%B, %Y") rescue nil%></span>
                                      
                                    </div>
                                </div>
                        	</div>
                        </div>
                    </div>
                 
                    <%end%>
                    

                        
                </div>
                <!-- ESHOP CONTENT - END -->
            
            </div>
            
                      <div class="row eshop-footer">
                <div class="col-md-12">
                   <div class="row">
                    <div class="pull-right" style="padding-bottom:20px;color: #074c94;">
                              <%= page_entries_info @news_updates %>
                          </div>  </div>
                    <div class="row">
                            <div class="pull-right">
                      
                            <%= will_paginate @news_updates, renderer: BootstrapPagination::Rails %>          
                               </div>

                    </div>
                </div>
            </div>

            
        </div>
    </section>