<%
meta title: "News- #{@news_update.title}"
%>


    <section class="breadcrumb-wrapper">
        <div class="container">
          
           <%= render "shared/search_form"%>
           
        </div>
    </section>


 <section class="content" id="features">
    	<div class="container">
    		<div class="col-sm-12" style="padding-bottom: 30px;">



       <div class="bubble">
          <div class="rectangle" style="background-color: #FF6A6A;;width:102%">
            <h2><%=@news_update.title%></h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="overflow-y:auto;">
          <%= image_tag @news_update.news_image_url(:thumb), :class=>"img-thumbnail", :alt=>"new_image", :style=>"vertical-align: middle;margin-right:16px;margin-bottom: 5px;" if @news_update.news_image? %> <span style="vertical-align: middle;">  <%=@news_update.description.html_safe%></span>
                         
          </div>
        </div>





            </div>


                      <div class="col-sm-12" >



       <div class="bubble">
          <div class="rectangle" style="background-color: #FE9A42;width:102%">
            <h2>Similar Industry Reports</h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="height: 350px;overflow-y:auto;">
               <ul class="nav vertical-nav">
                    <%@related_report.each do |report|%>
              <li>
                <a href="/reports/<%= report.slug%>" class="fontcolor"><i class="fa fa-angle-double-right"></i> <b><%= report.title%></b></a>
                  <p>
                <%= truncate( raw( sanitize(report.description, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %>
              </p>
              </li>
            
              <%end%>
            </ul>

                         
          </div>
        </div>





            </div>
        </div>
 </section>