
<%
meta title: "WiseGuyReports - Publishers",
description: "Get the industry analysis report by publishers. You can find various publisher report only at wiseguyreports.com. for more details visit us today"
%>

    <section class="breadcrumb-wrapper">
        <div class="container">
        
               <%= render "shared/search_form"%>
            
        </div>
    </section>



<section class="content " id="eshop">

	<div class="container ">
		<div class="col-lg-12">
			   <h4 style="color:#074C94;font-size: 16px;"><strong>Browse Market Research Reports by Publisher</strong></h4>
			   <br/>
		<!-- <ul> -->
		<div class="LinksToPublishersByFirstCharacter">
			<a href="javascript:void(0)" class="scroll">#</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="A">A</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="B">B</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="C">C</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="D">D</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="E">E</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="F">F</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="G">G</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="H">H</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="I">I</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="J">J</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="K">K</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="L">L</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="M">M</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="N">N</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="O">O</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="P">P</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="Q">Q</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="R">R</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="S">S</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="T">T</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="U">U</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="V">V</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="W">W</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="X">X</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="Y">Y</a>&nbsp;
			<a href="javascript:void(0)" class="scroll" id="Z">Z</a>&nbsp;

		</div>
		<% cache "allpublishers", skip_digest: true do %>
		  <% @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">

		   	
		   	 <hr>
		     <h5 id="scroll_<%= letter %>"><strong><%= letter %></strong></h5>

		      <ul>
		        <% @grouped[letter].each_slice(3) do |tag_array| -%>
			        <% tag_array.each do |publisher| %>
			          <div class="col-md-4" style="padding-bottom:15px">

						<a href="/publishers/<%=publisher.slug%>"><%= image_tag publisher.logo_url(:thumb) , height: '32', width: '62' if publisher.logo? %>&nbsp;&nbsp; <%=  truncate( raw( sanitize(publisher.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 23, :omission => "...")%> (<%= publisher.reports_count %>)</a>


			          	</div>
			     
			        <% end -%><br/>
		         <% end %>
		  
		      </ul>

		    </div>
		  <% end -%>
		 <% end %>
		
	</div>

	
	</div>


</section>


<script type="text/javascript">


$('.scroll').click(function() {
   $('html, body').animate({
        scrollTop: $("#scroll_"+this.id).offset().top-80
    }, 1000);

});


</script>
<style type="text/css">

.LinksToPublishersByFirstCharacter a {
  text-decoration: underline;
  color: #4888DA !important;
  padding: 4px 8px 4px 8px;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.LinksToPublishersByFirstCharacter a:hover {
  color: #FFFFFF !important;
  background-color: #4888DA !important;
  }
</style>