<%
meta title: "WiseGuyReports - Publisher - #{@publisher.name}"
%>


    <style type="text/css">
        

            .marquee,
            .marquee-with-options,
            .marquee-vert-before,
            .marquee-vert {
       
              height: 315px;
              overflow: hidden;
             
            }

              
        </style>
    <section class="breadcrumb-wrapper">
        <div class="container">
          
             <%= render "shared/search_form"%>
           
        </div>
    </section>





    <section class="content" >
    	<div class="container">
    	      <div class="col-sm-8" style="padding-bottom: 30px;">


       <div class="bubble">
          <div class="rectangle bubblerectangle" style="background-color: #FE9A42;width:102%">
            <h2><%=@publisher.name%></h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="height: 350px;overflow-y:auto;">

   <div style="float:right;padding-left: 20px; padding-bottom: 20px;" class="visible-lg visible-md">  <%= image_tag @publisher.logo_url(:thumb), :class=>"img-thumbnail" if @publisher.logo? %></div>


                      <p> <span class="scroll_span"> <%=@publisher.description%></b></span></p>


                      
          </div>
        </div>




         



            </div>
            <div class="col-sm-4" style="padding-bottom: 30px;">


       <div class="bubble">
          <div class="rectangle bubblerectangle" style="background-color: #A375FF;width:104%">
            <h2>Top Latest reports of <%=truncate( raw( sanitize(@publisher.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 20, :omission => "...")%></h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="height:370px;">

    <div class='marquee-vert' data-direction='up' data-pauseOnHover='true' data-pauseOnCycle='true'>
              <%@topselling_reports.each do |report|%>

            <div class="panel panel-info">
              <div class="panel-body panelbodyfont" >
                <%if report.report_image?%>
                   <%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail panelbodyimg"  %> 
                <%elsif Report.category_name_image_hash[report.category_id][:logo].present?%>
                   <img src="<%=Report.category_name_image_hash[report.category_id][:logo]%>" alt="<%=Report.category_name_image_hash[report.category_id][:name] %>" class="img-thumbnail panelbodyimg" >
                <%else%>
                   <%= image_tag report.publisher.report_image_url(:thumb), :class=>"img-thumbnail panelbodyimg"  %> 
                <%end%>
                <span> <a href="/reports/<%= report.slug%>" class="fontcolor"><b><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 70, :omission => "...") %></b><br/><br/>
                <b class="datecolor">Published: </b><%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%><br/>
                               
               

              </a></span>

              </div>
            </div>

              <%end%>
              </div>




          </div>
        </div>




         



            </div>
   	      <div class="col-sm-12" >



      <div class="bubble">
          <div class="rectangle" style="background-color: #01C47E;width:101%">
            <h2>List of reports from <%=@publisher.name%></h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="height:280px; overflow-y:auto;background-color: #F3F7FA;" id="scroll_div">
    

     <div id='publisher_list_container' >
        <%= render @publisher_reports %>
     </div>
           <center>
<%#= will_paginate @publisher_reports %>
</center>

          </div>
        </div>








            </div>


    	</div>
    </section>


<script type="text/javascript">




$(document).ready(function() {
  if ($('.pagination').length) {
   $("#scroll_div").scroll(function() {
      var url = $('.pagination .next_page').attr('href');
       if (url && $("#scroll_div").scrollTop() > $("#scroll_div").height() - $("#scroll_div").height() - 50) {
        $('.pagination').html("<img src=/assets/loader.gif>");
        return $.getScript(url);
       }

    });
    return $("#scroll_div").scroll();
  }
});

$('#scroll_div').bind('mousewheel DOMMouseScroll', function(e) {
    var scrollTo = null;

    if (e.type == 'mousewheel') {
        scrollTo = (e.originalEvent.wheelDelta * -1);
    }
    else if (e.type == 'DOMMouseScroll') {
        scrollTo = 40 * e.originalEvent.detail;
    }

    if (scrollTo) {
        e.preventDefault();
        $(this).scrollTop(scrollTo + $(this).scrollTop());
    }
});

</script>