<section class="content " id="eshop">
	<div class="container ">


		
		<div class="col-sm-12">
		<!-- <ul> -->
		
		<% cache "rss_allcontinents", skip_digest: true do %>

		   <div class="col-md-12">
		  <br/><br/>
		   <!--   <h5><strong><%#= letter %></strong></h5> -->

		      <ul>
		      	  <div class="col-md-3" style="padding-bottom:30px"><img width="16" height="16" align="absmiddle" src="<%= asset_path('rss_16.png') %>" onclick="callHref('/rss/continents/global.xml')" /> <a href="/continents/global" target="_blank">Global</a></div>
		        <% @continents.each_slice(4) do |tag_array| -%>
			        <% tag_array.each do |continent| %>
			          <div class="col-md-3" style="padding-bottom:30px"><img width="16" height="16" align="absmiddle" src="<%= asset_path('rss_16.png') %>" onclick="callHref('/rss/continents/<%= continent.id%>.xml')" /><a href="/continents/<%= continent.slug%>" target="_blank"> <%= continent.name%></a></div>
			     
			        <% end -%><br/>
		         <% end %>
		      </ul>
		    </div>

		 <% end %>

		
		</ul>
	</div>
	</div>
</section>
