<section class="content " id="eshop">
	<div class="container ">


<% cache "rss_all_countries", skip_digest: true do %>
		
		<div class="col-sm-10">
		<!-- <ul> -->
		  <% @grouped_country.keys.sort.each do |letter| -%>
		   <div class="col-md-12">
		   	 <hr>
		     <h5><strong><%= letter %></strong></h5>

		      <ul>
		        <% @grouped_country[letter].each_slice(3) do |tag_array| -%>
			        <% tag_array.each do |country| %>
			          <div class="col-md-4" style="padding-bottom:15px"><img width="16" height="16" align="absmiddle" src="<%= asset_path('rss_16.png') %>" onclick="callHref('/rss/countries/<%=country.id%>.xml')" /><a href="/countries/<%= country.abbreviation.downcase%>" target="_blank" > <%= country.name%></a></div>
			     
			        <% end -%><br/>
		         <% end %>
		      </ul>
		    </div>
		  <% end -%>

			<!-- </ul> -->
		</div>

	  <% end -%>





	</div>
</section>