         <style type="text/css">

         </style>


         <li class="dropdown shopping-cart-toggle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="<%= asset_path('cart.png') %>" height="50" width="60" alt="cart"/>
                            <%unless @cart["shopping_cart_items"].empty? %>

                            <span class="shopping-cart-counter">
                                <%= @cart["shopping_cart_items"].count rescue nil%>
                            </span>

                            <%end%></a>
                          
                        <ul class="dropdown-menu navbar-shopping-cart">
                             <%if @cart["shopping_cart_items"].empty? %>
                             <li class="shopping_cart_empty">
                                <div class="row">
                                    <h6>
                                         There are no items currently in your basket.
                                     </h6>
                                  </div>
                            </li>
                             <%else%>
                               <li class="shopping_cart_list">
                                <div class="row">
                                     <div class="col-xs-1">
                                          
                                    </div>
                                    <div class="col-xs-5">
                                    Report Title
                                    </div>
                                    <div class="col-xs-3">
                                    Quantity
                                    </div>
                                    <div class="col-xs-1">
                                       Price
                                    </div>
                                  </div>
                            </li>
                        
                            <% @cart["shopping_cart_items"].each do |item|%>
                        	<li class="shopping_cart_item_list">
                            	<div class="row">
                                	<div class="col-xs-1">
                                          <a id="remove_item_link" href="javascript:void(0)" onclick="remove_product(<%= item['id'] %>, <%=params[:purchase_id].blank? ? 0 : params[:purchase_id]%>);return false;" class="delete" style="color:red"><i class="fa fa-times"></i></a>
                                    	<!-- <a href="#" class="delete"><i class="fa fa-times"></i></a> -->
                                    </div>
                                    <div class="col-xs-6">
                                    	<a href="javascript:void(0)"><h3><%= item["item"]["title"] %></h3></a>
                                    </div>
                                    <div class="col-xs-1">
                                    	<p><%= item["quantity"] %></p>
                                    </div>
                                    <div class="col-xs-3">
                                   		<p class="price">
                                            <%= get_currency_total_price(item) %>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <%end%>
                   
                            <li>
                            	<div class="row">
                                    <div class="col-xs-1">
                                        <!-- <a href="#" class="delete"><i class="fa fa-times"></i></a> -->
                                    </div>
                                    <div class="col-xs-6">
                                        <p>  <b style="color:#006DCC;">Total price: </b>   </p>         

                                    </div>
                                    <div class="col-xs-1">
                                    </div>
                                 
                                    <div class="col-xs-3">
                                   		<p class="price">
                                            <%= get_currency_subtotal(@cart) %>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-xs-6">
                                    	<a href="/clear_cart" class="btn btn-info btn-block">Clear Cart</a>
                                    </div>
                                    <div class="col-xs-6">
                                   		<a href="/place_order?purchase_id=<%=@cart["id"]%>" class="btn btn-danger btn-block btn-checkout">Checkout</a>
                                    </div>
                                </div>
                            </li>
                            <%end%>
                        </ul>
                    </li>




    