


<div class="container-fluid">
   <div class="info" style="overflow-y:auto;">
      <div id="submenu" class="filter_cont">
         <ul style="margin-left: -30px;" >
            <% Category.where(id: category_first.id).each do |category| %>

            <li class="active" current_root="<%= @report_categories.first.root_id==category.id %>"><h2><img width="20" height="20" align="absmiddle" src="<%= asset_path('rss_20.png') %>"  onclick="callHref('/rss/category/<%= category.id %>.xml')" /> <%= link_to_unless_current truncate( raw( sanitize(category.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 27, :omission => "..."), category , :target => "_blank"%><span class="quantity"></h2><%#= category.get_category_report_count(category)  %></span></li>
            <%= render 'submenu_pages', cache: true , pages: category.root.descendants.arrange, current_category: @report_categories.first  %>
            <% end %>
         </ul>
      </div>
   </div>
</div>