<style type="text/css">
.filter_cont ul li.active a:after {
  content: " " !important;
}
</style>

<ul style="margin-left: -30px;" data-depth="<%= pages.first.first.depth rescue nil%>">
  <% pages.each do |page, children| %>
    <li class="active" current_li="<%= current_category.id==page.id %>">
    	<img width="16" height="16" align="absmiddle" src="<%= asset_path('rss_16.png') %>" onclick="callHref('/rss/category/<%= page.id %>.xml')"/>
      <%= link_to_unless_current truncate( raw( sanitize(page.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 21, :omission => "..."), page , :target => "_blank"%>
      <%= render 'submenu_pages', cache: true, current_category: current_category, pages: children if children.present? %>
    </li>
  <% end %>
</ul>
