<%
meta title: "WiseGuyReports "
%>
<section class="breadcrumb-wrapper">
  <div class="container">
    <h2>Unsubcribe</h2>

                    
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active"> Unsubcribe</li>
    </ol>
  </div>
</section>
<section class="content " id="eshop">
    <div class="container ">
                <div class="forms-only">
            
                <%= form_for( "unsubscribe" , :url=>{:controller=>"home",:action=>"unsubscribe"}, :html => {:class=>"form-horizontal form-address", :id=>"enquiry_form"}) do |f| %>
                    <fieldset>
                        <h4 style="line-height:25px">Please select a reason to unsubscribe from our newsletter. This will help us to improve our services.</h4>
                     
                     
                        
    



                        <div class="row">
                            <div class="form-group col-sm-12">
                            
                                <div class="input-group">
                             
                                   
                                    <select id="select-reason" name="reason" class="form-control">
                                        <option value="">Please Select The Reason</option>
                                        <option value="Your Emails are not Relevant to me">Your Emails are not Relevant to me</option>
                                        <option value="Your emails are too frequent">Your emails are too frequent</option>
                                        <option value="I no Longer want to receive these Emails">I no Longer want to receive these Emails</option>
                                        <option value="Other">Other</option>
                                    </select>
         
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-12" id="other_reason_div" style="display:none">
                         
                            
                                     <input type="hidden"  name="subscriber_id" id="subscriber_id" value = "<%=params[:user_id]%>">
                                    <textarea name="other_reason" rows="4" class="form-control" placeholder="Please write your reason to unsbscribe" maxlength="200" ></textarea>
                               
                            </div>
               
                        </div>
                  
                        
                        <div class="pull-right">

                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Unsubscribe</button>
                        </div>
       
                    </fieldset>
               <% end %>
            </div>
    </div>
</section>

<script type="text/javascript">
$(document).on("change","#select-reason", function() {
  if (this.value == "Other"){
    $('#other_reason_div').show();
  }else{
     $('#other_reason_div').hide();
  }
});
</script>