<style type="text/css" scoped>
    .marquee,
    .marquee-with-options,
    .marquee-vert-before,
    .marquee-vert {
      width: 300px;
      height: 380px;
      overflow: hidden;
     
    }
    .marquee-news {
      width: 300px;
      height: 380px;
      overflow: hidden;
    }
    




</style>

<div class="container hidden-md hidden-lg topheader" >
	<div id="wise-search" class="container topheaderbg" >
		<div class="wish-guy-inner" >
			<div class="keyword-bg topheadertag" >
				<center><h6>Get Market Research, Business Risk & Industry Analysis Report </h6></center>
				<div class="clear"></div>
			</div>
			<div><br/><br/><br/>
						
						<%= form_tag "/reports",:method => "GET",:class=>"col-md-8 col-md-offset-2" do |f| %>
							<fieldset>
								<div class="form-group nospace">
									<div class="input-group" >
										<%= text_field_tag :q, params[:q], :class => "form-control input-search" , :placeholder => "Report Title | Any Keyword"%>
										<span class="input-group-btn" style="padding-bottom: 20px">
											<button type="submit" id="send" class="btn btn-primary srchbutton">
												<i class="fa fa-search"></i>
											</button> <a href="/advance_search">Advance Search<i class="fa fa-search"></i></a></span>
									</div>
									

								</div>
							</fieldset>
							<%end%>
					</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
	<div class="visible-lg visible-md">
		<div id="wise-search" class="container topheaderbg" >
			<div class="wish-guy-inner" >
				<div class="guy-pic">
					<img src="<%= asset_path('wise_guy.png') %>" alt="Logo" width="129" height="147"/>
				</div>
				<div class="keyword-bg srchBox" >
					<h1>Get Market Research, Business Risk & Industry Analysis Report </h1>
					<div class="clear"></div>
					<%= form_tag "/reports",:method => "GET",:class=>"col-md-8 col-md-offset-2 srchform",:name=>"frmsearch"  do |f| %>
						<fieldset>
							<div class="form-group nospace mnm_search">
								<div class="input-group srch mnm_input">
									<%= text_field_tag :q, params[:q], :class => "form-control input-search" ,:id=>"Search", :placeholder => "Report Title | Any Keyword"%>
									<span class="input-group-btn">
										<button type="submit" id="send" class="btn btn-primary srchbutton">Search 
											<i class="fa fa-search"></i>
										</button><a href="/advance_search" class="btn btn-primary advsrch">Advanced Search</a> </span>
										
								</div>

							</div>

						</fieldset>
						<%end%>
				</div>
			</div>
			<div class="clear"></div>
		</div>

	</div>
</div>













<!-- /.carousel -->
<% cache "client-section" do %>
	<section class="content cliantsection" id="section-partners" >
		<div class="container">
		

			<div class="col-sm-3 ourcliant" >
		    	<h2 class="text-center"><b>Our Clients</b></h2>
			</div>
			<div class="col-sm-9">
			<div id="partners-slider" class="partnerslider">
				<%Report.client_name_image_hash.each do |client_id,name_image_hash|%>
				<div class="item">
					
						<% if name_image_hash[:logo] %>
						  <img src="<%= name_image_hash[:logo] %>" class="lazyOwl" alt="<%=name_image_hash[:name] %>"/>
						<% end %>
					
				</div>
				<%end%>
			</div>
			</div>
		</div>
	</section>
<% end %>

<section class="content bg-color-2 sectionfeatures" id="section-features" >
	<div class="container">
		<div class="row">

			<div class="col-sm-4" >
				<div class="bubble">
					<div class="rectangle bubblerectangle" >
						<h2><img width="16"  height="16" alt="popular-categories-rss" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/popular-categories.xml')"/>  Popular Categories</h2>
					
					</div>
					<div class="triangle-l" ></div>

					<div class="info bubblebox">
						<ul class="nav vertical-nav">
							<% cache "all_categories", skip_digest: true do %>
								<% Category.category_hash.each do |id,name_slug_hash|%>
								<li>
									<a href="/categories/<%= name_slug_hash[:slug] %>" class="fontcolor"> <i class='fa fa-angle-double-right'></i> <%= name_slug_hash[:name] %></a>
								</li>
								<%end%>
							<%end%>
						</ul>

					</div>
				</div>

			</div>

			<div class="col-sm-4" >

				<div class="bubble">
					<div class="rectangle bubblerectangle2" >
						<h2><img width="16" height="16" alt="upcoming-reports-rss" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/upcoming-reports.xml')"/>  Upcoming Reports</h2>
					</div>
					<div class="triangle-l"></div>

					<div class="info bubblebox2" >
					
					<div class='marquee-vert marquee2' data-direction='down' data-pauseOnHover='true' data-pauseOnCycle='true'>
					<% cache "upcoming_reports", skip_digest: true do %>

								
							<%Report.upcoming_reports.each do |report|%>
							<div class="panel panel-info">
							<div class="panel-body panelbodyfont">

								<%if report.report_image?%>
									<%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail panelbodyimg"  %> 
						
							    <% elsif Report.category_name_image_hash[report.category_id][:logo].present?%>
							                        
							         <img src="<%=Report.category_name_image_hash[report.category_id][:logo]%>" alt="<%=Report.category_name_image_hash[report.category_id][:name] %>" class="img-thumbnail panelbodyimg"  />

														                         
							    <%else%>
							                        


								  <%= image_tag Report.publisher_name_image_hash[report.publisher_id][:logo], :class=>"img-thumbnail panelbodyimg" %> 
							    	<%end%>

									<span> <a href="/reports/<%= report.slug%>" class="fontcolor" ><b><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 70, :omission => "...") %></b><br/>
							         <b class="datecolor">Due Date: </b>
							       <%if report.publish_month?%> <%= report.publish_month.to_date.strftime("%B, %Y") %>
							       <%else%>
							       	Coming Soon
							       <%end%>

							       <br/>
				                    <b class="datecolor">By: </b><%= report.publisher_name %>
							 

							</a></span>
						
							</div>
						</div>

							<%end%>
					<%end%>
					
					</div>




					</div>
				</div>


			</div>
			<div class="col-sm-4" >

				<div class="bubble">
					<div class="rectangle bubblebox3 bubblerectangle3" >
						<h2><img width="16" height="16" alt="top-selling-reports-rss" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/top-selling-reports.xml')"/>  Top Selling Reports</h2>
					</div>
					<div class="triangle-l"></div>

					<div class="info bubble_box_3">
						<!-- <ul class="nav vertical-nav"> -->
						<div class='marquee-vert marquee3' data-direction='down' data-pauseOnHover='true' data-pauseOnCycle='true' >
							<%# cache('topselling_reports') do %>
							<% cache "topselling_reports", skip_digest: true do %>
							
							<% Report.latest_publisher_reports.each do |report|%>
						<div class="panel panel-info">
							<div class="panel-body panelbodyfont" >
								<%if report.report_image?%>
								  <%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail panelbodyimg"  %> 
							    <% elsif Report.category_name_image_hash[report.category_id][:logo].present?%>
							                        
							        <img src="<%=Report.category_name_image_hash[report.category_id][:logo]%>" alt="<%=Report.category_name_image_hash[report.category_id][:name] %>" class="img-thumbnail panelbodyimg"  />
							                         
							                     
								 
								  <%else%>
								  <%= image_tag Report.publisher_name_image_hash[report.publisher_id][:logo], :class=>"img-thumbnail panelbodyimg"  %> 
								  <%end %>
								
								<span> <a href="/reports/<%= report.slug%>" class="fontcolor"><b><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 70, :omission => "...") %></b><br/>
								<b class="datecolor">Published: </b><%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%><br/>
							                    <b class="datecolor">By: </b><%= Report.publisher_name_image_hash[report.publisher_id][:name] rescue nil%>
							 

							</a></span>

							</div>
						</div>
							<%end%>
					
							<%end%>
							</div>
						<!-- </ul> -->
					</div>
				</div>

			</div>



		</div>
	</div>
</section>
<!-- ==========================
FEATURES - END
=========================== -->
    <section class="content latestreportsec" id="section-blog-posts" >
<div class="container rsscursor">
<h3 class="text-center latest_reports"><img width="16" height="16" alt="latest-reports-rss" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/latest-reports.xml')"/>  Latest Reports</h3>
      <div class="row">

			<div class="rp">
			
				<div class="recent-news block">
						<!-- Recent Item -->
						<div class="recent-item">
							<div class="custom-nav">
								<a class="prev"><i class="fa fa-chevron-left br-lblue"></i></a>
								<a class="next"><i class="fa fa-chevron-right br-lblue"></i></a>
							</div>
							<div id="owl-recent" class="owl-carousel">
								<!-- Item -->
								<% cache "latest_reports", skip_digest: true do %>
      						    <%Report.latest_reports.each do |report|%>
			      				<div class="item recentblogfooter" >
				                <div class="col-sm-3">
				                    <div class="recent-blog-post recentblogpostfooter">
				                        <div class="post-date postdatefooter"><%=report.publish_month.to_date.strftime("%B, %Y") rescue nil%></div>
				                        <h3 class="postdatefooterh3"><%=  truncate( raw( sanitize(report.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 60, :omission => "...") %></h3>
				                        <b class="datecolor">By: </b><%= Report.publisher_name_image_hash[report.publisher_id][:name] %>
				                        <a href="/reports/<%=report.slug %>">Read More<i class="fa fa-arrow-circle-right"></i></a>
				                    </div>
			                  </div>
			                 </div>
			                <%end%>
    						<%end%>
							</div>
						</div>
				</div>
				
				<!-- Recent News Ends -->
			</div>



               </div>
   
            <div class="text-center"><a href="/reports" class="btn btn-inverse btn-lg"><i class="fa fa-arrow-circle-down"></i>See more Reports</a></div>
</div>



</section> 
<% cache "section-about-us" do %>
<section class="content bg-color-2 sectionbox" id="section-about-us">
	<div class="container">
		<div class="row">
			<!--   -->
			<div class="col-sm-6" >
				<div class="bubble">
					<div class="rectangle rsscursor bubblecolor">
						<h3><img width="16" height="16" alt="news-and-update-rss" src="<%= asset_path('rss.png') %>" onclick="callHref('/rss/news-and-update.xml')"/>  News & Updates</h3>
					</div>
					<div class="triangle-l"></div>

					<div class="info boxheight" >
						<div class='marquee-vert boxscrool' data-direction='down' data-pauseOnHover='true' data-pauseOnCycle='true'>
						<%NewsUpdate.list.each do |news|%>
						<div class="panel panel-info">
							<div class="panel-body">
						   <div class="pannelbody">
						<%= image_tag news.news_image_url(:thumb), :class=>"img-thumbnail" if news.news_image? %> 
						                 
						                      </div>
						    	 <span class = "scroll_span">  <%= link_to news.title, news_update_path(news) %></span>
													

							</div>
						</div>
						<%end%>
						</div>
					</div>
				</div>

			

			</div>
			<div class="col-sm-6">

				<div class="bubble">
					<div class="rectangle testimonials">
						<h3>Testimonials</h3>
					</div>
					<div class="triangle-l"></div>

					<div class="info testimonialsheight" >
					<div class='marquee-vert boxscrool' data-direction='down' data-pauseOnHover='true' data-pauseOnCycle='true' >
				
					<%Testimonial.list.each do |testimonial|%>

					        <div class="text-highlight testimonialscolortext" > 
                      <i class="fa fa-quote-left"></i>
                        <p><%=testimonial.message%></p>
                        <span><%=testimonial.name%>, <%=testimonial.position%></span>
                    </div><br/>
                  
					<%end%>
					</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<% end %>
<!-- ==========================
ABOUT US - END
=========================== -->


<script type="text/javascript">
  function callHref(link){
    var win=window.open(link, '_blank');
    win.focus();
  }
</script>