<% if @category.present? %>
	$("#side_panel_of_category").html("<%= escape_javascript(render(:partial=>'home/side_panel', locals:{category_first: @category} )) %>");
<% else %>
  $("#side_panel_of_category").html("");
  $.notify("No data present")
<% end %>	