<%
meta title: "WiseGuyReports - Customer - Edit"
%>
    <section class="breadcrumb-wrapper">
        <div class="container">
          
              <%= render "shared/search_form"%>
         
        </div>
    </section>


<section class="content " id="eshop">
  <div class="container ">
            <div class="col-md-3 eshop-sidebar">
                   
                    <ul class="nav vertical-nav">
                        <li>   <%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id) %></li>
                        <li><a href="/orders"><i class="fa fa-shopping-cart"></i>My orders</a></li>
                        <li> <%= link_to "<i class='fa fa-pencil-square-o '></i> Change Password".html_safe, change_password_path %></li>                              
                    </ul>
                </div>
               <div class="col-sm-9" >
                <div class="panel panel-default">
                
                    <div class="panel-body" >
                      
           <%= form_for "customer", :url => update_user_path, :method => 'post' , :html => {:class=>"form-horizontal",:id=>"update_user"} do |f| %>     
           
                    <fieldset>
 

                            <div class="form-group col-sm-8">
                                <label for="email">Your Company:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                       <%= f.text_field :company_name , :class=>"form-control", :placeholder=>"Company Name" , :required => true%>  
                                </div>
                            </div>

                            <div class="form-group col-sm-8">
                                <label for="email">Job Title:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                       <%= f.text_field :job_title , :class=>"form-control", :placeholder=>"Job Title" , :required => true%>  
                                </div>
                            </div>
           
                            <div class="form-group col-sm-8">
                                <label for="fname">Address street1:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                   <%= f.text_field :address_street1 ,:class=>"form-control" , :placeholder=>"Address street1", :required => true%>                   

                                </div>
                            </div>
                            <div class="form-group col-sm-8">
                                <label for="lname">Address street2</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                  <%= f.text_field :address_street2 ,:class=>"form-control", :placeholder=>"Address street2" %>
                                </div>
                            </div>
                    
                            <div class="form-group col-sm-8">
                                <label for="email">City:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-road"></i></span>
                                       <%= f.text_field :city , :class=>"form-control", :placeholder=>"City" , :required => true,:pattern=>'[A-Za-z]+'%>  
                                </div>
                            </div>
                    
                            <div class="form-group col-sm-8">
                                <label for="password">Zip Code/Pin Code:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                     <%= f.text_field :zip_code , :class=>"form-control", :placeholder=>"Zip Code/Pin Code", :id=>"password", :required => true,  :pattern => '\d+' %>
                                </div>
                            </div>
                            <div class="form-group col-sm-8">
                                <label for="password2">Phone No:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                 
                                    <%= f.text_field :phone_no , :class=>"form-control", :placeholder=>"Phone No", :id=>"password", :required => true ,  :pattern => '\d+'%>
                                  
                                </div>
                            </div>
                      
                            <div class="form-group col-sm-8">
                                <label for="email">Country:<span>*</span></label>
                                <div class="input-group">
                                   
                                       <%=f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"}, :class => 'form-control' %>
                                       <%#= f.hidden_field :user_id , :value=> current_user.id, :class=>"form-control"%>  
                                </div>
                            </div>
                 
                         
                      
                        
                  
                        
                        <div class="pull-right">

                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Finish</button>
                        </div>
                        
                    </fieldset>
               <% end %>
            </div>
                       
                 
                </div>
            </div>  

  
  </div>
</section>

















