

<%
meta title: "WiseGuyReports - Customer"
%>

	<div class="container">
        	<div class="forms-only">
        	
               <%= form_for @customer do |f| %>
                    <fieldset>
 

         <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">Your Company:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                       <%= f.text_field :company_name , :class=>"form-control", :placeholder=>"Company Name" , :required => true%>  
                                </div>
                            </div>
                        </div>
   <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">Job Title:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                                       <%= f.text_field :job_title , :class=>"form-control", :placeholder=>"Job Title" , :required => true%>  
                                </div>
                            </div>
                        </div>

   						<div class="row">
                            <div class="form-group col-sm-6">
                                <label for="fname">Address street1:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-home"></i></span>
                                	 <%= f.text_field :address_street1 ,:class=>"form-control" , :placeholder=>"Address street1", :required => true%>                  	

                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lname">Address street2</label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-home"></i></span>
                                	<%= f.text_field :address_street2 ,:class=>"form-control", :placeholder=>"Address street2" %>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">City:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-road"></i></span>
                                  	   <%= f.text_field :city , :class=>"form-control", :placeholder=>"City" , :required => true,:pattern=>'[A-Za-z]+'%>  
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="password">Zip Code/Pin Code:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-key"></i></span>
                                  	 <%= f.text_field :zip_code , :class=>"form-control", :placeholder=>"Zip Code/Pin Code", :id=>"password", :required => true,  :pattern => '\d+' %>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="password2">Phone No:<span>*</span></label>
                                <div class="input-group">
                                  	<span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                 
                                  	<%= f.text_field :phone_no , :class=>"form-control", :placeholder=>"Phone No", :id=>"password", :required => true,  :pattern => '\d+'%>
                                	
                                </div>
                            </div>
                        </div>

                             <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">Country:<span>*</span></label>
                                <div class="input-group">
                                   
                                       <%=f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control'%>
                                       <%= f.hidden_field :user_id , :value=> current_user.id, :class=>"form-control"%>  
                                </div>
                            </div>
                        </div>
                         
                        <p>I agree to the Terms and Conditions and Privacy Policy, including the use of cookies.</p>
                        
                        <div class="pull-left">
                       		<span class="form-info"><span class="required">*</span> These fields are required</span>
                        </div>
                        
                        <div class="pull-right">

                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Finish</button>
                        </div>
                        
                    </fieldset>
               <% end %>
            </div>
        </div>