

    <section class="breadcrumb-wrapper">
        <div class="container">
          
              <%= render "shared/search_form"%>
         
        </div>
    </section>





<section class="content " id="eshop">
	<div class="container ">
            <div class="col-md-3 eshop-sidebar">
                   
                    <ul class="nav vertical-nav">
                       <li>   <%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id) %></li>
                        <li><a href="/orders"><i class="fa fa-shopping-cart"></i>My Orders</a></li>
                                             <li> <%= link_to "<i class='fa fa-pencil-square-o '></i>Change Password".html_safe, change_password_path %></li>                              

                                                      
                    </ul>
                </div>
	             <div class="col-sm-8" >
                <div class="panel panel-default">
                
                    <div class="panel-body" >
                            <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                
                           
                                    <th>Payment Type</th>
                                    <th>Order Total</th>
                                 
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <% @orders.each do |order| %>
                                <tr>
                                    <td> <%= link_to order.payment_method_type, order_details_path(:order_id => order.id) %></td>
                                    <td> <%=order.order_total %></td>
                               
                                </tr>
                                <% end %>

                            </tbody>
                        </table>
                       
                    </div>
                </div>
            </div>	

	
	</div>
</section>


