<!DOCTYPE html>
<html>
<head>
<style>

body{
  font-size:18px;
  margin-top:2%;
  }

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
  
}

#customers td, #customers th {
    font-size: 1em;
    border: 1px solid #245F97;
    padding: 3px 7px 2px 7px;
}

#customers th {
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #245F97;
    color: #ffffff;
}

#customers tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
</style>
</head>
<body>

<div>

  <center><b>INVOICE</b></center>
   <center>&nbsp;</center>
<hr style="color:#245F97">

<table>
<tr>
<td width="20%"></td>

<td width="20%"><img src="/assets/logo.png" style="width:270px"></td>

<td width="10%"></td>




<td width="30%"><b>WISE GUY RESEARCH CONSULTANTS PVT LTD</b><br/>
House No: 1, Ekmat Society,<br/>
 Jaywant Nagar, Nagpur 440027.<br/>
 Maharashtra, India, www.wiseguyreports.com</td>

<td width="20%"></td>
</tr>
</table>

<hr style="color:#245F97">
</div>


<table id="customers">
<tr>
<th>Contact Person: <%=@user.full_name%></th>
</tr>
</table>

<table id="customers">
<tr style="height: 50px;">
    <td rowspan="2" width="25%"><b style="color:#245F97">Organisation Name:</b></td>
 <td rowspan="2" width="25%"><%=@user.customer.company_name%></td>
    <td width="25%"><b style="color:#245F97">Invoice No:</b></td>
    <td width="25%"><%=@purchase_invoice.invoice_no%></td>
  </tr>
  <tr style="height: 50px;">
    <td width="25%"><b style="color:#245F97">Invoice Date:</b></td>
    <td width="25%"><%=@purchase_invoice.invoice_date%></td>
  </tr>
  
    <tr style="height: 50px;">
    <td width="25%"><b style="color:#245F97">Country:</b></td>
    <td width="25%"><%=@user.customer.country.name%></td>
     <td width="25%"><b style="color:#245F97">Email Address:</b></td>
    <td width="25%"><%=@user.email%></td>
  </tr>
  <table id="customers">
      <tr style="height: 50px;">
    <td width="25%"><b style="color:#245F97">Address:</b></td>
    <td><%= @user.customer.full_address%>, <%=@user.customer.city%> <%=@user.customer.zip_code%>, <%=@user.customer.country.name%></td>
  </tr>
  </table>
</table>

<br/><br/><br/><br/>
  <table id="customers">
        <tr>
    <th width="40%">Report Title</td>
    <th width="20%">License Type</td>
     <th width="20%">Report Price</td>
    <th width="20%">Discounted Price</td>
  </tr>
  <%@purchase_invoice.purchase_invoice_details.each do |detail|%>
      <tr style="height: 100px;">
    <td width="25%"><%=detail.report_title%></td>
    <td><%=detail.report_license_type%></td>
     <td width="25%">USD <%=detail.report_value%></td>
    <td>USD <%=detail.discounted_price%></td>
  </tr>
  <%end%>
   <table id="customers">
  <tr>
 <th>DECLARATION:</th>
</tr>
  <tr style="height: 55px;">
<td>We declare that this invoice shows the actual price of the services described and that all the particulars are true and correct</td>
</tr>
</table>
  </table>
  <br/><br/><br/>
  
  <table>
  
<tr>
<td width="10%"></td>
<td width="30%"><h2>Payment Instructions:</h2></td>
</tr>

<tr>
<td width="10%"></td>
<td  width="30%"><b style="color:#245F97">Bank Name :</b></td>
<td  width="30%">DBS Bank Ltd</td>
<td width="50%"></td>
</tr>
<tr>
<td width="10%"></td>
<td  width="30%"><b style="color:#245F97">Beneficiary Name :</b></td>
<td  width="30%">Markets and Markets</td>
<td width="50%"></td>
</tr>
<tr>
<td width="10%"></td>
<td  width="30%"><b style="color:#245F97">Bank account no. :</b></td>
<td  width="30%">830250063151</td>
<td width="50%"></td>
</tr>
<tr>
<td width="10%"></td>
<td  width="30%"><b style="color:#245F97">Account Name :</b></td>
<td  width="30%">Markets and Markets</td>
<td width="50%"></td>
</tr>
<tr>
<td width="10%"></td>
<td  width="30%"><b style="color:#245F97">Swift code :</b></td>
<td  width="30%">DBSSINBB</td>
<td width="50%"></td>
</tr>
<tr>
<td width="10%"></td>
<td  width="30%"><b style="color:#245F97">Bank Address :</b></td>
<td  width="30%">Fortune House Plot No. 363/2, Gokhale Road, Model Colony, Shivaji
Nagar, Pune, India 411016.</td>
<td width="50%"></td>
</tr>

</table>

</body>
</html>
