<%= form_for @order do |f| %>

  <% if @order.express_token.blank? %>
    ...
  <% else %>
    <%= f.hidden_field :express_token %>
    <p>Name: <%=h @order.first_name %> <%=h @order.last_name %></p>
    <p>TODO Display order confirmation details</p>
  <% end %>
  <p><%= f.submit "Complete Order" %></p>
<% end %>