<%
meta title: "WiseGuyReports - Contact Us"
%>
 <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback1&render=explicit" async defer></script>

<style>
 #map-canvas img{max-width:none}

@media (min-width: 320px) and (max-width: 480px) {
        #recaptcha_challenge_image{
        margin: 0 !important;
        width: 100% !important;
        }
        #recaptcha_response_field
        {
        margin: 0 !important;
        width: 100% !important;
        }
        .recaptchatable #recaptcha_image {
        margin: 0 !important;
        width: 100% !important;
        }
        .recaptchatable .recaptcha_r1_c1, 
        .recaptchatable .recaptcha_r3_c1, 
        .recaptchatable .recaptcha_r3_c2, 
        .recaptchatable .recaptcha_r7_c1, 
        .recaptchatable .recaptcha_r8_c1, 
        .recaptchatable .recaptcha_r3_c3, 
        .recaptchatable .recaptcha_r2_c1, 
        .recaptchatable .recaptcha_r4_c1, 
        .recaptchatable .recaptcha_r4_c2, 
        .recaptchatable .recaptcha_r4_c4, 
        .recaptchatable .recaptcha_image_cell {

        margin: 0 !important;
        width: 100% !important;
        background: none !important;
        }

    }
</style>

<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">
<!--
var map;
var markers = new Array();
var infos = new Array();
var polylines = new Array();
var geoMarker = null;
var geoInfo = null;


function initialize()
{
var myLatlng = new google.maps.LatLng(21.1003489,79.0898248);
  var mapOptions = {
    zoom: 10,
    center: myLatlng
  };

  var map = new google.maps.Map(document.getElementById('map1'), mapOptions);

  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading">WISE GUY RESEARCH CONSULTANTS PVT LTD</h3>'+
      '<div id="bodyContent">'+
      '<p> House No: 1, Ekmat Society ' +
      'Jaywant Nagar, Nagpur 440027 '+
      'Maharashtra, India '+
     
     
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Wiseguy Reports'
  });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });


}
window.onload = initialize;
//-->
</script>













    <section class="breadcrumb-wrapper">
        <div class="container">
  
              <%= render "shared/search_form"%>
           
        </div>
    </section>


    
    <section class="content" id="contact">
    	<div class="container">
            <div class="row">
            	<div class="col-sm-6">

    <div class="bubble">
          <div class="rectangle" style="background-color: #01C47E;width:103%">
              <h2>Leave a message</h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="padding: 50px;">
           <%= form_for "contact_us", :url => save_contact_us_path, :method => 'post', :html => {:class=>"form-horizontal",:id=>"contact_us_form"} do |f| %>
             

                        <fieldset>
                            <div class="row">
                                <div class="form-group ">
                                    <label for="name">Your name:<span>*</span></label>
                                    <%= f.text_field :name ,:class=>"form-control", :placeholder=>"Your name:" %>  
                                    
                                </div>                               
                            </div>
                            
                            <div class="row">
                              <div class="form-group ">
                                    <label for="email">Your email:<span>*</span></label>
                                    <%= f.text_field :email , :class=>"form-control", :placeholder=>"Your email:"  %>  
                                  
                                </div>
                            </div>
                                 <div class="row">
                              <div class="form-group ">
                                    <label for="company">Company Name:<span>*</span></label>
                                    <%= f.text_field :company , :class=>"form-control", :placeholder=>"Your Company:" %>  
                                  
                                </div>
                            </div>
                                <div class="row">
                              <div class="form-group ">
                                    <label for="job_title">Job Title:<span>*</span></label>
                                    <%= f.text_field :job_title , :class=>"form-control", :placeholder=>"Your Job Title:" %>  
                                  
                                </div>
                            </div>
                                <div class="row">
                              <div class="form-group ">
                                    <label for="phone_no">Phone No.:<span>*</span></label>
                                    <%= f.text_field :phone_no , :class=>"form-control", :placeholder=>"Your Phone No.:" %>  
                                  
                                </div>
                            </div> 
                                 <div class="row">
                                <div class="form-group ">
                                    <label for="message">Your Country:<span>*</span></label>
                                      <%=f.select :country_id, options_for_select(@countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control'%>
                                 
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group ">
                                    <label for="message">Your message:<span>*</span></label>
                                     <%= f.text_area :message ,  :class=>"form-control", :placeholder=>"Your message:",:style=>"height:100px"%>  
                                 
                                   
                                </div>
                            </div>



                          <div class="row">
                         

                                 <div class="form-group" id="captcha">
                                    <label ></label>
                                   
                                 <input type="hidden" class="hiddenRecaptchacontact required" name="hiddenRecaptchacontact" id="hiddenRecaptchacontact">
                                     <div id="examplecontact"></div>
                                  
                                </div>
                            </div>
                             <div class="row">
                                <div class="form-group ">
                                    <label ></label>
                                    <button type="submit" class="btn btn-primary btn-sm" id="send_contact"><i class="fa fa-check"></i>Submit</button>
                                    <span class="form-info"><span class="required">*</span> These fields are required</span>
                                </div>
                            </div>
                        </fieldset>
                     <%end%>


          </div>
        </div>




              
                    



                </div>
                <div class="col-sm-6">
               
             

                <div class="bubble" style="margin-bottom: 40px;">
          <div class="rectangle" style="background-color: #A375FF;width:103%">
            <h2>Contact Informations</h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="overflow-y:auto;">
      
        <div class="col-sm-8">
            <ul class="list-unstyled contact-address">
                    <li style="border-bottom: 1px solid #428bca;"><strong style="color: #0D58A6;"> Head Office:</strong></li>
                    <li> WISE GUY RESEARCH CONSULTANTS PVT LTD </li>
                    <li>House No: 1, Ekmat Society </li>
                    <li>Jaywant Nagar, Nagpur - 440027</li>
                    <li> Maharashtra, India</li>
                    <li> Ph: +91 841 198 5042 </li>
                    <li><a href="mailto:info@wiseguyreports.com" > info@wiseguyreports.com</a></li>
               
               
            </ul>
              <hr/>
                       
                       <ul class="list-unstyled contact-address">
                       <div itemscope itemtype="http://schema.org/LocalBusiness">
                          <li style="border-bottom: 1px solid #428bca;"><strong style="color: #0D58A6;"> Branch Office:</strong></li>
                          <li> <span itemprop="name">WISE GUY RESEARCH CONSULTANTS PVT LTD </span></li>
                          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <li><span itemprop="streetAddress">Office No. 524, Amanora Chambers</span></li>
                            <li><span itemprop="streetAddress">Magarpatta Road, Hadapsar</span></li>
                            <li><span itemprop="addressLocality">Pune </span>- <span itemprop="postalCode">411028</span></li>
                            <li> <span itemprop="addressRegion">Maharashtra, India</span> </li>
                            <li>Ph: <span itemprop="telephone">+91 841 198 5042</span></li>
                           
                          </div>
                           
                         
                         </div>
                         <li><span itemprop="emailaddress"><a href="mailto:info@wiseguyreports.com" > info@wiseguyreports.com</a></span></li>
                        </ul>
                       
               </div>
         <div class="col-sm-4">
          <img src="/assets/contact_us.png" style="height: 160px;" >
        </div>
   
                         
          </div>
        </div>












                <div class="bubble">
          <div class="rectangle" style="background-color: #FF6A6A;width:103%">
            <h2>Contact Person</h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="overflow-y:auto;">
      
          <div class="row">
              <div class="profile">
                  <div class="col-lg-4">
                      <img src="/assets/profile.png" class="img-responsive img-circle" alt="">
                    </div>
                    <div class="col-lg-8">
                        <h3>Norah Trent</h3>
                        <h5>Partner Relations & Marketing Manager</h5>
                        <ul class="list-unstyled address">
                           <!-- li>Partner Relations & Marketing Manager</li> -->
                            <li><a href="mailto:norah.trent@wiseguyreports.com">norah.trent@wiseguyreports.com</a></li>
                            <li>Ph: +1-646-845-9349 (US)</li>
                            <li>Ph: +44 208 133 9349 (UK)</li>
                      
                        </ul>
                      <!--   <ul class="brands brands-sm brands-circle brands-inline main">
                            <li><a href="" class="brands-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" class="brands-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="" class="brands-google-plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
   
                         
          </div>
        </div>











                    
                </div>
            </div>            
        </div>
    </section>  
    <section >
     <div id="map-canvas">
       <div id="map1" style="height:400px"></div>
     </div>
    </section>


    <script type="text/javascript">
      $widgetId=undefined;

      var onloadCallback1 = function() {
 
        grecaptcha.render('examplecontact', {
          'sitekey' : '6LdIVv0SAAAAAPOoBo7TkBniPGgYDiJSoDQ7aLiP',
          'callback' : verifyCallbackcontact,
          'theme' : 'light'
        });
      };

      var verifyCallbackcontact = function(response) {
        $("#hiddenRecaptchacontact").val(response);
      };

    $("#contact_us_form").submit(function(e) {

      e.preventDefault()
  

      if( IsName($("#contact_us_name").val()) && IsEmail($("#contact_us_email").val())  &&  IsJobTitle($("#contact_us_job_title").val()) && IsCompany($("#contact_us_company").val()) && IsPhone($("#contact_us_phone_no").val()) && IsCountry($("#contact_us_country_id").val()) && IsMessage($("#contact_us_message").val())){
          $('#send_contact').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send_contact').attr('disabled','disabled'); 
          $.ajax({
            url: "/save_contact_us",
            type: "POST",
            data: $("#contact_us_form").serialize()
          }).success(function(data){
              if (typeof data.notice != "undefined"){
                $("header").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
              }else{
                $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
              }
              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#contact_us_form")[0].reset();
              $('#send_contact').html("<i class='fa fa-check'></i>Confirm");
              $('#send_contact').removeAttr('disabled');
              // grecaptcha.reset();
              // $('#hiddenRecaptcha7').val('');
              setTimeout(function(){location.reload();},3000);
              
          });
      }
   


    })






function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email==''){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
}

function IsJobTitle(jobtitle){
  if(jobtitle==''){
    alert("Please enter job title.");
    return false;
  }else{
    return true;
  };
}

function IsName(name){
  if(name==''){
    alert("Please enter your name.");
    return false;
  }else{
    return true;
  };
}

function IsCompany(company){

  if(company==''){
    alert("Please enter your company.");
    return false;
  }else{
    return true;
  };
}

function IsPhone(phone){


  if(phone.trim()==''){
    alert("Please enter your phone number.");
    return false;
  }else if(phone.trim().length<8){
    alert("Please enter an valid phone number.");
    return false;
  }else{
    return true;
  };
}
function IsCountry(country){

  if(country==''){
    alert("Please select an country");
    return false;
  }else{
   
    return true;
  };
}

function IsMessage(msg){
  if(msg==''){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
}
    </script>