

   <%case @page.slug%>
    <%when "about-us"%>
       <%
        meta title: "WiseGuy Reports: Market Analysis & Industry Research platform",
        description: "WiseGuy Reports is the advanced market research report provider in-depth knowledge of market research trends reports. For more details visit us today"
        %>
    <% when "faqs"%>
       <%
        meta title: "WiseGuyReports - #{@page.title.camelize}",
         description: "WiseGuyReports.com is the world’s largest collection of market research. We have most comprehensive collection of market research with more than 400,000 market research reports"
      %>

  
    
    <%else%>
      <%
         meta title: "WiseGuyReports - #{@page.title.camelize}"
      %>
   <% end%>


<section class="breadcrumb-wrapper">
  <div class="container">
    <h2 style="color: #fff;font-size: 20px;padding: 10px;"><%= @page.title.camelize %></h2>
    <%if @page.slug == "about-us"%>
    <span>
        <h2 class="visible-lg visible-md visible-sm" style="font-size: 20px;padding: 10px;padding-left:50px"><a href="/pages/press" style="color: #fff;">Press Release</a></h2>
        <h5 class="hidden-lg hidden-md hidden-sm" align="center" style="color: #fff;font-size: 20px;"><a href="/pages/press">Press Release</a></h5>
    </span>
    <%end%>
                    
   
  </div>
</section>
<section class="content " id="eshop">
    <div class="container ">
      <%= @page.description.html_safe %>
    </div>
</section>


