
<%
meta title: "WiseGuyReports - Continents",
description: "Get the industry analysis report with forecast by Continents. Wiseguyreports.com provides the all over the world report at one place. Click here and get the report"
%>


    <section class="breadcrumb-wrapper">
        <div class="container">
       
 			 <%= render "shared/search_form"%>
           
        </div>
    </section>





<section class="content " id="eshop">
	<div class="container ">


		
		<div class="col-sm-12">
		<!-- <ul> -->
		   <h1 style="color:#074C94;font-size: 16px;"><strong>Continents</strong></h1>
		<%# cache "allcontinents", skip_digest: true do %>

		  <%# @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">
		  <br/><br/>
		   <!--   <h5><strong><%#= letter %></strong></h5> -->

		      <ul>

		      	  <div class="col-md-3" style="padding-bottom:30px"><a href="/continents/global"><img src="assets/global.gif" height="40" width="70"/>&nbsp;&nbsp; Global (<%=Report.global_count%>)</a></div>
		        <% Continent.list.each_slice(4) do |tag_array| -%>

			        <% tag_array.each do |continent| %>
			          <div class="col-md-3" style="padding-bottom:30px"><a href="/continents/<%= continent.slug%>"><img src="assets/<%= continent.id%>.gif" height="50" width="50"/>&nbsp;&nbsp; <%= continent.name%> (<%=continent.reports_count%>)</a></div>
			     
			        <% end %><br/>
		        <% end %>
		      </ul>
		    </div>

		 <%# end %>

		
		</ul>
	</div>
	</div>
</section>


