


<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i>  Contact Us</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Contact Us</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Contact Us
							</div>
							
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								
									<th>Name</th>
									<th>Email</th>
									<th>Company</th>
									<th>Job Title</th>
									<th>Phone No</th>
									<th>Country</th>
									<th>Message</th>
									<!-- <th>Action</th> -->
								
								</tr>
							</thead>
							<tbody>
							    <% @contact_us.each do |contact_us| %>
								<tr>
								    <td> <%= contact_us.name %></td>
								    <td> <%= contact_us.email %></td>
								    <td> <%= contact_us.company %></td>
								    <td> <%= contact_us.job_title %></td>
								    <td> <%= contact_us.phone_no %></td>
								    <td> <%= Country.find(contact_us.country_id).name rescue nil%></td>
								    <td> <%= contact_us.message %></td>
									<td> 
									    <%if current_user.is_superadmin%>
										<a href="/admin/enquiries/<%= contact_us.id %>/delete_contact_us" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
										<%end%>
									</td>
								</tr>
								<% end %>

							</tbody>
						</table>

						<div class="widget-foot">
					
						

							<div class="pull-right">
								<%= will_paginate @contact_us, renderer: BootstrapPagination::Rails %>

							</div>

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>


















