


<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i>Enquiries</h2>

		<!-- Breadcrumb -->
	
	<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="/admin/enquiries/list" class="bread-current">Enquiries</a>
			<span class="divider">/</span>
		    list 
		</div>
		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left" style="width: 35%;">
								<table class="table table-striped table-bordered table-hover">
					
									<tbody>
										
									     <%= form_tag admin_enquiries_path, :method => "GET" do |f| %>
											<tr>
											    <td style="border:0"> Enquiries</td>
											    <td style="border:0;width: 40%;"><%= select_tag :type, options_for_select(Enquiry.uniq.pluck(:enquiry_type),:selected => params[:type]),:prompt => "--Enquiry Type--",:class=>"form-control"%>
											 	<%= hidden_field_tag :date, params[:date] %></td>
											    <td style="border:0; width: 15%;"><%= submit_tag "Search", :class => 'btn btn-sm btn-success'  %>
											 	</td>
											    <td style="border:0"><%= link_to "Reset" , admin_enquiries_path(:date=>params[:date]), :class => 'btn btn-sm btn-warning'  %></td>
								
											
										    </tr>
										<%end%>
									</tbody>
								</table>
							</div>
							
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								<th style="width: 6%;"><input type="checkbox" id="selectAll" value="selectAll"></th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone Number</th>
									<th>Country</th>
									<th>Message</th>
									<th>Report Title</th>
									<th>Report Price</th>
									<th>Enquiry Type</th>
									<th>Enquiry Time</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="enquiry_form">
								<%#= form_tag edit_multiple_admin_enquiries_path, method: :post do %>
								<tr>
								  <%if current_user.is_superadmin%>
								  <td style="border:0"><a href="javascript:void(0)" id="delete_link" class="btn btn-sm btn-danger delete_selected" onclick="deleteSelected()">Delete</a></td>
								  <%end%>
								   <td style="border:0"><a href="/admin/enquiries/list" class ='btn btn-sm btn-primary'> Back</a></td>
								</tr>
							    <% @enquiries.each do |enquiry| %>
								<tr>
									<td><%= check_box_tag "enquiry_ids[]", enquiry.id %></td>
								    <td><%= enquiry.full_name %></td>
								    <td><%= enquiry.email %></td>
								    <td><%= enquiry.phone_no %></td>
								    <td><%= enquiry.country_name %></td>
								    <td><%= get_area_of_intreset(enquiry.enquiry_type,enquiry.enquiry,enquiry.interest_area,enquiry.message) %></td>
								    
								    <td><%= enquiry.report_title %></td>
								    <td><%= "$" if enquiry.report_one_user.present? %> <%= enquiry.report_one_user %></td>
								    <td><%= enquiry.enquiry_type %></td>
								    <td><%= enquiry.created_at.utc.in_time_zone("Chennai").strftime("%b %d, %Y, %I:%M %p") %></td>
									<td>
									<%if current_user.is_superadmin%>
									<a href="/admin/enquiries/<%= enquiry.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
									 <%end%>
									</td>
								</tr>
								<% end %>
								<tr>
									<%if current_user.is_superadmin%>
								      <td style="border:0"><a href="javascript:void(0)" id="delete_link" class="btn btn-sm btn-danger delete_selected" onclick="deleteSelected()">Delete</a></td>
								    <% end %>
								       <td style="border:0"><a href="/admin/enquiries/list" class ='btn btn-sm btn-primary'> Back</a></td>
								</tr>
								
						
							</tbody>
						</table>

						<div class="widget-foot">
					
						

							<div class="pull-right">
								<%= will_paginate @enquiries, renderer: BootstrapPagination::Rails %>

							</div>

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>















<script language="Javascript" type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script language="Javascript" type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">




<script type="text/javascript">
var jq = jQuery.noConflict(); 

jq('#selectAll').click(function() {
   if(this.checked) {
       jq(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      jq(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});

  function deleteSelected(){


      var matches = [];
	  jq('#enquiry_form').find("input[name='enquiry_ids[]']:checkbox:checked").each(function() {
	    matches.push(this.value);
	  });
      if(matches.length > 0){
      	  jq('.delete_selected').html("Please Wait...");
          jq('.delete_selected').attr('disabled','disabled'); 
	      jq.ajax({
	        url: "/admin/enquiries/edit_multiple",
	        type: "POST",
	        data: {message: "delete_selected", id: matches}
	      }).success(function(data){        
	          window.location='/admin/enquiries/list'
	      });
      }else{
      	alert("Please Select any one record!");
      }
  }
</script>



