 



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

  <!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="fa fa-file-o"></i>Enquiry</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
      <!-- Divider -->
      <span class="divider">/</span>
      <a href="<%= admin_enquiries_path %>" class="bread-current">Enquiry</a>
    </div>

    <div class="clearfix"></div>

  </div>
  <!-- Page heading ends -->

  <!-- Matter -->

  <div class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">
                Enquiry
              </div>
              
              <div class="clearfix"></div>
            </div>
<div class="widget-content">
              <div class="padd">
                <br/>
            <%#= @category.nil? ? 'Main categories' : @category.name %>
          <p>
  <strong>Name:</strong>
  <%= @enquiry.first_name %> &nbsp; <%= @enquiry.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @enquiry.email %>
</p>

<p>
  <strong>Job Title:</strong>
  <%= @enquiry.job_title %>
</p>

<p>
  <strong>Company:</strong>
  <%= @enquiry.company %>
</p>

<p>
  <strong>Phone No:</strong>
  <%= @enquiry.phone_no %>
</p>
<p>
  <strong>Country</strong>
  <%= Country.find(@enquiry.country_id).name rescue nil %>
</p>

<% if @enquiry.enquiry_type == "enquiry"%>
  <strong>Enquiry:</strong>
  <%= @enquiry.enquiry %>
</p>
<%elsif @enquiry.enquiry_type == "sample_request"%>
  <strong>Interest Area:</strong>
  <%= @enquiry.interest_area %>
</p>
<%else%>
  <strong>Message:</strong>
  <%= @enquiry.message %>
</p>

<%end%>

            </div>

          </div>
            <div class="widget-foot">
          
            

              <button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
                      Back
                    </button>

              <div class="clearfix"></div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>












