
<% Category.get_all_categories.each_with_index do |category,index| %>
	<div class="categories_input" data-id="<%= category.id %>">	
		  
			<input id="category_<%= category.id %>" class="float_left margin_left" type="checkbox" name="category" value="<%= category.id %>" onclick="showReports()" style="display:<%= 'none' if index > 4 %>"> <label class="highlight_filter_headings" for='category_<%= category.id %>' style="display:<%= 'none' if index > 4 %>"> <%= category.name %></label>
	</div>
<% end %>
<a href="javascript:void(0)" id="show_category_link" onclick="showAllCategory()">Show All..</a>
  <div id="category_add_div">
  <a id="add_category" style="cursor:pointer" onclick="addCategory()">Add Category</a>
  <div id="category_templates" style="display: none;">
      <select id="category_input" style="width:180px" class="form-control" onchange="appendCategory()" >  
      <% Category.get_all_categories.each do |category| %>
        <option id="<%= category.id %>" selected="<%= category.id %>"><%= category.name %></option>
      <% end %>
      </select>     
    </div>
  </div>
<script type="text/javascript">
  function select2Category(category) {
    if (!category.id) { return category.text; }
    id = category.id.split("_")[1];
    var $category = $(
      '<span> '+  category.text + '</span>'
    );
    return $category;
    
  };
$(document).ready(function(){
 $("#category_input").select2({
    templateResult: select2Category
  });
})
</script>