
<% Publisher.publisher_list.each_with_index do |publisher,index| %>
	<div class="publishers_input" data-id="<%= publisher.id %>">	
		    
			<input id="publisher_<%= publisher.id %>" class="float_left margin_left" type="checkbox" name="publisher" value="<%= publisher.id %>" onclick="showReports()" style="display:<%= 'none' if index > 4 %>"> <label class="highlight_filter_headings" for='publisher_<%= publisher.id %>' style="display:<%= 'none' if index > 4 %>"> <%= publisher.name %></label>
	</div>
<% end %>
<a href="javascript:void(0)" id="show_publisher_link" onclick="showAllPublishers()">Show All..</a>
  <div id="publisher_add_div">
  <a id="add_publisher" style="cursor:pointer" onclick="addPublisher()">Add Publisher</a>
  <div id="publisher_templates" style="display: none;">
      <select id="publisher_input" style="width:180px" class="form-control" onchange="appendPublisher()" >  
      <% Publisher.publisher_list.each do |publisher| %>
        <option id="<%= publisher.id %>" selected="<%= publisher.id %>"><%= publisher.name %></option>
      <% end %>
      </select>     
    </div>
  </div>
<script type="text/javascript">
  function select2Publisher(publisher) {
    if (!publisher.id) { return publisher.text; }
    id = publisher.id.split("_")[1];
    var $publisher = $(
      '<span> '+  publisher.text + '</span>'
    );
    return $publisher;
    
  };
$(document).ready(function(){
 $("#publisher_input").select2({
    templateResult: select2Publisher
  });
})
</script>