<% default_selected_countries.each do |country| %>
	<div class="countries_input">
	 <span class="country_quantity next"><%#= country.get_count_of_reports  %></span> 
		<input id="country_<%= country.id %>" onclick="showReports()" class="float_left margin_left" type="checkbox" name="country" value="<%= country.id %>" <%= "checked" if selected_countries_id.include?(country.id) %>> <label class="highlight_filter_headings" for='country_<%= country.id %>'> <%= country.name %></label>
	</div>
<% end %>
<% if all_selected_countries.length > 5 %>
<div id="country_add_div">
	<a id="add_country" style="cursor:pointer" onclick="addCountry()">Add Country</a>
	<div id="country_templates" style="display: none;">
	    <select id="country_input" style="width:180px" class="form-control" onchange="appendCountry()" >     
	    <% all_selected_countries.each do |country| %>
	      <option id="<%= country.id %>"  selected="<%= country.id %>"><%= country.name %></option>
	    <% end %>
	    </select>  		
    		
    </div>

  </div>
  <a href="javascript:void(0)" id="show_link" onclick="showAllCountry()">Show All..</a>
<% end %>


<script type="text/javascript">

  $(document).ready(function(){
    $("#country_input").select2({
      templateResult: selectCountry
    });

  })


  function selectCountry (country) {
    if (!country.id){ return country.text;}
      id = country.id.split("_")[1];
      var $country = $(
      '<span> '+  country.text + '</span>'
      );
      return $country;
  }
</script>