
	<div>
		 <span class="report_type_quantity next"></span> 
		<input type="radio" name="report_type" onclick="showReports()" class="float_left margin_left" value="Upcoming Reports" id="upcoming_report_type" > <label for="upcoming_report_type" class="highlight_filter_headings"> Upcoming Reports </label>

	
	</div>

	<div>
		 <span class="report_type_quantity next"></span> 
		<input type="radio" name="report_type" onclick="showReports()" class="float_left margin_left" value="Published Reports" id="publish_report_type" checked="checked"> <label for="publish_report_type" class="highlight_filter_headings"> Published Reports </label>

	
	</div>
	<div>
		 <span class="report_type_quantity next"></span> 
		<input type="radio" name="report_type" onclick="showReports()" class="float_left margin_left" value="All Reports" id="all_report_type"> <label for="all_report_type" class="highlight_filter_headings"> All Reports </label>
	</div>
