

	<div class="sort_by_other_input">
		<span class="sort_by_other_quantity next"></span>
		<input type="radio" name="sort_by_other" onclick="showReports()" class="float_left margin_left" value="Title ( A – Z )" id="title_asc"> <label for="title_asc" class="highlight_filter_headings"> Title ( A – Z ) </label>

	
	</div>

	<div class="sort_by_other_input">
		<span class="sort_by_other_quantity next"></span>
		<input type="radio" name="sort_by_other" onclick="showReports()" class="float_left margin_left" value="Title ( Z – A )" id="title_desc"> <label for="title_desc" class="highlight_filter_headings"> Title ( Z – A ) </label>

	
	</div>

	<div class="sort_by_other_input">
		<span class="sort_by_other_quantity next"></span>
		<input type="radio" name="sort_by_other" onclick="showReports()" class="float_left margin_left" value="Price ( High to Low )" id="high_to_low" checked="checked"> <label for="high_to_low" class="highlight_filter_headings"> Price ( High to Low ) </label>
	</div>	

	<div class="sort_by_other_input">
		<span class="sort_by_other_quantity next"></span>
		<input type="radio" name="sort_by_other" onclick="showReports()" class="float_left margin_left" value="Price ( Low to High )" id="low_to_high"> <label for="low_to_high" class="highlight_filter_headings"> Price ( Low to High ) </label>
	</div>	
	