<ul style="margin-left: -30px;" data-depth="<%= pages.first.first.depth rescue nil%>">
  <% pages.each do |page, children| %>
    <li class="stap5 active" data-id="<%= page.children.pluck("id") %>">
    	<span class="category_quantity next"><%#= page.get_count_of_reports  %></span>
     	<input id="category_<%= page.id %>" class="stap5 active float_left margin_left" type="checkbox" name="category" value="<%= page.id %>" <%= "checked" if (@selected_category_id.include?(page.id)) %> onclick="showReports()" > <label class="highlight_filter_headings" for='category_<%= page.id %>'> <%= page.name %></label>
      <%= render 'report_filters/subcategory', cache: true, current_category: current_category, pages: children if children.present? %>
    </li>
  <% end %>
</ul>
