$("#row_regions").html("<%= escape_javascript(render :partial=>'report_filters/regions_list',locals:{all_regions: @all_regions,selected_regions_id: @selected_regions_id,region_count: Region.count })%>")
