$("#countries_sidebar_call").html("<%= escape_javascript(render :partial=>'shared/countries_sidebar',locals:{all_countries: @all_countries,count: @count,selected_countries_id: @selected_countries_id})%>")