$("#row_category").html("<%= escape_javascript(render :partial=>'report_filters/categories_list',locals:{all_categories: @all_categories,selected_category_id: @selected_category_id,category_count: Category.count})%>")