$("#row_continents").html("<%= escape_javascript(render :partial=>'report_filters/continents_list',locals:{all_continents: @all_continents,selected_continents_id: @selected_continent_id,continent_count: Continent.count })%>")