$("#reports_list").html("<%= escape_javascript(render :partial=>'reports/list',locals:{reports: @reports})%>")
$('#reports_list').removeClass('blur-filter')
$('#list_contain_reports').removeClass('blur-filter')