
            <input type="hidden" id="position1" name="title" class="form-control">
   


            <input type="hidden" id="position2" name="category" class="form-control">
     

            <input type="hidden" id="position3"  name="pages" class="form-control">
   

            <input type="hidden" id="position4" name="one_user_pdf" class="form-control">

            <input type="hidden"  id="position5" name="site_pdf" class="form-control">
      


            <input type="hidden" id="position6"  name="enterprise_pdf" class="form-control">
    

            <input type="hidden"  id="position7" name="publish_date" class="form-control">
      


            <input type="hidden" id="position8" name="description" class="form-control">
     

            <input type="hidden" id="position9" name="table_of_content" class="form-control">
     

            <input type="hidden" id="position10" name="publisher" class="form-control">
    

            <input type="hidden" id="position11"  name="country" class="form-control">
   