



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Reports</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Reports</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Deactivate Reports
							</div>
						
							<div class="clearfix"></div>
						</div>



 <div id ="reports">
 

 <div class="widget-content">
							<div class="padd">

	<table class="table table-striped table-bordered table-hover">
			<thead><%= search_form_for @search, url: admin_deactive_reports_path,
                        html: { method: :post } do |f| %>
				<tr>
				<td></td>
				<td>

				  <%= f.search_field :title_cont,:class=>"form-control" %>
				</td>
				<td>
		
				  <%= f.search_field :publisher_name_cont ,:class=>"form-control"%>
				</td>
				<td>
					  <%= f.search_field :publish_month_eq ,:class=>"form-control"%>
				</td>
				<td>
			
				  <%= f.search_field :one_user_eq,:class=>"form-control"%>
				</td>

				<td>
				  <%= f.submit  :class=>"btn btn-sm btn-success" %>
				   <input type="reset" value="Reset!" class="btn btn-sm btn-default">
				</td>




				</tr><% end %>
				<tr>
					<th style="width: 5%;"><input type="checkbox" id="selectAll" value="selectAll">All</th>
				    <th style="width: 30%;" class="pretty">Report Name</th>
				    <th style="width: 20%;" class="pretty">Publisher Name</th>
				     <th style="width: 20%;" class="pretty">Publish Date</th>
				    <th style="width: 10%;" class="pretty">Price</th>
					<th style="width: 15%;" >Action</th>
				</tr>
			</thead>
			<tbody>
				<%= form_tag edit_multiple_admin_reports_path, method: :get do %>
				<% @reports.each do |report| %>
				<tr>
					<td><%= check_box_tag "report_ids[]", report.id %> </td>
				    <td><%= report.title %></td>				   
				    <td><%= report.publisher.name rescue nil %></td>				
				    <td><%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%></td>
				    <td> <i class="fa fa-usd"></i><%= report.one_user %></td>
					<td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_report_path(report) , :class=>'btn btn-xs btn-warning'  %> <a href="/admin/reports/<%= report.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>


					</td>
				</tr>

				<% end %>

				<tr>
				<td><%= hidden_field_tag :return_to , "deactive"%> 
					<%= submit_tag "Edit Checked", :class => 'btn btn-sm btn-default'  %> </td>
				</tr>
			<% end %>
			</tbody>
		</table>

</div>


	<div class="widget-foot">

	
	
		<div class="pull-right">

	    <%unless params[:q].present?%>
		<%= page_entries_info @reports %>	<br/><%= will_paginate @reports, renderer: BootstrapPagination::Rails %>
		<%end%>
		</div>

		<div class="clearfix"></div>

	</div>

</div>














 </div>


						
						<div class="widget-foot">
					
						

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>




<script language="Javascript" type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script language="Javascript" type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script type="text/javascript">

jQuery(document).ready(function() {
	
jQuery('#q_publish_month_eq').monthpicker();
});
</script>


<script type="text/javascript">
var jq = jQuery.noConflict(); 

jq('#selectAll').click(function() {
   if(this.checked) {
       jq(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      jq(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});
</script>

