<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Report</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="<%= admin_reports_path %>" class="">Report</a>
			<span class="divider">/</span>
			<a href="#" class="bread-current">New</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->
	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								New Report
							</div>
						
							<div class="clearfix"></div>
						</div>
						<div class="widget-content">
							<div class="padd">
								<br/>
								<%= form_for [:admin, @report],:html => { :multipart => true, :class=>"form-horizontal"  } do |f| %>
						
										  
							    <%- @report.errors.full_messages.each do |message| -%>
							    <div class="errorExplanation"> <p><%= message %></p></div>
							    <%- end -%>
		  					<!--     <div class="form-group">
									<label class="col-lg-2 control-label">Report Code</label>
									<div class="col-lg-5">
										<%#= f.text_field :code , :class => 'form-control' %>
									</div>
								</div> -->
								<div class="form-group">
									<label class="col-lg-2 control-label">Title</label>
									<div class="col-lg-5">
										<%= f.text_area :title, :class => 'form-control' %>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Description</label>
									<div class="col-lg-10">
										<%= f.text_area :description, :class => 'tinymce' %>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Table of Content</label>
									<div class="col-lg-10">
										<%= f.text_area :table_of_content,  :class => 'tinymce' %>
									</div>
								</div>

                                <div class="form-group">
                                  <label class="col-lg-2 control-label">Upcoming?</label>
                                  <div class="col-lg-5">
                                    <label class="checkbox-inline">
                                     <%= f.check_box :upcoming %>
                                    </label>
                                  </div>
                                </div>

                                <div class="form-group">
									<label class="col-lg-2 control-label">Publish Date</label>

 									<div class="col-sm-1">
                                  <%= f.text_field :day, :class => 'form-control' ,:placeholder=>"Date"%>                	
                                    </div>
                                     <div class="col-sm-2">
                                     	 <%= f.text_field :publish_month, :class => 'form-control' %> 
                                    </div>


								</div>
							
								<div class="form-group">
									<label class="col-lg-2 control-label">Publisher</label>
									<div class="col-lg-5">
										<%=f.select :publisher_id, options_for_select(@publishers.collect{|x| [x.name, x.id]}) ,{:prompt => "--select publisher--"}, :class => 'form-control' %>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Category</label>
									<div class="col-lg-5">
										<%#=f.select :category_id, options_for_select(@categories.sort { |a,b| a.name <=> b.name }.collect{|x| [x.name, x.id]}) ,{:prompt => "--select category--"}, :class => 'form-control' %>
										     <%= f.collection_select :category_id, Category.arrange_as_array({:order => 'name'}) , :id, :name_for_selects, {:prompt => "--select category--"},:class=>"form-control"%>
									</div>
								</div>








								<div class="form-group">
									<label class="col-lg-2 control-label">Country</label>
									<div class="col-lg-5">
										<%= hidden_field_tag "report[country_ids][]", nil %>
										<%=select_tag "report[country_ids][]",  options_for_select(@countries.collect{|x| [x.name, x.id]}) ,:multiple=> true, :id=>"country_select"%>



									</div>
								</div>
							

								<div class="form-group">
									<label class="col-lg-2 control-label">Region/Group</label>
									<div class="col-lg-5">
								
										<%=f.select :region_id, options_for_select(@regions.collect{|x| [x.name, x.id]}) ,{:prompt => "--Select Region--"}, :class => 'form-control' %>



									</div>
								</div>

																<div class="form-group">
									<label class="col-lg-2 control-label">Continent</label>
									<div class="col-lg-5">
										<%=f.select :continent_id, options_for_select(@continents.collect{|x| [x.name, x.id]}) ,{:prompt => "--Select Continent--"}, :class => 'form-control' %>
								



									</div>
								</div>

									<div class="form-group">
									<label class="col-lg-2 control-label">No. of Pages</label>
									<div class="col-lg-5">
										<%= f.text_field :no_of_pages, :class => 'form-control'  %>
									</div>
								</div>
							    <div class="form-group">
									<label class="col-lg-2 control-label">Image</label>
									<div class="col-lg-5">
										<%= f.file_field :report_image, :class => 'form-control' %>
									</div>
								</div>
								
							    <div class="form-group">
									<label class="col-lg-2 control-label">1-User PDF</label>
									<div class="col-lg-5">
									  <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                       	<%= f.text_field :one_user, :class => 'form-control' %>
                                      </div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">5-User PDF</label>
									<div class="col-lg-5">
									  <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                        <%= f.text_field :five_user, :class => 'form-control' %>
                                      </div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Site PDF</label>
									<div class="col-lg-5">
									  <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                        <%= f.text_field :site_user, :class => 'form-control' %>
                                      </div>
									</div>
								</div>
 								<div class="form-group">
									<label class="col-lg-2 control-label">Enterprise PDF</label>
									<div class="col-lg-5">
									  <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                        <%= f.text_field :enterprise_user, :class => 'form-control' %>
                                      </div>
									</div>
								</div>
			

								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-6">
										<button type="submit" class="btn btn-sm btn-success">
											Save
										</button>
										<button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
											Back
										</button>
									</div>
								</div>

								<% end %>

							</div>
						</div>
						<div class="widget-foot">

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>

















<script src="//code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>



 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

  <%=stylesheet_link_tag "multiple-select.css"%>

    <%= javascript_include_tag "jquery.multiple.select.js"%>

<script type="text/javascript">
var jq = jQuery.noConflict(); 
  jq('#report_upcoming').click(function(){
    if(jq('#report_upcoming').is(':checked')){
    
      jq('#report_publish_date_1i').attr('disabled', 'disabled');
      jq('#report_publish_date_2i').attr('disabled', 'disabled');
      jq('#report_publish_date_3i').attr('disabled', 'disabled');
    }else{
   
      jq('#report_publish_date_1i').removeAttr('disabled');
      jq('#report_publish_date_2i').removeAttr('disabled');
      jq('#report_publish_date_3i').removeAttr('disabled');
    }
  }); 
 jq('#country_select').multipleSelect();
</script>

<script type="text/javascript">

jQuery(document).ready(function() {
	
jQuery('#report_publish_month').monthpicker();

});
</script>

<%= tinymce %>