



<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Reports</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Reports</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Reports
							</div>
						
							<div class="clearfix"></div>
						</div>
			  <%= form_for(:report, :url => admin_sort_reports_path,  :class=>"form-horizontal", :html => { :id=>"report_label",:onsubmit=>"return jQuery('#report_label').validationEngine('validate',{scroll: false});" }) do |f| %>
					<div class="form-group">
					
						<div class="col-lg-3">
						


							 <%= f.select :report_type, options_for_select(Report::REPORT_TYPES) ,{:prompt => "--select category--"} ,:class=>"form-control validate[required]" %>
						</div>
					</div>




						<button type="submit" class="btn btn-sm btn-success">
																	Find
																</button>

						<%end%>


						<br>
						<br><br>
							<div id="loading" style="display:none">
						 		<img src="/assets/loader.gif"/>
						 	</div>
						 <div id ="reports">
						 
						  <%#= render "update_reports"%>

						 </div>


						
						<div class="widget-foot">
					
						

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>




<script language="Javascript" type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script language="Javascript" type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script type="text/javascript">

jQuery(document).ready(function() {
	
jQuery('#q_publish_month_eq').monthpicker();




});

// jQuery( "#report_label" ).submit(function( event ) {
//  jQuery("#report_label").validationEngine('validate',{promptPosition : "centerRight", scroll: false})
//  return false;
// });

</script>


<script type="text/javascript">
var jq = jQuery.noConflict(); 

jq('#selectAll').click(function() {
   if(this.checked) {
       jq(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      jq(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});
</script>






























