
<!-- Bootstrap styles -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Generic page styles -->

<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
  <%=stylesheet_link_tag "jquery.fileupload.css","jquery.fileupload-ui.css"%>
  <%=stylesheet_link_tag "font-awesome.min.css"%>
  <%=stylesheet_link_tag "admin/fullcalendar.css"%>
  <%=stylesheet_link_tag "admin/prettyPhoto.css"%>
  <%=stylesheet_link_tag "admin/rateit.css"%>
  <%=stylesheet_link_tag "admin/bootstrap-datetimepicker.min.css"%>

  <%=stylesheet_link_tag "admin/jquery.dataTables.css"%>
  <%=stylesheet_link_tag "admin/jquery.onoff.css"%>
  <%=stylesheet_link_tag "admin/style.css"%>
  <%=stylesheet_link_tag "admin/widgets.css"%>
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript>
 <%=stylesheet_link_tag "jquery.fileupload-noscript.css"%>
  </noscript>
<noscript> <%=stylesheet_link_tag "jquery.fileupload-ui-noscript.css"%></noscript>

<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  
    <div class="container">
      <!-- Menu button for smallar screens -->
            <div class="col-md-4">
          <!-- Logo. -->
          <div class="logo" style="padding: 6px;">
            <h1><a href="#">WiseGuy<span class="bold">Admin</span></a></h1>
            <p class="meta">something goes in meta area</p>
          </div>
       
        </div>
      

      <!-- Navigation starts -->
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         

        <ul class="nav navbar-nav">  

          <!-- Upload to server link. Class "dropdown-big" creates big dropdown -->


          <!-- Sync to server link -->


        </ul>

        <!-- Search form -->
  
        <!-- Links -->
        <ul class="nav navbar-nav pull-right">
            <li> <%= link_to "<i class='fa fa-pencil-square-o '></i> Change Password".html_safe, admin_admin_change_password_path %></li>
         <li> <%= link_to "<i class='fa fa-sign-out'></i> Logout".html_safe, signout_url %></li>
          <!-- <li class="dropdown pull-right">            
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-user"></i> Admin <b class="caret"></b>              
            </a> -->
            
            <!-- Dropdown menu -->
          <!--   <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
              <li><a href="login.html"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </li> -->
          
        </ul>
      </nav>

    </div>
  </div>


<!-- Header starts -->
  <header>
    <div class="container">


      <div class="row">




      </div>
    </div>
  </header>

<%= render "admin/shared/left_menu"%>
<div class="mainbar">

    <!-- Page heading -->
    <div class="page-head">
        <h2 class="pull-left"><i class="fa fa-file-o"></i> Reports</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
            <a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
            <!-- Divider -->
            <span class="divider">/</span>
            <a href="#" class="bread-current">Reports</a>
        </div>

        <div class="clearfix"></div>

    </div>
    <!-- Page heading ends -->

    <!-- Matter -->

    <div class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">



    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="/admin/reports/upload_multiple" method="POST" enctype="multipart/form-data" >
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="//blueimp.github.io/jQuery-File-Upload/"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                       <%= file_field_tag 'Browse[]', :multiple => true %>
                </span>
             <%= render "update_positions" %>
                    <a href="#settings" role="button" class="btn btn-sm btn-primary mymodal" data-toggle="modal">Settings</a>
                    <a href="/admin/reports" ></a>
   
                     <a href="/admin/reports" class="btn btn-danger">Back to Reports</a>
  
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
    <br>
<!--  <div id="loading" style="display:none">
    <center>
    <img src="/assets/loading.gif" style="height:100px">
    <h4>Excelsheet Dumping is in process. Please wait....</h4>
    </center>
 </div> -->

<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>



  </div>

                


                    </div>
                </div>

            </div>
        </div>



<%= render "upload_settings" %>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
           
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
            {% if (file.success) { %}
                <div><span class="label label-success">Success</span> {%=file.success%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
    
    </tr>
{% } %}
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->

<%=javascript_include_tag "jquery.ui.widget.js"%>

<!-- The Templates plugin is included to render the upload/download listings -->
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->


  <%=javascript_include_tag "jquery.iframe-transport.js"%>
<!-- The basic File Upload plugin -->

  <%=javascript_include_tag "jquery.fileupload.js","jquery.fileupload-process.js"%>
  <%=javascript_include_tag "jquery.fileupload-ui.js"%>

  <%=javascript_include_tag "jquery.fileupload-image.js","jquery.fileupload-audio.js","jquery.fileupload-video.js","jquery.fileupload-validate.js"%>
<!-- The main application script -->
  <%=javascript_include_tag "main.js"%>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
