
.full-width {
	  min-width: 100%;
  max-width: 100%;
  width: 100%;
}







ul, li {
	font-size:14px; 
/*	font-family:Arial, Helvetica, sans-serif;*/
	line-height:21px;
	text-align:left;
}

#menu {

  list-style: none;
  /* width: 940px; */
  /* margin: -21px auto 0px auto; */
  height: 43px;
  padding: 0px 20px 0px 20px;
  -moz-border-radius: 10px;
  /* -webkit-border-radius: 10px; */
  /* border-radius: 10px; */
  background: #014464;
  background: -moz-linear-gradient(top, #0272a7, #013953);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B2D487), to(#B2D487));
  /* border: 1px solid #002232; */
  -moz-box-shadow: inset 0px 0px 1px #edf9ff;
  /* -webkit-box-shadow: inset 0px 0px 1px #edf9ff; */
  /* box-shadow: inset 0px 0px 1px #edf9ff; */


}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 10px 4px 10px;
  margin-right: 20px;

	margin-top:7px;
	border:none;
}

#menu li:hover {
	/*border: 1px solid #777777;*/
	padding: 4px 9px 4px 9px;
	
	/* Background color and gradients */
	
	background: #3275A8;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	/* Rounded corners */
	
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	color: #333;
	display:block;
	outline:0;
	text-decoration:none;
	/*text-shadow: 1px 1px 1px #000;*/
}

#menu li:hover a {
	color:#3275A8;
	text-shadow: 1px 1px 1px #ffffff;
}
#menu li .drop {
/*	padding-right:21px;*/
	background:url("img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
	background:url("img/drop.png") no-repeat right 7px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #777777;
	border-top:none;
	
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
	  z-index: 100001;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:12px;
	color:#015b86;
}
#menu li:hover div a:hover {
	color:#029feb;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}







#menuwrapper ul, #menuwrapper ul li{
    margin:0;
    padding:0;
    list-style:none;
    z-index: 1
}

/* We apply background color and border bottom white and width to 150px */
#menuwrapper ul li{
	  border-top: 1px solid #e5ecf1;

    background-color:#F5F5F5;
 /*   border-bottom:solid 1px white;*/
  /*  width:150px;*/
    cursor:pointer;
}

/* We apply the background hover color when user hover the mouse over of the li component */
#menuwrapper ul li:hover{
    background-color:#3275A8;
    position:relative;
}

#menuwrapper ul li:hover a { color: #333 }

/* We apply the link style */
#menuwrapper ul li a{
    padding:5px 15px;
    color:#333;
    display:inline-block;
    text-decoration:none;
}

/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#menuwrapper ul li ul{
    position:absolute;
    display:none;
}

/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */
#menuwrapper ul li:hover ul{
    left:218px;
    top:0px;
    display:block;
}

/* we apply different background color to 2nd level menu items*/
#menuwrapper ul li ul li{
    background-color:#F5F5F5;
}

/* We change the background color for the level 2 submenu when hovering the menu */
#menuwrapper ul li:hover ul li:hover{
    background-color:#3275A8;
}

/* We style the color of level 2 links */
#menuwrapper ul li ul li a{
    color:#333;
    display:inline-block;
    width:150px;
}

/**** THIRD LEVEL MENU ****/
/* We need to hide the 3rd menu, when hovering the first level menu */
#menuwrapper ul li:hover ul li ul{
    position:absolute;
    display:none;
}

/* We show the third level menu only when they hover the second level menu parent */
#menuwrapper ul li:hover ul li:hover ul{
    display:block;
    left:150px;
    top:0;
}

/* We change the background color for the level 3 submenu*/
#menuwrapper ul li:hover ul li:hover ul li{
    background:#F5F5F5;
}

/* We change the background color for the level 3 submenu when hovering the menu */

#menuwrapper ul li:hover ul li:hover ul li:hover{
    background:#358ebc;
}

/* We change the level 3 link color */
#menuwrapper ul li:hover ul li:hover ul li a{
    color:#333;
}



/*
	Theme Name: Forester
	Theme URI: http://www.theme-junkie.com/
	Description: Proudly designed by <a href="http://www.theme-junkie.com">Theme Junkie</a>
	Author: Theme Junkie
	Version: 1.0
	Tags: advertise-ready, widget-ready, advanced-theme-options
	
		Copyright: (c) 2011 Theme Junkie.
		license: GNU/GPL Version 2 or later. http://www.gnu.org/licenses/gpl.html
*/

/* 

WARNING! DO NOT EDIT THIS FILE!

To make it easy to update your theme, you should not edit the styles in this file. Instead use 
the custom.css file to add your styles. You can copy a style from this file and paste it in 
custom.css and it will override the style in this file. You have been warned! :)

*/

/*---------------------------------------------------------------------------------*/
/* RESET */
/*---------------------------------------------------------------------------------*/

ul,ol,li { margin:0; padding:0; }
ul,ol { list-style:none; }

/* Floating & Alignment */
.left { float:left; }
.right { float:right; }
.ac { text-align:center; }
.ar { text-align:right; }

/* Clear Floats */

/*---------------------------------------------------------------------------------*/
/* SETUP */
/*---------------------------------------------------------------------------------*/

/* Defaults */

h1 { font-size:22px; }
h2 { font-size:18px; }
h3 { font-size:15px; }
h4 { font-size:13px; }
h5,h6 { font-size:12px; }

/* Hyperlinks */
a { text-decoration:none; color:#15527e; }
a:hover { color:#3275a8; text-decoration:underline; }
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited { text-decoration:none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration:underline; }

/*---------------------------------------------------------------------------------*/
/* SITE STRUCTURE & APPEARANCE */
/*---------------------------------------------------------------------------------*/


/* Sidebar Navigation */
#sidebar-nav { z-index:99; padding:0px; list-style:none; line-height:1; float:left; margin:0 0 15px 0; border:1px solid #e5ecf1; border-top:none; }
#sidebar-nav a { position:relative; display:block; z-index:100; text-decoration:none; }
#sidebar-nav li { width:auto; border-top:1px solid #e5ecf1;   line-height: 1;}
#sidebar-nav li a { background:#fbfbfb url(../assets/bullet.png) no-repeat 120px 11px; display:block; padding:8px 6px; border:1px solid #fff; color:#333; }
#sidebar-nav li a:hover, #sidebar-nav li a:active, #sidebar-nav li.current-cat, #sidebar-nav li.current-cat-parent { background-color:#f7f7f7; color:#15527e; text-decoration:none; }
#sidebar-nav li a.sf-with-ul {  }
#sidebar-nav li ul { background:#fff; position:absolute; left:-999em; width:140px; margin:-31px 0px 0px 138px; border:1px solid #e5ecf1; border-bottom:none; z-index:999; }
#sidebar-nav li ul li { border-top:none; border-bottom:1px solid #e5ecf1; border-right:none; }
#sidebar-nav li ul li a { background:#fbfbfb; padding:9px 15px 7px; color:#333; font-size:11px; line-height:12px; }
#sidebar-nav li ul li a.sf-with-ul { padding:8px 15px; }
#sidebar-nav li ul li a:hover { background:#f7f7f7; color:#15527e; text-decoration:none; }
#sidebar-nav li ul ul { margin:-31px 0px 0px 140px; }
#sidebar-nav li ul ul li a {  }
#sidebar-nav li ul li ul li a {  }
#sidebar-nav li:hover,#sidebar-nav li.hover { position:static; }
#sidebar-nav li:hover ul ul, #sidebar-nav li.sfhover ul ul,
#sidebar-nav li:hover ul ul ul, #sidebar-nav li.sfhover ul ul ul,
#sidebar-nav li:hover ul ul ul ul, #sidebar-nav li.sfhover ul ul ul ul { left:-999em; }
#sidebar-nav li:hover ul, #sidebar-nav li.sfhover ul,
#sidebar-nav li li:hover ul, #sidebar-nav li li.sfhover ul,
#sidebar-nav li li li:hover ul, #sidebar-nav li li li.sfhover ul,
#sidebar-nav li li li li:hover ul, #sidebar-nav li li li li.sfhover ul { left:auto; }
/*#sidebar-nav .sf-sub-indicator { display:none; }*/
#sidebar-nav li ul .sf-sub-indicator { background:url(../assets/bullet.png) no-repeat; position:absolute; display:block; right:0.4em; top:0.9em; width:10px; height:10px; overflow:hidden; }
#sidebar_blog_popular ul li {
  background: url(..assets/bullet.png) 0 15px no-repeat !important;
  border-bottom: 1px solid #E6E6E6;
  list-style: none !important;
  margin: 0;
  padding: 10px 0 10px 10px;
}

#sidebar_blog_popular ul li a {
  color: #333333;
}
#sidebar_blog_popular ul li a:hover {
  color: #0D58A6;
}
.comment_box{border-radius:2px;-webkit-box-shadow:1px 1px 3px #ddd;-moz-box-shadow:1px 1px 3px #ddd;box-shadow:1px 1px 3px #ddd;border:1px solid #eaeaea;background:#fff;padding:15px}
 .addCommentBlock{background-color:#eeeff2;background-image:-moz-linear-gradient(top,#eeeff2,#eeeff2);background-image:-ms-linear-gradient(top,#eeeff2,#eeeff2);background-image:-webkit-gradient(linear,0 0,0 100%,from(#eeeff2),to(#eeeff2));background-image:-webkit-linear-gradient(top,#eeeff2,#eeeff2);background-image:-o-linear-gradient(top,#eeeff2,#eeeff2);background-image:linear-gradient(top,#eeeff2,#eeeff2);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeff2',endColorstr='#eeeff2',GradientType=0);border-color:#eeeff2 #eeeff2 #c3c6d1;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);border:1px solid #ddd;padding:12px 12px 5px;min-height:115px;margin-top:15px;display:block}
.commentDetails{background:#fff;border:1px solid #ddd;margin-bottom:5px;border-radius:2px;padding:10px 10px 5px;  margin-top: 10px;display:inline-block;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;word-wrap:break-word}
.commentDetails .commentDiv{width:100%}
.alignMiddle{vertical-align:middle}
.span1{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;word-wrap:break-word}
.editStatus{padding:5px 2px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;word-wrap:break-word}
p small {
  font-size: 11px;
  color: #999999;
}


.tag-links a {
  background-color: #767676;
  border-radius: 0 2px 2px 0;
  color: #fff !important;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.2727272727;
  margin: 2px 4px 2px 10px;
  padding: 2px 7px 3px 10px;
  position: relative;
  text-transform: uppercase;
}
.tag-links a:hover {
  background-color: #006DCC;
  color: #fff !important;
  text-decoration: none !important;
}
.tag-links a:before {
  border-top: 10px solid transparent;
  border-right: 8px solid #767676;
  border-bottom: 9px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  left: -8px;
  width: 0;
}
.tag-links a:after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 4px;
  position: absolute;
  top: 8px;
  left: -2px;
  width: 4px;
}
.tag-links a:hover:before {
  border-right-color: #006DCC;
}
#breadcrumbs {
  border-bottom: #E6E6E6 solid 1px;
  color: #777777;

  font-size: 11px;
  letter-spacing: 1px;
  line-height: 18px;
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
}
#breadcrumbs a {
  background: url(../assets/bullet.png) right center no-repeat;
  color: #777777;
  margin-right: 1px;
  padding-right: 10px;
}
.blog_date{
  color: #777777;
  font-family: Georgia, serif;
  font-size: 11px;
  letter-spacing: 1px;
}