/*common css for all pages*/

.topheader {
        padding-top: 10px;
    }

    .topheaderbg {
        background-color:#006DCC;
    }

    .topheadertag {
        margin-left: 0px !important;
    }

    .topheadertag h6 {
        color: #fff;
        font-style: italic;
    }

    .keyword-bg form {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }

    .guy-pic img {
        min-width: 0%;
    }

    .srch {
        width: 720px;
    }

    .cliantsection {
        padding: 20px 0 0px !important;
    }

    .ourcliant {
        padding: 35px 0px 0px 0px !important;
    }

    .ourcliant h2 {
        margin: 0 0 -7px;
        font-size:24px;
        color:#006DCC;
    }

    .ourcliant h2 b {
        font-size: 20px;
    }

    .partnerslider {
      /*  width:75% !important;*/
        float:right !important;
        padding: 0 !important;
        display: none;
        padding-top: 20px !important;
    
    }

    .sectionfeatures {
        padding:27px 0 !important;
    }

    .bubblerectangle {
        background-color: #A375FF;
        width:104%;
    }

    .bubblerectangle2 {
        background-color: #01C47E;
        width:104%;
    }

    .bubblerectangle h2 img {
        cursor:pointer;
    }

    .bubblerectangle2 h2 img {
        cursor: pointer;
    }

    .bubblerectangle3 h2 img {
        cursor: pointer;
    }

    .rsscursor h3 img {
        cursor: pointer;
    }

    .bubblebox {
        height: 450px;
        overflow-y: auto;
        padding: 8px 25px 17px 25px;
    }

    .bubblebox2 {
        height:450px;
        overflow-y:auto;
    }

    .bubblebox3 {
        background-color: #009CD6;
        width:104%;
    }

    .marquee2 {
        width:auto;
    }

    .marquee3 {
        width:auto
    }

    .panelbodyfont {
        font-size:12px !important;
    }

    .panelbodyimg {
      float:left !important;
      margin-right:16px !important;
      margin-bottom: 15px !important;
      height:85px !important;
      width:65px !important;
    }

    .panelbodyimg span a {
        color:#006DCC !important;
    }

    .fontcolor{
        color:#006DCC !important;
    }

    .datecolor {
        color:#916D06
    }

    .rectanglebgcolor {
        background-color: #009CD6 !important;
        width:104% !important;
    }

    .latestreportsec {
        margin-bottom:20px;
    }

    .recentblogfooter {
        height: 200px;
        width: 250px;
    }

    .recentblogpostfooter {
        height:200px;
        width:250px;
    }

    .postdatefooter {
        border-radius: 5px;
    }

    .postdatefooterh3 {
        font-size: 13px !important;
    }

    .bubblecolor {
        background-color: #DE5C9D;
        width:103%;
    }

    .boxheight {
        height:335px;
    }

    .boxscrool {
        height: 275px !important;
        width:auto !important;
    }

    .pannelbody {
        float:right !important;
        padding-left: 20px !important;
    }

    .testimonials {
        background-color: #FE9A42;
        width:103%;
    }

    .testimonialsheight {
        height:335px;
    }

    .testimonialscolortext {
        background-color: #D1ECFF;
    }

    .footersupport {
        text-align: left;
        padding-top: 5px;
    }

    .footer {
        text-align: left;
        padding-top: 5px;
    }

    .aboutus {
        margin-top:-10px ;
        border-bottom: none;
    }

    .contactusfooter {
        padding-bottom: 15px;
        padding-top: 5px;
        text-align: left;
    }

    .youtube {
        width: 75px;
    }

    .newsletter {
        font-size: 10px !important;
    }

    .tabtwitter {
      height: 230px !important;
      width: 230px !important;
      display: list-item !important;
    }

    .twitterinnertab {
        height: 230px !important;
        width: 244px !important;
        margin: -7px 0px 14px -7px !important;
        display: block !important;
    } 

    .twitterprofile {
        margin: 0 0px !important;
        width: 245px !important;
    }

    .letstweet {
        opacity: 1;
    }

    .tweetercontrols {
        width: 192px !important;
        display: none !important;
    }

    .footcopyright {
        margin-bottom:10px;
    }

    .brandicon {
        list-style-type: none;
    }

    .brandiconleft {
        float: left;
    }

    .srchbutton {
        border: 1px solid !important;
    }

    .srchform {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }

    .advsrch {
        margin-left: 15px !important;
        border: 1px solid !important;
    }

    .bubble_box_3 {
        height:450px !important;
        overflow-y:auto !important;
    }

    .sectionbox {
        margin-bottom:20px !important;
    }

    .scroll_span {
        vertical-align: middle !important;
    }
/*
    .scroll_top {
        display: none !important;
    }*/

    .newsletter_form {
        padding-bottom:17px !important;
    }

    .textareamessage {
        height:100px !important;
    }
    .srchBox{
        /*margin-left: 0px;*/
    }