@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {margin:0; padding:0; background:#e8e8e8; font-family:Arial;}
* {margin:0; padding:0;}

.clear {clear:both;}

p {font-size:14px; line-height:21px; color:#797979;}
p span {font-weight:bold; font-size:16px;}


#top-bg {background:#020202;}
#top-bg .logo {float:left; margin-top:28px; margin-bottom:22px;}
#top-bg .nav {float:right;}
#top-bg .nav ul {margin:0; padding:0;}
#top-bg .nav ul li {float:left; font-size:12px; line-height:123px; color:#fff;}
#top-bg .nav ul li a {color:#fff; text-decoration:none; text-transform:capitalize; padding:54px 18px 30px 18px;}
#top-bg .nav ul li a:hover {background:#00acf9; padding:54px 18px 30px 18px; transition: all 2.5s ease 0s; -webkit-transition: all 2.5s ease 0s; -o-transition: all 2.5s ease 0s; -moz-transition: all 2.5s ease 0s;}
#top-bg .nav ul li a#hover {background:#00acf9; padding:54px 18px 30px 18px;}


#top-social-bg {background:#2b2b2b; width:100%; margin-top:-22px;}
#top-social-bg .social-inner {margin:0 auto; padding:21px 0 13px 0;}
#top-social-bg .info-bg {float:left;}
#top-social-bg .info-bg ul {margin:0; padding:0;}
#top-social-bg .info-bg ul li {float:left; line-height:25px; font-size:12px; color:#e4e4e4; padding-right:12px;}
#top-social-bg .info-bg ul li a {color:#e4e4e4; text-decoration:none;}
#top-social-bg .info-bg ul li a:hover {color:#00acf9; text-decoration:none;}
#top-social-bg .last-li {margin-right:41px;}
#top-social-bg .top-social {float:right;}
#top-social-bg .top-social img {float:left; margin-left:10px;}


#banner-bg { width:100%;}


#wise-search {background:#f94777; margin-bottom:60px; width:100%;}
#wise-search .wish-guy-inner {margin:0 auto; padding-top:6px; padding-bottom:36px;}
#wise-search .guy-pic {float:left; margin-left:95px; position:absolute;}
#wise-search .keyword-bg {float:left; margin-left:210px; margin-top:40px;}
#wise-search .keyword-bg h1 {font-size:28px; font-weight:bold; font-style:italic; line-height:25px; color:#fff;}



#section {width:1100px; margin:0 auto; padding-bottom:20px;}
#section .section-left {float:left; width:356px;}
#section .section-left .popular-box {margin:0;}
#section .section-left .popular-bg {background:#f94777; padding:27px 0 27px 20px;border-right:1px solid #dddddd;}
#section .section-left .popular-icon {background:url(../images/popular-icon.png) no-repeat; font-size:24px; color:#fff; line-height:29px; padding-left:47px;}
#section .section-left .popular-list {background:#f2f2f2; border:1px solid #dddddd; padding:0 32px 126px 29px;}
#section .section-left .popular-list ul {margin:0; padding:0;}
#section .section-left .popular-list ul li {border-bottom:1px solid #c2c2c2;}
#section .section-left .popular-list ul li a {font-size:14px; color:#818181; background:url(../images/list-arrow.png) no-repeat left; text-decoration:none; line-height:40px; padding-left:22px;}
#section .section-left .popular-list ul li a:hover {color:#5bc2d3; background:url(../images/list-arrow-hover.png) no-repeat left;}


#section .section-right {float:right; width:728px;}

#section .section-right .upcoming-box {float:left; width:356px;}
#section .section-right .upcoming-bg {background:#01c47e; padding:27px 0 27px 20px;border-right:1px solid #dddddd;}
#section .section-right .upcoming-icon {background:url(../images/popular-icon.png) no-repeat; font-size:24px; color:#fff; line-height:29px; padding-left:47px;}

#section .section-right .personal-main {border:1px solid #dddddd;}
#section .section-right .personal-bg {background:#e8e8e8; border-bottom:1px solid #dddddd; padding:10px;}
#section .section-right .personal-bg a {font-size:12px; line-height:21px; color:#818181; text-decoration:none; background:url(../images/list-arrow.png) no-repeat left; padding-left:18px;}
#section .section-right .personal-bg a:hover {color:#f94777; text-decoration:none; background:url(../images/list-arrow-hover.png) no-repeat left;}
#section .section-right .report-bg {background:#f2f2f2; padding:10px;}
#section .section-right .report-bg p {font-size:14px; line-height:21px; color:#818181;}

#section .section-right .top-selling-box {float:right; width:356px;}
#section .section-right .top-selling-bg {background:#5bc2d3; padding:27px 0 27px 20px;border-right:1px solid #dddddd;}
#section .section-right .top-selling-icon {background:url(../images/popular-icon.png) no-repeat; font-size:24px; color:#fff; line-height:29px; padding-left:47px;}
#section .section-right .top-selling-txt {background:#f2f2f2; padding:10px; border:1px solid #dddddd;}

#section .section-right .just-res {background:#99519b; padding:27px 0 27px 20px;border-right:1px solid #dddddd; margin-top:20px;}
#section .section-right .just-icon {background:url(../images/popular-icon.png) no-repeat; font-size:24px; color:#fff; line-height:29px; padding-left:47px;}
#section .section-right .indian-bg {background:#e8e8e8; border:1px solid #dddddd; padding:10px;}
#section .section-right .indian-bg a {font-size:12px; line-height:21px; color:#818181; text-decoration:none; background:url(../images/list-arrow.png) no-repeat left; padding-left:18px;}
#section .section-right .indian-bg a:hover {color:#f94777; text-decoration:none; background:url(../images/list-arrow-hover.png) no-repeat left;}
#section .section-right .marq {background:#f2f2f2; border:1px solid #dddddd; border-top:none; padding:10px;}


#latest-report-bg {background:#01c67f; margin-top:30px; margin-bottom:80px;}
#latest-report-bg .latest-inner {width:1100px; margin:0 auto; padding:42px 0;}
#latest-report-bg h2 {font-size:24px; color:#fff; font-weight:bold; text-transform:uppercase; text-align:center; margin-bottom:30px;}
#latest-report-bg .box-left {float:left; width:538px; border:1px solid #dcdcdc;}
#latest-report-bg .left-inner {background:#e8e8e8; padding:20px 20px 10px 20px;} 
#latest-report-bg .date {font-size:14px; color:#797979; line-height:24px; border-bottom:1px solid #c9c9c9; font-style:italic; font-weight:bold;}
#latest-report-bg .box-txt {background:#f2f2f2; border-top:1px solid #d9d9d9; padding:20px;}

#latest-report-bg .box-right {float:right; width:538px; border:1px solid #dcdcdc;}
#latest-report-bg .right-inner {background:#e8e8e8; padding:20px 20px 30px 20px;} 
#latest-report-bg .box-txt2 {background:#f2f2f2; border-top:1px solid #d9d9d9; padding:20px 20px 40px 20px;}

#latest-report-bg .see-more-bg {margin-top:20px; display:block; margin-left:400px;}
#latest-report-bg .see-more-inner {background:#ebebeb; border-radius:4px; font-size:24px; color:#01c67f; font-weight:bold; line-height:30px; width:279px; text-align:center; line-height:50px; display:block; text-decoration:none;}
#latest-report-bg .see-more-inner:hover {background:#f94777; color:#fff; transition: all 2.5s ease 0s; -webkit-transition: all 2.5s ease 0s; -o-transition: all 2.5s ease 0s; -moz-transition: all 2.5s ease 0s;}

#update-testo-bg {width:1100px; margin:0 auto; padding-bottom:50px;}
#update-testo-bg .updates-bg {float:left; width:540px;}
#update-testo-bg .update-col {background:#f94777; padding:20px 0 25px 20px;border-right:1px solid #dddddd;}
#update-testo-bg .update-icon {background:url(../images/popular-icon.png) no-repeat; font-size:24px; color:#fff; line-height:29px; padding-left:47px;}
#update-testo-bg .update-list {background:#f2f2f2; border:1px solid #dddddd; padding:10px 32px 126px 29px;}
#update-testo-bg .update-list ul {margin:0; padding:0;}
#update-testo-bg .update-list ul li {border-bottom:1px solid #797979; padding:10px 0;}
#update-testo-bg .update-list ul li a {font-size:14px; color:#797979; background:url(../images/list-arrow.png) no-repeat left; text-decoration:none; line-height:20px; padding-left:22px;}
#update-testo-bg .update-list ul li a:hover {color:#5bc2d3; background:url(../images/list-arrow-hover.png) no-repeat left;}


#update-testo-bg .testimonial-bg {float:right; width:540px;}
#update-testo-bg .testo-col {background:#fe9a42; padding:20px 0 25px 20px;border-right:1px solid #dddddd;}
#update-testo-bg .testo-icon {background:url(../images/popular-icon.png) no-repeat; font-size:24px; color:#fff; line-height:29px; padding-left:47px;}
#update-testo-bg .pellen-bg {background:#f2f2f2; border:1px solid #dddddd; padding:30px 32px 129px 29px; text-align:center; font-size:16px; color:#797979; font-style:italic; font-weight:bold; line-height:20px;}

#design-main {background:#75c7d5; padding:30px 0;}
#design-main .design-inner {width:100%; margin:0 auto; text-align:center; font-size:24px; font-weight:bold; color:#fff;}

#our-clients-bg {background:#5bc2d3; padding:20px 0 70px 0;}
#our-clients-bg .client-inner {width:100%; margin:0 auto;}
#our-clients-bg h3 {font-size:24px; font-weight:bold; color:#fff; text-align:center; margin-bottom:30px;}
#our-clients-bg h3 span {font-size:20px; font-weight:bold; color:#fff; text-align:center; margin-bottom:30px; line-height:25px;}
#our-clients-bg .client-logo {margin-top:80px;}
#our-clients-bg .client-logo img { margin-left:50px;}

#footer-bg {background:#d8d8d8; padding:50px 0 60px 0;}
#footer-bg .footer-inner {width:1100px; margin:0 auto;}
#footer-bg .address-bg {float:left; width:331px; margin-right:30px;}
#footer-bg h4 {font-size:24px; color:#797979; font-weight:bold; padding-bottom:15px;}
#footer-bg p {color:#797979;}
#footer-bg .social-footer {margin-top:30px;}
#footer-bg .social-footer img {float:left; margin-right:10px;}

#footer-bg .popular-publish {float:left; width:337px;}
#footer-bg .news-letter-bg {float:right; width:335px;}
#footer-bg .news-feild-bg {background:#b5b5b5; border-bottom:1px solid #b5b5b5; margin-top:20px; border-radius:5px;}
#footer-bg .news-feil {background:#fff; border-radius:5px 0px 0px 5px; border:none; font-family:Arial; font-size:14px; color:#000000; float:left; line-height:25px; padding-left:10px; height:30px; width:225px;}
#footer-bg .news-submit {background:#5bc2d3; float:right; display:block; border-radius:0px 5px 5px 0px; font-size:14px; text-decoration:none; width:100px; text-align:center; line-height:30px; color:#fff;}
#footer-bg .news-submit:hover {background:#f94777;  transition: all 2.5s ease 0s; -webkit-transition: all 2.5s ease 0s; -o-transition: all 2.5s ease 0s; -moz-transition: all 2.5s ease 0s;}

#copyright-bg {background:#e8e8e8; padding:30px 0;}
#copyright-bg .copy-inner {width:100%; margin:0 auto;}
#copyright-bg .copy-txt {float:left;}
#copyright-bg .botton-nav {float:right;}
#copyright-bg .botton-nav ul {margin:0; padding:0;}
#copyright-bg .botton-nav ul li {float:left; font-size:12px; line-height:20px; color:#797979; padding-left:10px;}
#copyright-bg .botton-nav ul li a {color:#797979; text-decoration:none;}
#copyright-bg .botton-nav ul li a:hover {color:#797979; text-decoration:underline;}





