                        
 <!-- ==========================
    	BREADCRUMB - START 
    =========================== -->

<%
meta title: "WiseGuyReports- Categories"
%>

    <section class="breadcrumb-wrapper">
        <div class="container">
         
            <%= render "shared/search_form"%>
           
        </div>
    </section>
	<!-- ==========================
    	BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
    	ESHOP - START 
    =========================== -->
    <section class="content" id="eshop">
    	<div class="container">
<% cache "allcategories", skip_digest: true do %>
    <div class="col-lg-12">
       <h4 style="color:#074C94;font-size: 16px;"><strong>Browse all categories: Market Research Reports</strong></h4>

        <ul>




         <% Category.roots.each do |category| %>
           <div class="col-lg-12">
             <hr>

             <h5> <a href="/categories/<%=category.slug%>" class="fontcolor"> <b><%= category.name%></b> (<%= category.reports_count %>)</a></h5>

              <ul style="padding-top:10px">
                <% category.children.each_slice(3) do |tag_array| -%>
                  <% tag_array.each do |subsubcategory| %>
                    <div class="col-md-4" class="fontcolor"><i class="fa fa-angle-double-right"></i> <a href="/categories/<%=subsubcategory.slug%>"> <%=  truncate( raw( sanitize(subsubcategory.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 30, :omission => "...")%> (<%= subsubcategory.reports_count %>)</a></div>
               
                  <% end -%><br/>
                 <% end %>
              </ul>
            </div>
          <% end -%>



        </ul>
      </div>

     <% end -%>        
        </div>
    </section>

































