

<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> Newsletter Template</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="<%= admin_news_updates_path %>" class="">Newsletter Template</a>
			<span class="divider">/</span>
			<a href="#" class="bread-current">Edit</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->
	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Newsletter Template
							</div>
						
							<div class="clearfix"></div>
						</div>
						<div class="widget-content">
							<div class="padd">
								<br/>
								<%= form_for [:admin, @template],:html => { :multipart => true , :class=>"form-horizontal"} do |f| %>
						
						
										  
						
						
						     	<div class="form-group">
									<label class="col-lg-2 control-label">Subject</label>
									<div class="col-lg-5">
										<%= f.text_field :subject, :class => 'form-control' %>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Body</label>
									<div class="col-lg-10">
										<%= f.text_area :body, :class => 'tinymce' %>
									</div>
								</div>
										  <div class="form-group">
									<label class="col-lg-2 control-label">Periodically update on </label>
									<div class="col-sm-2">
										<%= f.text_field :update_date, :class => 'form-control' %> 
									</div>
										<div class="col-sm-3">
										Day(s)
									</div>
								</div>
						
						
						
					
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-6">
										<button type="submit" class="btn btn-sm btn-success">
											Update
										</button>
										<button type="button" onclick="javascript:history.back()", class="btn btn-sm btn-default">
											Back
										</button>
									</div>
								</div>

								<% end %>

							</div>
						</div>
						<div class="widget-foot">

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<%= tinymce %>


















