


<%= render "admin/shared/left_menu"%>
<div class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<h2 class="pull-left"><i class="fa fa-file-o"></i> News & Updates</h2>

		<!-- Breadcrumb -->
		<div class="bread-crumb pull-right">
			<a href="/admin/dashboard"><i class="fa fa-home"></i> Home</a>
			<!-- Divider -->
			<span class="divider">/</span>
			<a href="#" class="bread-current">Newsletter Template</a>
		</div>

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->

	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="widget">
						<div class="widget-head">
							<div class="pull-left">
								Newsletter Template
							</div>
							
							<div class="clearfix"></div>
						</div>

						<%#= @category.nil? ? 'Main categories' : @category.name %>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
								
									<th>Subject</th>
									<th>Periodically update</th>
							<th>Action</th>
								</tr>
							</thead>
							<tbody>
							    <% @templates.each do |template| %>
								<tr>
								    <td><%= template.subject %></td>
								    <td><%= template.update_date %> Day(s)</td>
								 	<td>
											<%if current_user.is_superadmin%>
									 <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_newsletter_template_path(template) , :class=>'btn btn-xs btn-warning'  %> <a href="/admin/newsletter_templates/<%= template.id %>/delete" data-confirm="Are you sure?" data-method="delete" class="btn btn-xs btn-danger" ><i class="fa fa-times"></i> </a>
									 <%end%>
									</td>
									
								</tr>
								<% end %>

							</tbody>
						</table>

						<div class="widget-foot">
							<%if @templates.length == 0%>
								<div class="pull-left">
									<%= link_to  "Add Template", new_admin_newsletter_template_path, :class => 'btn btn-sm btn-primary' %>
								</div>
							<% end %>		
						

							<div class="clearfix"></div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>







