<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @admin_blog.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_blog.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @admin_blog.category_id %>
</p>

<%= link_to 'Edit', edit_admin_blog_path(@admin_blog) %> |
<%= link_to 'Back', admin_blogs_path %>
