 <!-- ==========================
    	BREADCRUMB - START 
    =========================== -->

    <section class="breadcrumb-wrapper">
        <div class="container">
          <div class="col-sm-3">
              <h2 class="visible-lg visible-md visible-sm">Group / Region</h2>
            <h5 class="hidden-lg hidden-md hidden-sm" align="center">Group / Region</h5>
          </div>
         <%= render "shared/search_form"%>
            <div class="col-sm-4">

                  <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/continents">Group / Region</a></li>
                <li class="active"><%=@country.name%></li>
            </ol>
            </div>
        </div>
    </section>









	<!-- ==========================
    	BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
    	ESHOP - START 
    =========================== -->
    <section class="content bg-color-2" id="eshop">
    	<div class="container">

            <div class="row eshop-main eshop-list">
            	<div class="col-md-3 eshop-sidebar">
                   <div class="bubble">
          <div class="rectangle" style="background-color: #FF6A6A;width:106%">
            <h2>Group / Region</h2>
          </div>
          <div class="triangle-l"></div>

          <div class="info" style="overflow-y:auto;">
    

           <div id="submenu" class="filter_cont">
            <ul style="margin-left: -20px;">
            
              <% @regions.each do |region| %>
                <li class="stap1 "><%= link_to_unless_current region.name, region , :style=>" color: #555555;"%> <span class="quantity"><%#=  region.region_reports.count%></span></li>
                <%if region.slug == params[:id] %>
                  <ul style="margin-left: -30px;" >
                      <% region.countries.each do |country| %>
                      <li class="stap1 <%=get_active_class(params[:country_id],country.abbreviation)%>"  >
                       <i class='fa fa-angle-double-right'></i> <img src="/assets/flags/<%=country.name%>.png">&nbsp;&nbsp;<%= link_to truncate( raw( sanitize(country.name, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 18, :omission => "..."), " /regions/#{region.slug}/country_wise/#{country.abbreviation}", :style=>" color: #555555;"%>  <span class="quantity"><%= country.country_reports.count %></span>
               
                      </li>
                    <% end %>
                  </ul>
                   <% end %>

              <% end %>
            </ul>

            </div>

                         
          </div>
        </div>
                </div>
            	<!-- ESHOP SIDEBAR - START -->
           
                <!-- ESHOP SIDEBAR - END -->
                
            	<!-- ESHOP CONTENT - START -->
            
 
      <div class="col-md-9 eshop-content">
           <h4 style="color:#074C94;font-size: 16px;"><strong><i><%= @country.name%></i> --  Market Research Reports</strong></h4>
        </div>
<div class="well col-md-9 eshop-content" style="margin-top: 10px;">
 <%= form_for @filterrific do |f| %>






      <div class="row">
            <div class="form-group col-sm-2">
              <label for="fname"> Keyword</label>
              <div class="input-group">
               <%#if params[:q].present? %> 
   <%#= f.text_field(:search_query,class: 'form-control filterrific-periodically-observed',:value=> params[:q][:title_or_category_name_or_publisher_name_cont])%>
   <%#else%>
      <%= f.text_field(:search_query,class: 'form-control filterrific-periodically-observed')%>
    <%#end%>
         </div>
          </div>
          <div class="form-group col-sm-2">
              <label for="fname"> Price range</label>
              <div class="input-group">
               
                <%= f.select(
                    :price,
                    @filterrific.select_options[:price],
                    { include_blank: '- Any -' },{:class=>"form-control"}
                  ) %>   
                 
 

              </div>
          </div>
          <div class="form-group col-sm-3">
              <label for="lname">Publisher</label>
              <div class="input-group">
                 
                  <%= f.select(
                      :with_publisher_id,
                      @filterrific.select_options[:with_publisher_id],
                      { include_blank: '- Any -' },{:class=>"form-control"}
                    ) %>
              </div>
          </div>


           <div class="form-group col-sm-3">
              <label for="lname">    Sorted by</label>
              <div class="input-group">
    
              <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{},{:class=>"form-control"}) %>
              </div>
          </div>


           <div class="form-group col-sm-2">
              <label for="lname">    </label>
              <div class="input-group">
    
             <%#= link_to(
              'Reset filters',
             reset_filterrific_reports_path, :class=>"btn btn-default"
            ) %>
              </div>
          </div>



      </div>










<% end %>
</div>

<%= render(
  partial: 'reports/list',
  locals: { reports: @reports }
) %>

                <!-- ESHOP CONTENT - END -->
    
            </div>
            


            
        </div>
    </section>
    <!-- ==========================
    	ESHOP - END 
    =========================== --> 
  