

<%
meta title: "WiseGuyReports - Group / Region",
description: "Get the industry analysis report with forecast by Group / Region. Wiseguyreports.com provides the all over the world report at one place. Click here and get the report"
%>

    <section class="breadcrumb-wrapper">
        <div class="container">
         
            <%= render "shared/search_form"%>
           
        </div>
    </section>






<section class="content " id="eshop">
	<div class="container ">
		<div class="col-sm-12">
		<!-- <ul> -->
        <% cache "allregions", skip_digest: true do %>
		  <%# @grouped.keys.sort.each do |letter| -%>
		   <div class="col-md-12">

		   <!--   <h5><strong><%#= letter %></strong></h5> -->

		      <ul>

		    <h1 style="color:#074C94;font-size: 16px;"><strong>Browse Market Research Reports by Country/continents/Region</strong></h1>
          
		  <br/><br/>
		        <% @regions.each_slice(4) do |tag_array| -%>
			        <% tag_array.each do |region| %>
			          <div class="col-md-3" style="padding-bottom:30px"><a href="/regions/<%= region.slug%>">  <i class='fa fa-angle-double-right'></i>&nbsp;&nbsp; <%= region.name %> (<%= region.reports_count %>)</a></div>
			        <% end -%><br/>
		         <% end %>
		      </ul>
		    </div>
		 <% end %>
		</ul>
	</div>
	</div>
</section>


