<%
meta title: "WiseGuyReports - Group / Region - #{@region.name}"
%>

<style type="text/css">
/* For Bluring Result Of reports*/
.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.7;
}
</style>
<!-- ==========================
  BREADCRUMB - START 
  =========================== -->
<style type="text/css">
</style>
    <section class="breadcrumb-wrapper">
        <div class="container">
         
         <%= render "shared/search_form"%>
            
        </div>
    </section>








	<!-- ==========================
    	BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
    	ESHOP - START 
    =========================== -->
    <section class="content bg-color-2" id="eshop">
    	<div class="container">
        <div class="row eshop-main eshop-list" id="fileter_category_reports">
          <%= render :partial=> "shared/report_filter",locals:{all_publishers: @all_publishers,selected_publishers_id: [],all_continents: @all_continents,selected_continents_id: eval("#{@selected_continent_id.present? ? @selected_continent_id : []}"),all_regions: @all_regions,selected_regions_id: eval("#{@selected_region_id.present? ? @selected_region_id : []}"),all_countries: @all_countries,selected_countries_id: [],selected_report_type: ["Published Reports"],selected_published_date: ["Latest Date"],selected_sort_by_other: ["Price ( High to Low )"],selected_sort_by_price: ["All Price"],all_categories: @all_categories,selected_category_id: eval("#{@selected_category_id.present? ? @selected_category_id : []}"),contain_global: @contain_global}%>


        <div style="float: right;padding-bottom: 10px;padding-right: 15px;">   
         <span class="label" style="color: #006DCC;font-size: 13px;">Sort by</span>
          <select name="OrderingOption" id="OrderingOption" >
                      <option value="Relevance" >Relevance</option>
                      <option value="DatePublished_Desc" selected="">Published (Latest)</option>
                      <option value="DatePublished_Asc">Published (Oldest)</option>
                      <option value="Price_Desc" >Price (High to Low)</option>
                      <option value="Price_Asc" >Price (Low to High)</option>
                      
          </select>
        </div>
            <div id="reports_list">
              <%= render(partial: 'reports/list', locals: { reports: @reports }) %>
            </div>
      <!-- ESHOP CONTENT - END -->
    </div>

<script type="text/javascript">
// Write this code where you want filter start

function getSelectedCheckboxValue(name){
    var val = [];
      $('input[name='+name+']:checked').each(function(i){
        val[i] = $(this).val();
    });
    return val;  
}

function getSelectedRadioValue(name){
    var val = $("input[type='radio'][name='"+name+"']:checked").val();
    return val;  
}
function callPriceReport(){
  var min_val = $("#min_val").val() == "" ? "nil" : $("#min_val").val()
  var max_val = $("#max_val").val() == "" ? "nil" : $("#max_val").val()
  $("#min_to_max_input").val(min_val+".."+max_val);
}
var xhr = null;
function showReports(page){
  if( xhr != null ) {
    xhr.abort();
    xhr = null;
  }
  if ($("#min_to_max_input").is(":checked")){
    if (parseInt($("#min_to_max_input").val().split("..")[0]) > parseInt($("#min_to_max_input").val().split("..")[1])){
      alert("Please enter an valid range");
      return false;
    }
  }

  $('#reports_list').addClass('blur-filter')
  $('#list_contain_reports').addClass('blur-filter')

  if (typeof page === "undefined" || page === null) { 
    page = "1"; 
  }

  publisher_ids = getSelectedCheckboxValue('publisher')
  country_ids = getSelectedCheckboxValue('country')
  report_type = getSelectedRadioValue('report_type')
  published_date = getSelectedRadioValue('published_date')
  sort_by_other = getSelectedRadioValue('sort_by_other')
  sort_by_price = getSelectedRadioValue('sort_by_price')
  sort_by_category = getSelectedCheckboxValue('category')
  sort_by_continent = getSelectedCheckboxValue('continent')
  sort_by_region = getSelectedCheckboxValue('region')

  if(publisher_ids.length > 0){
   $("#uncheck_all_publisher").show();
  }else{
    $("#uncheck_all_publisher").hide();
  }
  
  if(country_ids.length > 0){
   $("#uncheck_all_country").show();
  }else{
    $("#uncheck_all_country").hide();
  }

  if(sort_by_category.length > 0){
   $("#uncheck_all_categories").show();
  }else{
    $("#uncheck_all_categories").hide();
  }
  
  if(sort_by_continent.length > 0){
   $("#uncheck_all_continent").show();
   disableRegion();
  }else{
    $("#uncheck_all_continent").hide();
    disableRegion();
  }
  
  if(sort_by_region.length > 0){
   $("#uncheck_all_regions").show();
   disableContinent();
  }else{
    $("#uncheck_all_regions").hide();
    disableContinent();
  }

  if(!$('#continent_global').is(":checked")){
    changeCountry();
  }
  
  xhr = $.ajax({
    url: "/show_filter_reports.js",
    type: "post",
    data:{
      publisher_ids: publisher_ids,
      country_ids: country_ids,
      report_type: report_type,
      published_date: published_date,
      sort_by_other: sort_by_other,
      sort_by_price: sort_by_price,
      sort_by_category: sort_by_category,
      sort_by_continent: sort_by_continent,
      sort_by_region: sort_by_region,
      id: "<%= params[:id]%>",
      category_id_present: "<%= request.url.include?('categories')%>",
      country_id_present: "<%= request.url.include?('countries')%>",
      continent_id_present: "<%= request.url.include?('continents')%>",
      region_id_present: "<%= request.url.include?('regions')%>",
      search_term: $("#q").val(),
      page: page,
      sort_option: $("#OrderingOption").val()
    }
  }).always(function(){
    setHeading();
    $('html, body').animate({
          scrollTop: 0
        }, 800);
  })
}

function disableContinent() {
    if ($(".regions_input input:checked").length > 0){
      $('#continent_section input:checkbox').removeAttr('checked');
      $("#continent_section").prop('disabled',true).css("background", "lightgrey");
      $("#continent_section").prop('disabled',true);

      $('#continent_section input[type=checkbox]').attr('disabled','true');
      $("#continent_section").attr("data-toggle", "tooltip");
      $("#continent_section").attr("title", "You can not select continent when region is selected.To select continent uncheck regions.");
      $("#continent_section").tooltip('show');
      $("#continent_add_div").hide();
      $("#show_continent_link").hide();
          // $('[data-toggle="tooltip"]').tooltip(); 
    }else{
      $("#continent_section").removeAttr('disabled').css("background", "white");
      $("#continent_section input[type=checkbox]").removeAttr('disabled');
      $("#continent_section ").css( "pointer-events", "auto" );
      $("#continent_section").tooltip('destroy');
      if(!$('#continent_global').is(":checked") && $(".continents_input input:visible").length != parseInt($("#continent_count").text())){
        $("#continent_add_div").show();
        $("#show_continent_link").show();
      }
    }
  }

  function disableRegion() {
    if ($(".continents_input input:checked").length > 0){
      $('#region_section input:checkbox').removeAttr('checked');
      $("#region_section").prop('disabled',true).css("background", "lightgrey");
      $("#region_section").prop('disabled',true);
      $('#region_section input[type=checkbox]').attr('disabled','true');
      $("#region_add_div").hide();
      $("#show_region_link").hide();
      
      $("#region_section").attr("data-toggle", "tooltip");
      $("#region_section").attr("title", "You can not select region when continent is selected.To select region uncheck continents.");
      $('#region_section').tooltip('show');

    }else{
      $("#region_section").removeAttr('disabled').css("background", "white");
      $("#region_section input[type=checkbox]").removeAttr('disabled');
      $("#region_section ").css( "pointer-events", "auto" );
      $('#region_section').tooltip('destroy');
      if($(".regions_input input:visible").length != parseInt($("#region_count").text())){
        $("#region_add_div").show();
        $("#show_region_link").show();
      }
      
    }
  }



$(function() {  
    $(document).on("click", ".pagination a", function (event) {  
      page = this.href.split("=")[1];
      showReports(page);
      event.preventDefault();
      //  $('html, body').animate({
      //   scrollTop: 0
      // }, 800);
      return false;  
    });  
});

// code end

  $(document).ready(function(){
    disableContinent();
    var selected = $('#region_input').find("option[id='<%= @selected_region_id.first %>']").click();
    var selected_region = $(".regions_input[data-id='"+selected.attr('id')+"']")
    $(".regions_input[data-id='"+selected.attr('id')+"']").remove();
    selected_region.show();
    selected_region.children().show();
    $(selected_region).find("input").prop("checked",true);
    $("#row_regions").prepend(selected_region);
    if("<%= @selected_region_id.present? %>"){
      setHeading();
      $("#uncheck_all_regions").show();
    }
  })


  $(document).on("change","#OrderingOption", function() {
  showReports();
});
</script>

