   <%
  meta title: "Market Research Report - Login",
  description: "Access Login of Wiseguyreports. Leading organization"
  %>

<style type="text/css">
.button3 {
    background-color: #ededed;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    box-shadow: 0 1px 0 0 #ffffff inset;
    color: #777777;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    padding: 12.5px 25px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: 1px 1px 0 #ffffff;
}
.button3:hover {
    background-color: #dfdfdf;
}
.g-signOn {
    padding: 5px 15px;
}
</style>



  <div class="container">
          <div class="forms-only">
            <h2></h2>
               <%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
                <div class="pull-right hidden-xs" >

              


                      
                          <a href="/signup" id="reset-password-toggle">New User</a>
                        </div>
                <%#= render "shared/error_messages", :target => @user_session %>
                    <fieldset>
                      <h2>Sign in</h2>
                        
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">Your email:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                     <%= f.text_field :email, :class=>"form-control", :placeholder=>"Your email:", :id=>"email"  %>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="password">Your password:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <%= f.password_field :password , :class=>"form-control", :placeholder=>"Your password:", :id=>"password" %>
                                </div>
                            </div>
                        </div>
                                              
                        <div class="pull-left">
                            <%#= f.submit "Comfirm",:class=>"btn btn-primary" %>
                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i>Confirm</button> 
                        </div>
                        
                        <div class="pull-right">
                          <a href="/password_resets/new" id="reset-password-toggle">Did you forget your password?</a>
                        </div>
                            <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="password"></label>
                                <div class="input-group">
                                  
                                </div>
                            </div>
                        </div>
                       <div align="center">
                          <img alt="" src="/assets/OR.png" alt="OR">
                        </div>
                           <a href="/auth/linkedin" class="button3 g-signOn"><img width="25" height="25" alt="Google" src="/assets/linkedin_button.png" alt="Linked In Login"> Log in with Linkedin </a>
                    </fieldset>
               <% end %>
                 

            </div>
        </div>