




            <% @all_countries.each do |c| %>
			  <span class='select_curso'>
			    <%= check_box_tag "country_ids[]",
			      c.id %>
			    <%= label_tag "country_ids[][#{c.id}]", c.name %>
			  </span><br/>
			<% end %>