      <div class="form-group">
        <label for="capcha" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
                <%= recaptcha_tags :display => { :theme => "white" }%>
        </div>
      </div>