


            
                                     <%= form_for "currency", :url => shopping_cart_path(:report_id => @report), :method => 'post' , :html => {:class=>"form-horizontal",:id=>"update_currency"} do |f| %>    
                   
                                         <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">USD <i class="fa fa-usd"></i></a></li>
                     <li><a href="#tab2" data-toggle="tab">GBP <i class="fa fa-gbp"></i></a></li>
                    <li><a href="#tab3" data-toggle="tab">Euro <i class="fa fa-eur"></i></a></li>
                   
                    <li><a href="#tab4" data-toggle="tab">Yen <i class="fa fa-jpy"></i></a></li>
          <li><a href="#tab5" data-toggle="tab">INR <i class="fa fa-inr"></i></a></li>
               
                </ul>
                <div class="tab-content" style="margin-bottom:0px;padding: 10px;">
                   <div class="tab-pane fade in active" id="tab1">
                       <p>  
                        <%if @report.one_user.present?%><%= radio_button_tag 'currency', "one_user-USD",:checked=>"true" %>1-user PDF<span style="float:right"> <%= number_to_currency @report.one_user%></span><br/><%end%>
                       <%if @report.five_user.present?%><%= radio_button_tag 'currency', "five_user-USD"%>1-5 User PDF <span style="float:right"><%= number_to_currency @report.five_user%></span><br/><%end%>
                       <%if @report.site_user.present?%><%= radio_button_tag 'currency', "site_user-USD"%> Site PDF <span style="float:right;"><%= number_to_currency @report.site_user%></span><br/><%end%>
                       <%if @report.enterprise_user.present?%><%= radio_button_tag 'currency', "enterprise_user-USD" %> Enterprise PDF <span style="float:right"><%= number_to_currency @report.enterprise_user%>
                      </span><%end%></p>
                    </div>
                    <div class="tab-pane fade" id="tab2">

                       <p>   
                       <%if @report.one_user.present?%><%= radio_button_tag 'currency', "one_user-GBP" %>1-user PDF<span style="float:right"> <i class="fa fa-gbp"></i><%= number_with_precision(@gbp, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.five_user.present?%><%= radio_button_tag 'currency', "five_user-GBP"%>1-5 User PDF <span style="float:right"> <i class="fa fa-gbp"></i><%= number_with_precision(@gbp_five, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.site_user.present?%><%= radio_button_tag 'currency', "site_user-GBP"%> Site PDF <span style="float:right;"> <i class="fa fa-gbp"></i><%= number_with_precision(@gbp_site, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.enterprise_user.present?%><%= radio_button_tag 'currency', "enterprise_user-GBP" %> Enterprise PDF <span style="float:right"> <i class="fa fa-gbp"></i><%= number_with_precision(@gbp_enterprise, :precision => 2, :delimiter => ',') %>
                      </span><%end%>
                      </p>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                      <p>   
                       <%if @report.one_user.present?%><%= radio_button_tag 'currency', "one_user-EUR" %>1-user PDF<span style="float:right"> <i class="fa fa-eur"></i><%= number_with_precision(@eur, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.five_user.present?%><%= radio_button_tag 'currency', "five_user-EUR"%>1-5 User PDF <span style="float:right"> <i class="fa fa-eur"></i><%= number_with_precision(@eur_five, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.site_user.present?%><%= radio_button_tag 'currency', "site_user-EUR"%> Site PDF <span style="float:right;"> <i class="fa fa-eur"></i><%= number_with_precision(@eur_site, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.enterprise_user.present?%><%= radio_button_tag 'currency', "enterprise_user-EUR" %> Enterprise PDF <span style="float:right"> <i class="fa fa-eur"></i><%= number_with_precision(@eur_enterprise, :precision => 2, :delimiter => ',') %>
                      </span><%end%>
                      </p>

                    </div>
                 
                    <div class="tab-pane fade" id="tab4">
                      <p>   
                       <%if @report.one_user.present?%><%= radio_button_tag 'currency', "one_user-JPY" %>1-user PDF<span style="float:right"> <i class="fa fa-jpy"></i><%= number_with_precision(@jpy, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.five_user.present?%><%= radio_button_tag 'currency', "five_user-JPY"%>1-5 User PDF <span style="float:right"> <i class="fa fa-jpy"></i><%= number_with_precision(@jpy_five, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.site_user.present?%><%= radio_button_tag 'currency', "site_user-JPY"%> Site PDF <span style="float:right;"> <i class="fa fa-jpy"></i><%= number_with_precision(@jpy_site, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.enterprise_user.present?%><%= radio_button_tag 'currency', "enterprise_user-JPY" %> Enterprise PDF <span style="float:right"> <i class="fa fa-jpy"></i><%= number_with_precision(@jpy_enterprise, :precision => 2, :delimiter => ',') %>
                      </span><%end%>
                      </p>


                    </div>
                               <div class="tab-pane fade" id="tab5">
                      <p>   
                       <%if @report.one_user.present?%><%= radio_button_tag 'currency', "one_user-INR" %>1-user PDF<span style="float:right"> <i class="fa fa-inr"></i><%= number_with_precision(@inr, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.five_user.present?%><%= radio_button_tag 'currency', "five_user-INR"%>1-5 User PDF <span style="float:right"> <i class="fa fa-inr"></i><%= number_with_precision(@inr_five, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.site_user.present?%><%= radio_button_tag 'currency', "site_user-INR"%> Site PDF <span style="float:right;"> <i class="fa fa-inr"></i><%= number_with_precision(@inr_site, :precision => 2, :delimiter => ',') %></span><br/><%end%>
                       <%if @report.enterprise_user.present?%><%= radio_button_tag 'currency', "enterprise_user-INR" %> Enterprise PDF <span style="float:right"> <i class="fa fa-inr"></i><%= number_with_precision(@inr_enterprise, :precision => 2, :delimiter => ',') %>
                      </span><%end%>
                      </p>


                    </div>
                     <%if @report.upcoming?%>

  <input type="image" src="/assets/prebooknow.png" alt="Submit" style="float:right;height:35px">
        <%else%>
                 <img src="/assets/godaddyseal.gif" alt="Logo" class="img-responsive" style="float:left;padding-top:20px">
                             <button type="submit" id="send" class="btn btn-primary btn-sm" style="float:right"><i class="fa fa-shopping-cart"></i>Add to cart</button> 
        <%end%>

                      <%end%>    

                </div>

                        <img src="/assets/cc.jpg" alt="Logo" class="img-responsive" style="padding: 15px 15px 0px 20px;">




