<%if @report.one_user.present? && !@report.one_user.zero? %>
  <%= radio_button_tag 'currency', "one_user-#{currency}" %>
  1-user PDF
  <span style="float:right"> 
    <i class="fa <%= country_currency_mapping[currency][:icon] %>"></i> 
    <%= number_with_precision(@rates[country_currency_mapping[currency][:name]]["one_user"], :precision => 2, :delimiter => ',') %>
   </span>
   <br/>
<%end%>
<%if @report.five_user.present? && !@report.five_user.zero? %>
  <%= radio_button_tag 'currency', "five_user-#{currency}"%>
  1-5 User PDF 
  <span style="float:right"> 
  <i class="fa <%= country_currency_mapping[currency][:icon] %>"></i> 
  <%= number_with_precision(@rates[country_currency_mapping[currency][:name]]["five_user"], :precision => 2, :delimiter => ',') %>
  </span>
  <br/>
<%end%>
<%if @report.site_user.present? && !@report.site_user.zero? %>
  <%= radio_button_tag 'currency', "site_user-#{currency}"%> 
  Site PDF 
  <span style="float:right;"> 
  <i class="fa <%= country_currency_mapping[currency][:icon] %>"></i> 
  <%= number_with_precision(@rates[country_currency_mapping[currency][:name]]["site_user"], :precision => 2, :delimiter => ',') %>
  </span>
  <br/>
<%end%>
<%if @report.enterprise_user.present? && !@report.enterprise_user.zero? %>
  <%= radio_button_tag 'currency', "enterprise_user-#{currency}" %> 
  Enterprise PDF 
  <span style="float:right"> 
  <i class="fa <%= country_currency_mapping[currency][:icon] %>"></i> 
  <%= number_with_precision(@rates[country_currency_mapping[currency][:name]]["enterprise_user"], :precision => 2, :delimiter => ',') %>
  </span>
<%end%>