

<div id="filterrific_results">


   <div class="col-md-9 eshop-content" id="list_contain_reports" >
      <div class="filter_content well" id="filter_content" style="padding: 8px;"></div> 





    
  <%if @reports.blank? %>
    <%= render :partial=> "reports/no_reports_found"%>
  <%else%>
 

    <!-- ESHOP PRODUCT -->
    <%@reports.each do |report|%>
    <div class="eshop-product">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-5">
         
          
                <%if report.report_image?%>
                   <%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail",:style=>"border: 1px solid #fff;"  %> 

                <% elsif Report.category_name_image_hash[report.category_id][:medium_logo].present?%>
                        
                   <img src="<%=Report.category_name_image_hash[report.category_id][:medium_logo]%>" alt="<%=Report.category_name_image_hash[report.category_id][:name] %>" class="img-thumbnail "  style="border: 1px solid #fff;">
           
                <%else%>
                   <%= image_tag report.publisher.report_image_url(:thumb), :class=>"img-thumbnail" ,:style=>"border: 1px solid #fff;" %> 
                <%end%>


        </div>
        <div class="col-lg-9 col-md-8 col-xs-7">
          <div class="eshop-product-body">
            <div class="product-tags" style="float:right; padding-left: 15px;">
              <span class="label label-info"><%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%></span>
            </div>
            <h3 style="margin: 0px 0;font-size: 15px;"> 
              <%= link_to report.title, report_path(report.slug)%>
            </h3>
            <p><%=  truncate( raw( sanitize(simple_format(report.description), :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 150, :omission => "...").html_safe %></p>
            <p>
              <b class="datecolor">Published: </b><%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%><br/>
              <b class="datecolor">By: </b><%= report.publisher_name rescue nil%> <br/>
            </p>
            <div class="clearfix">
              <div class="product-price pull-left">
                <span class="new-price">$ <%=number_with_precision( report.one_user, :precision => 2, :delimiter => ',') %></span>
              </div>
              <div class="pull-right">
                <!--  <button class="btn btn-danger btn-sm addtocart">Add to Cart</button> -->
                <%if report.slug?%>
                <a href="/reports/<%=report.id %>" class="btn btn-primary btn-sm hidden-xs", style = "color:white;" >More info</a>
                <%else%>

                <a href="/reports/<%=report.slug %>" class="btn btn-primary btn-sm hidden-xs", style = "color:white;" >More info</a>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%end%>                                   
  </div>
  <%end%>               
  <div class="row eshop-footer">
    <div class="col-md-12" style="padding-right: 45px;padding-left: 45px;">
      <div class="row">
        <div class="pull-right" style="padding-bottom:20px;color: #074c94;">
          <%= page_entries_info @reports %>
        </div>
      </div>
      <div class="row">
        <div class="pull-right">
          <%= will_paginate @reports,:params => {:format => "" }, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function setHeading(){
  var categories = new Array
  var publishers = new Array
  var continents = new Array
  var regions = new Array
  var countries = new Array
  var types = new Array
  var dates = new Array
  var sort_others = new Array
  var price_ranges = new Array
  $('input[name="category"]:checked').each(function(index,e) {
      categories.push($(this).next().text())
  });

  $('input[name="publisher"]:checked').each(function(index,e) {
      publishers.push($(this).next().text())
  });
  $('input[name="continent"]:checked').each(function(index,e) {
      continents.push($(this).parent().find('label').text())
  });

  $('input[name="region"]:checked').each(function(index,e) {
      regions.push($(this).next().text())
  });

  $('input[name="country"]:checked').each(function(index,e) {
      countries.push($(this).next().text())
  });

  $('input[name="report_type"]:checked').each(function(index,e) {
      types.push($(this).next().text())
  });
  $('input[name="published_date"]:checked').each(function(index,e) {
      dates.push($(this).next().text())
  });
  $('input[name="sort_by_other"]:checked').each(function(index,e) {
      sort_others.push($(this).next().text())
  });
  if ($('input[name="sort_by_price"]:checked').val() == "nil..nil"){
    price_ranges.push(" All Price")
  }else if ($('input[name="sort_by_price"]:checked').val().split("..")[0] == "nil"){
    price_ranges.push(" Upto "+$('input[name="sort_by_price"]:checked').val().split("..")[1])
  }else if ($('input[name="sort_by_price"]:checked').val().split("..")[1] == "nil"){
    price_ranges.push(" "+$('input[name="sort_by_price"]:checked').val().split("..")[0] + " +")
  }else{
    price_ranges.push(" "+$('input[name="sort_by_price"]:checked').val().split("..").join(" to "))
  }


  if(price_ranges.length > 0){
   $(".filter_content").html('<strong>PRICE:</strong>' + price_ranges)
  }

  if(sort_others.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>SORT:</strong>' + sort_others )
  }

  if(dates.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>DATE:</strong>' + dates)
  }

  if(categories.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>CATEGORY:</strong>'+ categories  )
  }

  if(publishers.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>PUBLISHER:</strong>' + publishers)
  }

  if(types.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>TYPE:</strong>' + types)
  }

  if(continents.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>CONTINENT:</strong>' + continents )
  }

  if(regions.length > 0){
  $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>REGION:</strong>' + regions )
  }

  if(countries.length > 0){
    $(".filter_content").append('<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><strong>COUNTRY:</strong>' + countries )
  }
}
// $(document).ready(function(){
  
// });
</script> 
