<div class="col-md-9 eshop-content" id="list_contain_reports">
  <h6 style ="line-height: 17px;"><strong>Looks like we found a new topic to research on. We will be extremely
honoured to make you the the first valued client to acquire research
report on this interesting topic. In the mean time kindly fill in the
details below and relax and WiseGuy representative will get back to you
ASAP to assist you.</strong></h6>
  <div class="row">
    <!--          <div class="col-md-3">
      <img src="/assets/enquiry.png" style="height: 190px;" >
      <br/>
      <h5 style="color:#006DCC">Make an enquiry before buying this Report</h5>
      </div>   -->
    <div class="col-md-9">
      <h3 style="color:#0D58A6;text-align: center;padding-bottom: 20px;">New Report Enquiry</h3>
      <%= form_tag("",:url=>{}, :class=>"form-horizontal form-address", :id=>"enquiry_form_new") do |f| %>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Name:<span>*</span></label>
          <div class="col-sm-5">
            <%= text_field_tag :first_name , "", {:class=>"form-control" , :placeholder=>"First Name"}%>                    
            <!--     <input type="text" class="form-control" placeholder="First name:" > -->
          </div>
          <div class="col-sm-4">
            <%= text_field_tag :last_name , "", {:class=>"form-control", :placeholder=>"Last Name"}%>  
            <!--   <input type="text" class="form-control" placeholder="Last name:" id="first-name1" required> -->
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email:<span>*</span></label>
          <div class="col-sm-9">
            <%= text_field_tag :email , "", {:class=>"form-control", :placeholder=>"Email" }%>  
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label for="phone_no" class="col-sm-3 control-label">Phone No:<span>*</span></label>
          <div class="col-sm-9">
            <%= text_field_tag :phone_no , "", {:class=>"form-control", :placeholder=>"Phone No"}%>  
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label for="enquiry" class="col-sm-3 control-label">Your Enquiry<span>*</span></label>
          <div class="col-sm-9">
            <%= text_area_tag :enquiry , "", {:class=>"form-control" ,:style=>"height:100px"}%> 
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"></label>
          <div class="col-sm-9">
            <button type="submit" id="send_question" class="btn btn-primary"><i class="fa fa-check"></i>Submit</button> 
          </div>
        </div>
      <%end%>
     
  </div>
</div>
</div>
 <script type="text/javascript">

function IsName(lname){
  var regex = /^[a-zA-z] ?([a-zA-z]|[a-zA-z] )*[a-zA-z]$/;
  if(lname==''){
    alert("Please enter an name");
    return false;
  }else if(regex.test(lname)){
    return true;
  }else{
    alert("Please enter an valid name");
    return false;
  };
}
function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email==''){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
} 

function IsPhone(phone){
  var regex = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
  if(phone==''){
    alert("Please enter your phone number.");
    return false;
  }else if(phone.length>18){
    alert("Please enter an valid phone number.");
    return false;
  }else if(regex.test(phone)){
    return true;
  }else{
    alert("Please enter an valid phone number.");
    return false;
  };
} 

function IsMessage(msg){
  if(msg==''){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
} 

    $("#enquiry_form_new").submit(function(e) {
     
      e.preventDefault()
      if(IsName($("#first_name").val()) && IsName($("#last_name").val()) && IsEmail($("#email").val()) && IsPhone($("#phone_no").val()) &&  IsMessage($("#enquiry").val())){
          $('#send_question').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send_question').attr('disabled','disabled');
          $.ajax({
            url: "/new_report_enquiry.json",
            type: "POST",
            data: $("#enquiry_form_new").serialize()
          }).success(function(data){
            if(data.success){
              ClearAll();
              $("#fileter_category_reports").prepend("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+"Thank you for connecting with us. We will get back to you after some times."+"</div></div>"); 
              $(".flash-messages").fadeOut(18000); 
            }
          })
      }
      

    })
</script>