

 <div class="record" data-id="<%= report.id %>">
                <div class="panel panel-info">

              <div class="panel-body panelbodyfont" >
                <%if report.report_image?%>
                  <%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail panelbodyimg"  %> 
                <%elsif Report.category_name_image_hash[report.category_id][:logo].present?%>
                   <img src="<%=Report.category_name_image_hash[report.category_id][:logo]%>" alt="<%=Report.category_name_image_hash[report.category_id][:name] %>" class="img-thumbnail panelbodyimg">
                <%else%>
                  <%= image_tag report.publisher.report_image_url(:thumb), :class=>"img-thumbnail panelbodyimg" %> 

                  
                <%end%>
                <span> <a href="/reports/<%= report.slug%>" class="fontcolor"><b><%=  report.title %></b><br/><br/>
                  <%if report.upcoming%>
                    <b class="datecolor">Due Date: </b><%if report.publish_month?%><%= report.publish_month.to_date.strftime("%B, %Y") %><%else%>Coming Soon<%end%><br/>
                  <%else%>
                <b class="datecolor">Published: </b><%= report.day rescue nil%> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%><br/>
                        <%end%>       
               

              </a></span>

              </div>
            </div>  </div>