                <div class="row">
                            <div class="col-md-3">
                            
                                <img src="/assets/freesample.png" alt="free sample" >
                                <h5 style="color:#0D58A6">
                                <% if @report.publisher.sample_report_flag %>
                                Request a Sample Report
                                <% else %>
                                Contact Analyst
                                <% end %>
                                </h5>
                            </div>  
                            <div class="col-md-9">
                              <%= form_for( @enquiry , :url=>{}, :html => {:class=>"form-horizontal form-address", :id=>"enquiry_form"}) do |f| %>
                              
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">Name:<span>*</span></label>
                                    <div class="col-sm-5">
                                   <%= f.text_field :first_name , :value=> "", :class=>"form-control" , :placeholder=>"First Name"%>                    
                                    <!--     <input type="text" class="form-control" placeholder="First name:" > -->
                                    </div>
                                     <div class="col-sm-4">
                                        <%= f.text_field :last_name , :value=> "", :class=>"form-control", :placeholder=>"Last Name" %>  
                                      <!--   <input type="text" class="form-control" placeholder="Last name:" id="first-name1" required> -->
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">Email:<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :email , :value=> "", :class=>"form-control", :placeholder=>"Email" %>  
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="job_title" class="col-sm-3 control-label">Job Title:<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :job_title , :value=> "", :class=>"form-control" , :placeholder=>"Job Title"%>  
                                    </div>
                                </div>
                                        <div class="form-group">
                                    <label for="company" class="col-sm-3 control-label">Company:<span>*</span></label>
                                    <div class="col-sm-9">
                                         <%= f.text_field :company , :class=>"form-control" , :placeholder=>"Company"%>  
                                    </div>
                                </div>
                                  <div class="form-group">
                                    <label for="phone_no" class="col-sm-3 control-label">Phone No:<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_field :phone_no , :value=> "", :class=>"form-control", :placeholder=>"Phone No"%>  
                                    </div>
                                </div>
                                 <div class="form-group ">
                                    <label for="country" class="col-sm-3 control-label">Your Country:<span>*</span></label>
                                     <div class="col-sm-9">
                                      <%=f.select :country_id, options_for_select(Country.get_all_countries.collect{|x| [x.name, x.id]}) ,{:prompt => "--select country--"} , :class => 'form-control'%>
                                 </div>
                                   
                                </div>
                       

                       

                                  <div class="form-group">
                                    <label for="interest_area" class="col-sm-3 control-label">Do you have any Specific field of Interest?<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= f.text_area :interest_area , :value=> "", :class=>"form-control",:style=>"height:100px"%> 
                                           <% if report.publisher.sample_report_flag %> 
                                             <%= f.hidden_field :enquiry_type , :value=> "sample_request", :class=>"form-control"%> 
                                           <% else %>
                                              <%= f.hidden_field :enquiry_type , :value=> "contact_analyst", :class=>"form-control"%> 
                                           <% end %>
                                           <%= f.hidden_field :report_id , :value=> report.id, :class=>"form-control"%>  
                                    </div>
                                </div>
                                     <div class="form-group" id="captchas">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                      <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha2">

                                       <div id="recaptcha2"></div>
                                    </div>
                                </div>
                                
                                 <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <button type="submit" id="send_sample" class="btn btn-primary"><i class="fa fa-check"></i>Confirm</button> 
                                    </div>
                                </div>
                               
                                <%end%>
                            </div>                                 
                        </div>

<script type="text/javascript">



   $("#enquiry_form").submit(function(e) {

      e.preventDefault()
  

      if(IsLastName($("#enquiry_last_name").val()) && IsEmail($("#enquiry_email").val())  &&  IsJobTitle($("#enquiry_job_title").val()) && IsCompany($("#enquiry_company").val()) && IsPhone($("#enquiry_phone_no").val()) && IsCountry($("#enquiry_country_id").val()) && IsMessage($("#enquiry_interest_area").val()) && Iscaptcha()){
          $('#send_sample').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
          $('#send_sample').attr('disabled','disabled'); 
          $.ajax({
            url: "/reports/enquiry",
            type: "POST",
            data: $("#enquiry_form").serialize()
          }).success(function(data){
            grecaptcha.reset(recaptcha2);
            if (typeof data.notice != "undefined"){
              $("header").after("<div class='flash-messages'><div class='alert alert-error fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
            }else{
              $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.error+"</div></div>");
            }

              $("html, body").animate({ scrollTop: 0 }, "fast");
              $(".flash-messages").fadeOut(18000);
              $("#enquiry_form")[0].reset();
              $('#send_sample').html("<i class='fa fa-check'></i>Confirm");
              $('#send_sample').removeAttr('disabled');
              $('#hiddenRecaptcha2').val('');

          });
      }
   


    })




function IsLastName(lname){
  var regex = /^[a-zA-z] ?([a-zA-z]|[a-zA-z] )*[a-zA-z]$/;
  if(lname.trim() == ""){
    alert("Please enter an last name");
    return false;
  }else if(regex.test(lname)){
    return true;
  }else{
    alert("Please enter an valid name");
    return false;
  };
}

function Iscaptcha() {

  if($("#hiddenRecaptcha2").val() == "")
  {
    alert("You can't leave Captcha Code empty");
    return false;
  }else
  {
    return true;
  }
}

function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(email.trim() == ""){
    alert("Please enter Email address.");
    return false;
  }else if(regex.test(email)){
    return true;
  }else{
    alert("Email address is invalid.");
    return false;
  };
}

function IsJobTitle(jobtitle){
  if(jobtitle.trim() == ""){
    alert("Please enter job title.");
    return false;
  }else{
    return true;
  };
}
function IsCompany(company){

  if(company.trim() == ""){
    alert("Please enter your company.");
    return false;
  }else{
    return true;
  };
}

function IsPhone(phone){
  var regex = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
  if(phone.trim()==''){
    alert("Please enter your phone number.");
    return false;
  }else if(phone.trim().length<8){
    alert("Please enter an valid phone number.");
    return false;
  }else{
    return true;
  };
}
function IsCountry(country){

  if(country.trim() == ""){
    alert("Please select an country");
    return false;
  }else{
   
    return true;
  };
}

function IsMessage(msg){
  if(msg.trim() == ""){
    alert("Please enter your message");
    return false;
  }else{
    return true;
  };
}
                        </script>