

<%
meta title: "WiseGuyReports - Advanced Search"
%>


    <section class="breadcrumb-wrapper">
        <div class="container">
  
              <%= render "shared/search_form"%>
           
        </div>
    </section>



<section class="content " id="eshop">
    <div class="container ">
         <div class="col-md-9">
      <h3 style="color:#0D58A6;font-weight: 600;padding-bottom: 20px;">Find Report with</h3>
      <hr/>
      <%= form_tag show_advanced_search_reports_path, :method => :post,:class=>"form-horizontal form-address" do %>


        <div class="form-group">
          <label for="last-name2" class="col-sm-3 control-label">All these words:</label>
          <div class="col-sm-9">
            <%= text_field_tag :all , "", {:class=>"form-control" }%>  
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label for="exact" class="col-sm-3 control-label">This exact word or phrase:</label>
          <div class="col-sm-9">
            <%= text_field_tag :exact , "", {:class=>"form-control"}%>  
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label for="any" class="col-sm-3 control-label">Any of these words:</label>
          <div class="col-sm-9">
            <%= text_field_tag :any , "", {:class=>"form-control"}%>
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label for="none" class="col-sm-3 control-label">None of these words:</label>
          <div class="col-sm-9">
            <%= text_field_tag :none , "", {:class=>"form-control"}%>
          </div>
          <br/><br/>
        </div>
         <hr/>
        <div class="form-group">
          <label for="region_id" class="col-sm-3 control-label">Region:</label>
          <div class="col-sm-9">
           <%=select_tag "region_id", options_for_select(@regions.map {|r| [r["name"],r["id"]]}),  :prompt => "--select--", :class => 'form-control',:id=>"region_select" %>
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label for="countries" class="col-sm-3 control-label">Country:</label>
          <div class="col-sm-9" style="height: 235px;overflow: auto;margin-top: 15px;" id="all_countries_load">
            <%= render "all_countries"%>
           
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label for="published_date" class="col-sm-3 control-label">Published:</label>
          <div class="col-sm-9">
            <%= select_tag "published_date",options_for_select([["- Any -",""],["Latest Date","Latest Date"],["Oldest Date","Oldest Date"],["New Arrivals","New Arrivals"],["Less Than One Month","Less Than One Month"],["Less Than 3 Month","Less Than 3 Month"],["Less Than 6 Month","Less Than 6 Month"],["Less Than 1 Year","Less Than 1 Year"]],:selected=> params[:price]),{:class=>"form-control"} %>
          </div>
          <br/><br/>
        </div>

        <div class="form-group">
          <label for="publisher_id" class="col-sm-3 control-label">Publisher:</label>
          <div class="col-sm-9">
           <%=select_tag "publisher_id", options_for_select(@publishers.map {|r| [r["name"],r["id"]]}),  :prompt => "--select--", :class => 'form-control',:id=>"publisher_select" %>
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label for="category" class="col-sm-3 control-label">Category:</label>
          <div class="col-sm-9" style="height: 235px;overflow: auto;margin-top: 15px;">

           <% @categories.each do |c| %>
              <span class='select_curso'>
                <%= check_box_tag "categories_ids[]",
                  c.id %>
                <%= label_tag "categories_ids[][#{c.id}]", c.name %>
              </span><br/>
            <% end %>

        
          </div>
          <br/><br/>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"></label>
          <div class="col-sm-9">
            <button type="submit" id="send_question" class="btn btn-primary"><i class="fa fa-search"></i>Search</button> 
             <button type="reset" value="Reset" class="btn btn-default">Reset</button>
          </div>
        </div>
      <%end%>
     
  </div>
    </div>
</section>





<script type="text/javascript">
    

$('#region_select').change(function() {

    $.ajax( {
      type: "POST",
      url: '/advance_search_countries.js',
      data: {selected_regions: $('#region_select').val()},
      success: function( response ) {

         // $('#all_countries_load').load('<%#= reset_countries_path%>');


      },
      error: function(response){

      }
    });
});    
</script>


