<%
meta title: "Report- #{@report.title}",
description: "Check #{@report.title} – The research report highlights market research and industry analysis driven by in-depth business relevant news."
%>


<%###= javascript_include_tag "jquery.fancybox-1.3.4.js"%>


 <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async defer></script>
    <script type="text/javascript">
 
      var recaptcha2;
      var recaptcha3;
  
      var myCallBack = function() {
        //Render the recaptcha1 on the element with ID "recaptcha1"
        // recaptcha1 = grecaptcha.render('recaptcha1', {
        //   'sitekey' : '6LdIVv0SAAAAAPOoBo7TkBniPGgYDiJSoDQ7aLiP', //Replace this with your Site key
        //   'theme' : 'light'
        // });
        
        //Render the recaptcha2 on the element with ID "recaptcha2"
        recaptcha2 = grecaptcha.render('recaptcha2', {
          'sitekey' : '6LdIVv0SAAAAAPOoBo7TkBniPGgYDiJSoDQ7aLiP', 
          'callback' : verifyCallback2,
          'theme' : 'light'
        });
        recaptcha3 = grecaptcha.render('recaptcha3', {
          'sitekey' : '6LdIVv0SAAAAAPOoBo7TkBniPGgYDiJSoDQ7aLiP', //Replace this with your Site key
          'callback' : verifyCallback3,
          'theme' : 'light'
        });
      
      };
       var verifyCallback2 = function(response) {
        $("#hiddenRecaptcha2").val(response);
      };
      var verifyCallback3 = function(response) {
        $("#hiddenRecaptcha3").val(response);
      };

</script>





<%=stylesheet_link_tag "jquery.fancybox-1.3.4.css"%>
<style type="text/css">
  a:hover { color: #FE9A42; }
  span.plus {
    position: absolute;
    right: 20px;
    bottom: 82%;
    width: 40px;
    height: 40px;
    background: url('/assets/maximize_icon.png') no-repeat;
    z-index: 100;
  }
  ul#productDetails li {
      padding: 0 12px 0 0;
      margin: 0 8px 0 0;
      font-size: 12px;
      line-height: 1.5em;
      color: #101010;
      list-style: none;
      display: inline-block;
      border-right: 1px #f1c84f solid;
      }
      ul#productDetails li:last-child {
      padding-right: 0;
      background: none;
      border: none;
    }
    .fancybox-title {
        padding: 0 0 10px 0;
    }
      .report_title_h1{
      color:#006DCC;
      font-size:13px;
      font-weight:600;
      line-height: 1.5;
    }
    .related_report_h3{
      font-size: 13px;
      color: #fff;
      text-align: center;
      text-transform: initial;
      font-weight: 600;
    }

    .panelbodyfont {
      font-size:12px !important;
    }

    .panelbodyimg {
      float:left !important;
      margin-right:16px !important;
      margin-bottom: 15px !important;
      height:85px !important;
      width:65px !important;
    }

    .datecolor {
      color:#916D06
    }




</style>

<section class="breadcrumb-wrapper">
  <div class="container">
   
    <%= render "shared/search_form"%>
    
  </div>
</section>


<section class="content" >
  <div class="container">
    <div class='row'>
      <div class='col-sm-7'>
        <div class="row" >
                <div class="panel panel-default">
                    <div class="panel-body" >
                      <div style="float:right;padding-left: 20px; padding-bottom: 20px;" class="visible-lg visible-md">
                        <% if Report.category_name_image_hash[@report.category_id][:large_logo].present?%>
                        <a class="fancybox" title="<%=@report.title%>" href="<%=Report.category_name_image_hash[@report.category_id][:large_logo]%>">  <img src="<%=Report.category_name_image_hash[@report.category_id][:logo]%>" alt="<%=Report.category_name_image_hash[@report.category_id][:name] %>" class="img-thumbnail " width="115" height="151"></a>
                        <%else%>
                           <%= image_tag Report.publisher_name_image_hash[@report.publisher_id][:logo], :class=>"img-thumbnail", :width=>"115", :height=>"151" %>
                        <%end%>



                      </div>
                      <p>
                        <span class="scroll_span"> <h1 class="report_title_h1"> <%=@report.title %></h1></span>
                      </p>

                      <ul id="productDetails" style="margin-left: -40px;    margin-top: 35px;">
                        <li><%=@report.code%></li>
                        <li><%unless @report.upcoming?%><%= @report.day unless @report.day.to_i.zero? %> <%= @report.publish_month.to_date.strftime("%B, %Y") rescue nil%> <%end%></li>
                        <li><%= @report.country_id.present? ? @report.country_id : "Global"%></li>
                        <li><%=@report.no_of_pages %> pages</li>
                        <li ><%=@report.publisher.name%></li>
                      </ul>
                    </div>
                </div>

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54e1eb361a9365f3" async="async">
                </script>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div style="float:left">
                  <!-- Go to www.addthis.com/dashboard to customize your tools -->
                  <div class="addthis_sharing_toolbox">
                  </div>
                </div>
                <br/><br/>

                <% if @report.publisher.sample_report_flag %>
                <a href="javascript:void(0)" class="btn btn-primary btn-sm" role="button" id="sample_report" style=" margin-bottom: 20px;"><i class="fa fa-file-text-o"></i>Sample Report</a>&nbsp;&nbsp;
                <% end %>
                <a href="javascript:void(0)" class="btn btn-primary btn-sm" role="button" id="any_question" style=" margin-bottom: 20px;"><i class="fa fa-question"></i>Any Questions</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" class="btn btn-primary btn-sm" role="button" id="check_discount" style=" margin-bottom: 20px;"><i class="fa fa-money"></i>Check Discount</a>
            </div>
      

            <div class="row" >
           <ul class="nav nav-tabs" style="width: 101%;">
              <li class="active"><a href="#tab10" data-toggle="tab">Description</a></li>
              <li><a href="#tab6" data-toggle="tab">Table of Content</a></li>
              <% if @report.publisher.sample_report_flag %>
                <li><a href="#tab7" data-toggle="tab" id="sample_request">Sample Report</a></li>
              <% else %>
                <li><a href="#tab7" data-toggle="tab" id="sample_request">Contact Analyst</a></li>
              <% end %>
              <li><a href="#tab8" data-toggle="tab" id="any_question">Enquiry before buy</a></li>
              <li><a href="#tab9" data-toggle="tab" id="related_reports">Related Reports</a></li>
          </ul>

          <div class="tab-content">
              <div class="tab-pane fade in active" id="tab10">
                <p><%= simple_format(@report.description) %></p>
              </div>
              <div class="tab-pane fade" id="tab6">
                <p><%= simple_format(convert_toc(@report.table_of_content).join) %></p>
              </div>                 
              <div class="tab-pane fade" id="tab7">
                 <%= render :partial => 'sample_request', :locals => { :report => @report }%>
              </div>
               <div class="tab-pane fade" id="tab8">
                  <%= render :partial => 'enquiry', :locals => { :report => @report }%>
              </div>
              <div class="tab-pane fade" id="tab9">
                <ul class="nav vertical-nav">
                  <%@related_report.each do |report|%>
                    <li>
                      <a href="/reports/<%= report.slug%>" class="fontcolor"><i class="fa fa-angle-double-right"></i> <b><%= report.title%></b></a>
                      <p>
                      <%= truncate( raw( sanitize(report.description, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %>
                      </p>
                    </li>
                  <%end%>
                </ul>
              </div> 
          </div>
        </div>
      </div>
      <div class='col-sm-5' style="padding-left: 50px;">

        <div class="row" style="padding-bottom: 29px;" >
           <div class="bubble">
             <div class="rectangle" style="background-color: #FE9A42;width:104%">
               <h2>Purchase this Market Research Report</h2>
             </div>
             <div class="triangle-l"></div>
               <div class="info" style="overflow-y:auto;padding: 20px 25px 35px 25px;height:auto" >
                 <%= form_for "currency", :url => shopping_cart_path(:report_id => @report.id), :method => 'post' , :html => {:class=>"form-horizontal",:id=>"update_currency"} do |f| %>    
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">USD <i class="fa fa-usd"></i></a>
                    </li>
                    <li><a href="#tab2" data-toggle="tab">GBP <i class="fa fa-gbp"></i></a></li>
                    <li><a href="#tab3" data-toggle="tab">Euro <i class="fa fa-eur"></i></a></li>
                    <li><a href="#tab4" data-toggle="tab">Yen <i class="fa fa-jpy"></i></a></li>
                    <li><a href="#tab5" data-toggle="tab">INR <i class="fa fa-inr"></i></a></li>
                  </ul>
                  <div class="tab-content" style="margin-bottom:0px;padding: 10px;">
                   <div class="tab-pane fade in active" id="tab1">
                       <p>  
                        <%if @report.one_user.present? && !@report.one_user.zero? %>
                          <%= radio_button_tag 'currency', "one_user-USD",:checked=>"true" %>
                          1-user PDF
                          <span style="float:right"> 
                            <%= number_to_currency @report.one_user%>
                          </span>
                          <br/>
                        <%end%>
                        <%if @report.five_user.present? && !@report.five_user.zero?%>
                          <%= radio_button_tag 'currency', "five_user-USD"%>
                          1-5 User PDF 
                          <span style="float:right"> 
                            <%= number_to_currency @report.five_user%>
                          </span>
                          <br/>
                        <%end%>
                        <%if @report.site_user.present? && !@report.site_user.zero? %>
                          <%= radio_button_tag 'currency', "site_user-USD"%> 
                          Site PDF 
                          <span style="float:right;"> 
                            <%= number_to_currency @report.site_user%>
                          </span>
                          <br/>
                        <%end%>
                        <%if @report.enterprise_user.present? && !@report.enterprise_user.zero?%>
                          <%= radio_button_tag 'currency', "enterprise_user-USD" %> 
                          Enterprise PDF 
                          <span style="float:right"> 
                            <%= number_to_currency @report.enterprise_user%>
                          </span>
                        <%end%>
                       </p>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                      <p>  
                       <%= render 'currency_info', :currency => 'GBP', :rates => @rates %> 
                      </p>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                      <p>   
                       <%= render 'currency_info', :currency => 'EUR', :rates => @rates %> 
                      </p>
                    </div>
                    <div class="tab-pane fade" id="tab4">
                      <p>   
                       <%= render 'currency_info', :currency => 'jpy', :rates => @rates %> 
                      </p>
                    </div>
                    <div class="tab-pane fade" id="tab5">
                      <p>   
                       <%= render 'currency_info', :currency => 'INR', :rates => @rates %> 
                      </p>
                    </div>
                    <%if @report.upcoming?%>
                       <input type="image" src="/assets/prebooknow.png" alt="Submit" style="float:right;height:35px">
                    <%else%>
                      <img src="/assets/godaddyseal.gif" alt="Go Daddy Logo" class="img-responsive" style="float:left;padding-top:20px" />
                      <div style="float:right">
                          <%= hidden_field_tag "report_id", nil, :value=> @report.id%>
                          <a href="javascript:void(0)" class="btn btn-primary btn-sm" style="margin-top: 20px;" id="add_to_cart">Add To Cart</a>
                          <button type="submit" id="send" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i>BUY NOW</button> 
                      </div>          
                    <%end%>
                <%end%>
                </div>
                <img src="/assets/cc.jpg" alt="Credit card Logo" class="img-responsive" style="padding: 15px 15px 0px 20px;">
             </div>
           </div>
         </div> 


          <div class="row" >
           <div class='col-sm-3'>
             <img src="/assets/save_button.png" alt="Save Button" width="90" class="visible-lg visible-md visible-sm">
           </div>
           <div class="col-sm-9" style="padding-bottom: 30px;">
            <div class="bubble" >
            <div class="info" style="padding:0px" align="center">
              <table class="table" style="margin-left:0px;margin-bottom: 0;">
                  <tr>
                    <td style="border: transparent;"> <a href="#" class="btn btn-primary btn-sm email_report" role="button"  data-toggle="modal" style="line-height:32px; background-color:#009CD6" ><i class="fa fa-envelope"></i>Email Report</a></td>
                    <td style="border: transparent;padding-left:0px">      <a href="#" class="btn btn-primary btn-sm save_page" role="button" onclick ='alert("Please Bookmark the page")'  data-toggle="modal" style="line-height:32px; padding-left: 20px;
                   padding-right: 20px;background-color:#009CD6"><i class="fa fa-bookmark"></i>Save Page</a>
                   </td>
                  </tr>
                  <tr>
                  <td style="border: transparent;">
                    <a href="/report_info.pdf?report_id=<%=@report.id%>" target="_blank", class="btn btn-primary btn-sm"  , style="background-color:#009CD6 ; padding-left: 16px;
                  padding-right: 12px;">
                     <i class="fa fa-print"></i> Download<br/> information
                    </a>
                  </td>
                  <td style="border: transparent;padding-left:0px">
                    <a href="/order_form.pdf?report_id=<%=@report.id%>" target="_blank", class="btn btn-primary btn-sm"  , style="background-color:#009CD6;padding-left: 10px;
                    padding-right: 16px;">
                      <i class="fa fa-download "></i> Download<br/>
                       Order Form
                    </a> 
                  </td>
                </tr>
              </table>     
            </div>
          </div>
        </div>
        </div>

        <div class="row" style="padding-bottom: 30px;">
          <div class="bubble">
            <div class="rectangle rectanglebgcolor" >
              <h2>Connect With Us</h2>
            </div>
            <div class="triangle-l"></div>
            <div class="info" style="overflow-y:auto;">
              <div class="col-sm-5" >
               <p> <img src="/assets/support.png" alt="Support Logo" class="img-responsive" ></p>
              </div>
              <div class="col-sm-7" >
                <p><b style="color:#006DCC;">Email Us at :</b> sales@wiseguyreports.com<br>
                <b style="color:#006DCC;">Reach Us at : </b><br/>+1 (646) 845 9349 (US)
                <b style="color:#006DCC;"> </b>+44 208 133 9349 (UK)</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class='row'>
        <div class="col-sm-12" >
          <div class="bubble">
              <div class="rectangle" style="background-color: #01C47E;width:101%">
                <h3 class="related_report_h3">Related Reports</h3>
              </div>
              <div class="triangle-l"></div>

              <div class="info" style="height:280px; overflow-y:auto;background-color: #F3F7FA;">
               <% @related_report.each do |report| %>
               <div class="record">
                  <div class="panel panel-info">
                    <div class="panel-body panelbodyfont" >
                      <% if report.report_image?%>
                        <%= image_tag report.report_image_url(:thumb), :class=>"img-thumbnail panelbodyimg"%>
                        <%elsif Report.category_name_image_hash[report.category_id][:logo].present?%>
                        <img src="<%=Report.category_name_image_hash[report.category_id][:logo]%>" alt="<%=Report.category_name_image_hash[report.category_id][:name] %>" class="img-thumbnail panelbodyimg">
                                           
                                       
                     
                      <%else%>
                        <%= image_tag report.publisher.report_image_url(:thumb), :class=>"img-thumbnail panelbodyimg"%>
                      <%end%>
                      <span>
                        <%#= link_to report.title, report.slug, :style => "color:#006DCC;" %> 
                        <a href="<%= report.slug %>" class="fontcolor"><b>
                        <%= report.title %>
                        </b>
                        <br><br>
                        <b class="datecolor">Published: </b><%= report.day unless report.day.to_i.zero? %> <%= report.publish_month.to_date.strftime("%B, %Y") rescue nil%><br>
                        </a>
                      </span>
                    </div>
                  </div> 
                </div>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<div id="email_report_popup" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                  ×
              </button>
              <h4>Tell a friend about this report </h4>
          </div>
         <div class="modal-body">
          <%= form_tag "email_report",onsubmit: "emailReport(); return(false)", :class=> "form-horizontal form-address", :id=>"email_report_form" do  %>
                
                  <div class="form-group">
                      <label for="name" class="col-sm-3 control-label">Your Name:<span>*</span></label>
                      <div class="col-sm-9">
                     <%= text_field_tag :name , nil, :class=>"form-control"%>                   
                      </div>
                       
                  </div>
                   <div class="form-group">
                      <label for="email" class="col-sm-3 control-label">Your Email:<span>*</span></label>
                      <div class="col-sm-9">
                     <%=text_field_tag :email , nil, :class=>"form-control"%>                   
                      </div>
                       
                  </div>
                  <div class="form-group">
                      <label for="friend_name" class="col-sm-3 control-label">Friend's Name:<span>*</span></label>
                      <div class="col-sm-9">
                     <%= text_field_tag :friend_name , nil, :class=>"form-control"%>                   
                      </div>
                       
                  </div>
                  <div class="form-group">
                      <label for="friend_email" class="col-sm-3 control-label">Friend's Email:<span>*</span></label>
                      <div class="col-sm-9">
                         <%= text_field_tag :friend_email , nil, :class=>"form-control" %>  
                      </div>
                  </div>
                  
            
                    <div class="form-group">
                      <label for="message" class="col-sm-3 control-label">Your Enquiry<span>*</span></label>
                      <div class="col-sm-9">
                         <%= text_area_tag :message , nil, :class=>"form-control" ,:style=>"height:100px"%> 
                       
                              <%= hidden_field_tag :report_id ,nil, :value=>  @report.id, :class=>"form-control"%>
                               
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <button type="submit" id="send_email_report" class="btn btn-primary"><i class="fa fa-check"></i>Send</button> 
                        </div>
                    </div>
                 
                  <%end%>
                </div>
            </div>
          </div>
        </div>


<script type="text/javascript">


$("#tab10").find('img').attr('alt', 'report-<%= @report.id%>');

  $('.fancybox').fancybox({
  
          'transitionIn'  : 'elastic',
          'transitionOut' : 'elastic',
          'speedIn'   : 600, 
          'speedOut'    : 200

        });


    //  $(document).on( 'shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
    //    console.log(e.target) // activated tab
    // })


    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $(e.target.hash).find("input").first().attr('checked','checked').prop('checked','checked');
    });



    $("#sample_report").click(function() {
       window.open('/sample_request/<%=@report.slug%>', "mywindow","width=1100,height=600,scrollbars=1");
   
    });

    $("#check_discount").click(function() {
       window.open('/check_discount/<%=@report.slug%>', "mywindow","width=1100,height=600,scrollbars=1");
   
    });



    $("#any_question").click(function() {
      window.open('/enquiry/<%=@report.slug%>', "mywindow","width=1100,height=600,scrollbars=1");
    });  

    $(".email_report").click(function() {
      $("#email_report_popup").modal();
    });


    $("#add_to_cart").click(function() {
       $('#add_to_cart').html("<i style='float: left;' class='fa fa-spinner fa-spin'></i> Adding...");
       $('#add_to_cart').attr('disabled','disabled');
       
       $.ajax( {
       type: "POST",
       url: '/add_to_cart',
       data: $("#update_currency").serializeArray(),
       success: function( response ) {      
         $('#shopping_cart_id').load('<%= load_add_to_cart_path%>');
         $('#add_to_cart').html("Add to Cart");
         $('#add_to_cart').removeAttr('disabled');
        },
         error: function(response){
      
        }
      });

    });



function emailReport() {

if ($("#email_report_form").valid()) {
                 $('#send_email_report').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
             $('#send_email_report').attr('disabled','disabled');
             $('.close').hide();
             $.ajax({
              url: "/email_report",
              type: "POST",
              data:{
                "email_report[name]" : $("#name").val(),
                "email_report[email]" :$("#email").val(),
                "email_report[friend_name]" :$("#friend_name").val(),
                "email_report[friend_email]" :$("#friend_email").val(),
                "email_report[message]" :$("#message").val(),
                "email_report[report_id]" :$("#report_id").val()
              }
            }).success(function(data){
                $("#email_report_popup").modal('hide');
                $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>"+data.notice+"</div></div>");
                $("html, body").animate({ scrollTop: 0 }, "fast");
                $('#send_email_report').html("Send");
                $('#send_email_report').removeAttr('disabled');
                $('.close').show();
                $(".flash-messages").fadeOut(10000);
            });
        }


    };

                    </script>




