<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Admin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag  'admin.css','admin/style.css',"chat.css" %>
  <%= javascript_include_tag "admin/admin" %>
   <%= javascript_include_tag "jquery.validate.js","validation.js", "nicEdit.js"%>
    <%= javascript_include_tag "test_chat.js","private_pub.js","users.js","prototype.js"%>
<%= yield :scripts %>

</head>

<body>
	<div id="header">
		<div id="logo">
			<%= image_tag  "admin/logo.jpg", :alt => "LOGO",  :width=>"160px", :height=>"60px"%>&nbsp;<%= image_tag  "admin/ADM.png", :alt => "LOGO",  :width=>"150px", :height=>"30px"%><!--  <span style="color:#fff; font-size:20px;" align="middle">Admin Panel</span> -->
		</div>
		<div id="nav">
				<ul class="tabs">
				
		<li><%= link_to "Categories", admin_categories_path, :class=> controller.controller_name == 'categories' ? "active" : nil %></li>
	    <li><%= link_to "Publisher", admin_publishers_path, :class=> controller.controller_name == 'publishers' ? "active" : nil %></li>
	
		<li> <%= link_to "News", admin_news_updates_path, :class=> controller.controller_name == 'news_updates' ? "active" : nil %></li>
		<li> <%= link_to "Reports", admin_reports_path, :class=> controller.controller_name == 'reports' ? "active" : nil %></li>
		
		<li><%= link_to "Reports General Labels", admin_report_labels_path, :class=> (controller.controller_name == 'reports' && params[:action] == 'report_labels') ? "active" : nil %></li>
		<li><%= link_to "Static Pages", admin_pages_path, :class=> controller.controller_name == 'pages' ? "active" : nil %></li>
	    <li><%= link_to "Enquiries", admin_enquiries_path, :class=> controller.controller_name == 'enquiries' ? "active" : nil %></li>
 

			 <%if  current_user %>
				<li><%= link_to "Sign out", signout_url %></li>
				<% else %>
				<li><%= link_to "Sign in", login_url %></li>
				<% end %>
				</li>	
			</ul>
		</div>
		</div>

	<div id='container'>
		<div id="main">
			<p style="color: green"><%= flash[:notice] %></p>
	
  			<%= yield %>
  		</div>
	</div>
	
	<div id="footer">
      <div id="footer_logo">
            <div id="powered_by">
            	Powered by <a target="_blank" href="#" style="color:#FFFFFF;">Digits Experts Pvt Ltd</a>
        	</div>
      </div>
    </div>
<script type="text/javascript">

// $(document).ready(function(){ 
// 	  $("#message").keypress(function(e) {
 
//       if(e.which == 13) {
//         $.ajax({
//           url: "/messages/create",
//           type: "POST",
//           data: {message: $(this).val(),id: $(this).attr("data-id")}
//         })
//        }
//     })
// })

</script>
</body>
</html>
		