<!DOCTYPE html >

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<%
  meta title: "Market Research Report | Industry Analysis | Market Trends",
  description: "WiseGuyReports.com: The leading provider of market research reports, Market forecast & industry analysis.  Get Sample Report @ info(at)wiseguyreports(dot)com",
  keywords: "Market News, Marketing Research Process, Research Report, Business Research, Industrial Analysis, Industry Reports, Business Research Process, Business Risk Analysis, Industry Analysis Report, Market Research Analysis, Top Market Research Companies, USA Marketing Research Process, China Research Report, Japan Business Market Research Report, Europe Industrial Analysis, Industry Reports, Australia Business Research Process, Business Risk Analysis, Industry Analysis Report"
%>
<meta name="msvalidate.01" content="1BD644276DD2C01E57B3D0DAE5EF7EB4" />
<meta name="alexaVerifyID" content="6JLJ8K_-n7Pz_q4pfjepINpMNc8"/>
<%if params[:controller]=="home"%>



  
  <!-- Add the following three tags inside head. -->



      
 <!--  <meta property="og:title" content="Business Market Research Report | Industry Analysis | Market Trends"/>
  <meta property="og:image" content="https://www.wiseguyreports.com/assets/s2.png"/>
  <meta property="og:site_name" content="WiseGuy Research Consultants Pvt Ltd"/>
  <meta property="og:description" content="WiseGuyReports.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@wiseguyreports.com"/> -->

  <meta name="dc.title" content="Market Research Report | Industry Analysis | Market Trends"/>
  <meta name="dc.description" content="WiseGuyReports.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: @ info(at)wiseguyreports(dot)com"/>
  <meta name="dc.language" content="English"/>
  <meta name="DC.publisher" content="WiseGuyReports"/>


  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="@WiseGuyReports" />
  <meta name="twitter:title" content="Market Research Report | Industry Analysis | Market Trends" />
  <meta name="twitter:description" content="WiseGuyReports.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: @ info(at)wiseguyreports(dot)com" />
  <meta name="twitter:image" content="https://www.wiseguyreports.com/assets/s2.png" />
  <meta name="twitter:url" content="https://www.wiseguyreports.com" />

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:url" content="https://wiseguyreports.com/twitter-cards"/>
  <meta name="twitter:title" content="Wise Guy Reports: Repudiated Market Research Platform "/>
  <meta name="twitter:description" content=" Wise Guy Consultants Pvt. Ltd. offers premium progressive statistical surveying, market research reports, analysis &amp; forecast data for industries and governments around the globe.."/>
  <meta name="twitter:image" content=" https://wiseguyreports.com/assets/logo.png "/>
<%end%>
<!--   <meta name="twitter:card" content="summary"/>
  <meta name="twitter:url" content="https://wiseguyreports.com/twitter-cards"/>
  <meta name="twitter:title" content="Wise Guy Reports: Repudiated Market Research Platform "/>
  <meta name="twitter:description" content=" Wise Guy Consultants Pvt. Ltd. offers premium progressive statistical surveying, market research reports, analysis &amp; forecast data for industries and governments around the globe.."/>
  <meta name="twitter:image" content=" https://wiseguyreports.com/assets/logo.png "/> -->

<%= metamagic %>
    <!-- ==========================
    	Favicons 
    =========================== -->
    <!--   <link rel="shortcut icon" href="favicon.ico"> -->
    <%= favicon_link_tag 'favicon.ico'%>
	
    
    <!-- ==========================
    	Fonts 
    =========================== -->



    <%=stylesheet_link_tag "font-open-sans.css" ,:rel=>'stylesheet', :type => "text/javascript"%>
    <%=stylesheet_link_tag "font-roboto.css",:rel=>'stylesheet', :type => "text/javascript" %>
    <%= stylesheet_link_tag    'application', media: 'all',  :type => "text/javascript"%>
    <%= javascript_include_tag 'application', :type => "text/javascript"%>
    <%= javascript_include_tag 'notify.min.js' , :type => "text/javascript"%>
    <%= csrf_meta_tags %>
    <!-- ==========================
    	CSS 
    =========================== -->

    <%=stylesheet_link_tag "bootstrap.min.css"%>
    <%=stylesheet_link_tag "font-awesome.min.css"%>
    <%=stylesheet_link_tag "yamm.css"%>
    <%=stylesheet_link_tag "jquery.bootstrap-touchspin.css"%>
    <%=stylesheet_link_tag "owl.carousel.css"%>
    <%=stylesheet_link_tag "owl.transitions.css"%>
    <%=stylesheet_link_tag "color.css"%>
    <%=stylesheet_link_tag "custom.css","chat.css","demo.css","style2.css"%>
    <%= stylesheet_link_tag "common_custom.css"%>


    <!-- ==========================
    	JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"Wgr2n1a4KM10vg", domain:"wiseguyreports.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=Wgr2n1a4KM10vg" style="display:none" height="1" width="1" alt="cloud front" /></noscript>
<!-- End Alexa Certify Javascript -->  



<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-58391777-1', 'auto');
  ga('send', 'pageview');

</script>


      <script type="text/javascript">
  
      $(function() {
        $("#phone_no").keypress(function(e) {
            var val = $(this).val();
            var regex = /^[0-9 \.+]+$/;
            if (regex.test(val + String.fromCharCode(e.charCode))) {
                return true;
            }
            return false;
        });
        $("#enquiry_phone_no").keypress(function(e) {
            var val = $(this).val();
            var regex = /^[0-9 \.+]+$/;
            if (regex.test(val + String.fromCharCode(e.charCode))) {
                return true;
            }
            return false;
        });
        $("#any_que_phone_no").keypress(function(e) {
            var val = $(this).val();
            var regex = /^[0-9 \.+]+$/;
            if (regex.test(val + String.fromCharCode(e.charCode))) {
                return true;
            }
            return false;
        });
        $("#contact_us_phone_no").keypress(function(e) {
            var val = $(this).val();
            var regex = /^[0-9 \.+]+$/;
            if (regex.test(val + String.fromCharCode(e.charCode))) {
                return true;
            }
            return false;
        });
      });

  </script>

<script type="text/javascript">
$(document).ready(function() {
    // $("#refreshMe").load("<%= load_tweets_path %>");
       
    var recent = $("#owl-recent");
     
    recent.owlCarousel({
        rewindNav: true,
        autoPlay: 3000, //Set AutoPlay to 3 seconds
        items : 4,
    
        mouseDrag : true,
        pagination : false,
        stopOnHover: true



    });
    
    $(".next").click(function(){
      recent.trigger('owl.next');
    })
      
    $(".prev").click(function(){
      recent.trigger('owl.prev');
    })


  $(function(){

  var offset = 250;
    var duration = 300;
    $(window).scroll(function() {
        if ($(this).scrollTop() > offset) {
            $('.back-to-top').fadeIn(duration);
        } else {
            $('.back-to-top').fadeOut(duration);
        }
    });
 
    $('.back-to-top').click(function (e) {
      e.preventDefault();
      $('body,html').animate({scrollTop: 0}, 500);
    });

  });

});
$(function() {
  var flashCallback;
  flashCallback = function() {
    return $(".flash-messages").fadeOut();
  };
  $(".flash-messages").bind('click', (function(_this) {
    return function(ev) {
      return $(".flash-messages").fadeOut();
    };
  })(this));
  return setTimeout(flashCallback, 3000);
});


    </script>
<style type="text/css">

.intl-tel-input input {
    border: 1px solid #D5D5D5;
    border-bottom-width: 2px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1) inset;
    color: #555555;
    height: 32px;
    transition: 0.3s ease-in-out 0s;
    border-radius: 0;
  }
.contactusleft {
    color: #f0f0f0 !important;
    margin: -36px;
    position: fixed;
    text-align: left;
    top: 378px;
    width: 25px;
}

.contactusleft a img {
    width: 40px;
}

.viewleft {
    color: #f0f0f0 !important;
    margin: -36px;
    position: fixed;
    text-align: left;
    top: 200px;
    width: 25px;
}

.viewleft a img {
    width: 40px;
}

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;

}
 
.back-to-top i {
  font-size: 60px;
}


.header-item strong{
  color:#fff
}

.header-item strong a{
  color:#fff
}

.header-item strong a:hover{
  color:#fff
}
.navbar-brand img{
 margin-top:5px
}
</style>




<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>
<!-- Place this tag where you want the widget to render. -->




<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://www.wiseguyreports.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://wiseguyreports.com/reports?utf8=✓&q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
</head>
<body class="color-blue">



<%# cache "main-body-#{request.path}" do %>
	<!-- ==========================
    	FACEBOOK - SHARE BUTTON 
    =========================== -->
	<div id="fb-root"></div>
	<script type="text/javascript">
  $(document).ready(function(){
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  })
  </script>
    


    <div id="page-wrapper" class="page-boxed">
    
	<!-- ==========================
    	HEADER - START
    =========================== -->
    <%# cache "header" do %>
    <div class="top-header">
    	<div class="container">
        	<div class="pull-left">
            	<div class="header-item visible-lg visible-md visible-sm" > <strong><a href="mailto:info@wiseguyreports.com" ><i class="fa fa-envelope"></i> info@wiseguyreports.com</a> </strong>&nbsp;<span class="pipe">|</span>&nbsp;&nbsp; <strong><a href="#" class="chat_us" data-toggle="modal"><i class="fa fa-comments"></i> Chat with us</a></strong> &nbsp;&nbsp;<span class="pipe">|</span>&nbsp;&nbsp;&nbsp;<strong> <i class="fa fa-phone"></i>+1 (646) 845 9349 (US) </strong>&nbsp;<span class="pipe">|</span>&nbsp;&nbsp;  <strong> <i class="fa fa-phone"></i>+44 208 133 9349 (UK)</strong> </div>
         

            </div>
            <div class="pull-right">

           



           <!--      <div id="google_translate_element"></div><script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                }
                </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 -->


       

                <%if current_user%>
                <div class="header-item" >  <strong><%= link_to "Hi, " + current_user.full_name, "javascript:void(0);"%>  </strong></div> 
                <div class="header-item" > <strong><%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id) %> </strong> </div> <div class="header-item" > 



                <strong> <a data-method="delete" href="/logout" rel="nofollow" ><i class="fa fa-sign-out"></i> Logout</a> </strong>


                <%#= link_to "<i class='fa fa-sign-out'></i> Logout".html_safe, logout_url, :method => :delete ,:style=>"color:#fff"%>


              </div>
                <%else%>
               
                  <div class="header-item" > <strong><a href="/login" class="pull-right" ><i class="fa fa-sign-in hidden-xs" ></i>Sign in</a> </strong></div> <div class="header-item" > <strong><a href="/signup" class="pull-right" ><i class="fa fa-user hidden-xs"></i> Register</a> </strong></div>




                <%end%>
            </div>
        </div>
    </div>


    <%# end %>
  
	<header class="navbar yamm navbar-default navbar-static-top " >
    	<div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img src="<%= asset_path('logo.png') %>" alt="Wiseguyreports.com offer you the premium industry analysis report at one place" width="180" height="63" class="img-responsive visible-lg visible-md visible-sm"/></a>

                 <a href="/" class="navbar-brand"><img src="<%= asset_path('logo.png') %>" alt="Wiseguyreports.com offer you the premium industry analysis report at one place" width="100" height="35"  class="img-responsive hidden-lg hidden-md hidden-sm" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
              <% cache "top-menu" do %>
            	<ul class="nav navbar-nav navbar-main-menu">
                    <li>
                        <%=link_to "Home", root_path%>
                
                    </li>
                    
                    <li  >
                        <%=link_to "About Us", "/pages/about-us" %>                    </li>
                    
    
                   <!--  <li>
                        <%#=link_to "Report Categories", categories_path %>
                      
                    
                    </li> -->
                    <li class="dropdown yamm-fw">
                        <a href="/categories" class="dropdown-toggle" >Report Categories <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <%= render "shared/category_menu" %>
                        </ul>
                    </li>



                        <li>
                    
                        <%=link_to "Publisher", publishers_path %>
                    </li>
                       <li class="dropdown">
                        <a href="/countries" class="dropdown-toggle" data-toggle="dropdown">Countries <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/countries"><i class="fa fa-angle-double-right"></i>Browse by Country</a></li>
                            <li><a href="/continents"><i class="fa fa-angle-double-right"></i>Browse by Continent</a></li>
                            <li><a href="/regions"><i class="fa fa-angle-double-right"></i>Browse by Group / Region</a></li>
                        </ul>
                    </li>
                    
                     <!--     <li  >
                     <%#=link_to "Countries", countries_path %>
                     
                    </li> -->
                   



                      <li class="dropdown">
                        <a href="/press-release" class="dropdown-toggle" data-toggle="dropdown">News & Blogs<i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li>   <%=link_to "Press Release", news_updates_path%></li>
                            <li><a href="/blogs">Blogs</a></li>
                        <!--      <li><a href="https://wiseguyreports.wordpress.com" target="_blank">Blog - World of Healthcare</a></li> -->
                        </ul>
                    </li>

                   
               
                        <li >
                         <%=link_to "FAQs", "/pages/faqs" %>    
                   
                    </li>
                    
                        <li >
                             <%=link_to "Contact Us", contact_us_path %>
                     
                   
                    </li>
                            <li >
                             <%=link_to "Careers", "/pages/careers" %>   
                     
                   
                    </li>
                </ul>
               <% end %>

              <ul class="nav navbar-nav" shop-id="<%= @cart['id'] %>" id="shopping_cart_id">
                <%=render 'home/shopping_cart'%>
              </ul>
            </div>
        </div>
    </header>
    <!-- ==========================
    	HEADER - END 
    =========================== -->
    <%# Rails flash messages styled for Zurb Foundation 5.0 %>

<% flash.each do |type, message| %>
<div class="flash-messages">
  <div class="alert <%= flash_class(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
    </div>
<% end %>

<% cache "left-buttons" do %>
<div class="contactusleft visible-lg visible-md visible-sm" > 
    <a href="/contact-us"><img src="<%= asset_path('email.png') %>" alt="email"/></a>
</div>

<div class=" viewleft visible-lg visible-md visible-sm" > 
    <a href="/reports"><img src="<%= asset_path('view.png') %>" alt="view"/></a>
</div>
<% end %>

<%= javascript_include_tag "jquery.easing.min.js", :type => "text/javascript"%>

<%= javascript_include_tag "jquery.marquee.js", :type => "text/javascript"%>




<%= yield %>

   <a href="#" class="back-to-top">
      <i class="fa fa-arrow-circle-up"></i>
   </a>



   <%= javascript_include_tag "jquery.magnific-popup.min.js", :type => "text/javascript"%>
<script type="text/javascript">
$(function(){
    var $mwo = $('.marquee-with-options');
    $('.marquee').marquee();

    
    //Direction upward
    $('.marquee-vert').marquee({
        direction: 'up',
        speed: 6000
    });

    //pause and resume links
    $('.pause').click(function(e){
        e.preventDefault();
        $mwo.trigger('pause');
    });
    $('.resume').click(function(e){
        e.preventDefault();
        $mwo.trigger('resume');
    });
    //toggle
    $('.toggle').hover(function(e){
        $mwo.trigger('pause');
    },function(){
        $mwo.trigger('resume');
    })
    .click(function(e){
        e.preventDefault();
    })
});
</script>

<% cache "main-footer" do %>
    <!-- ==========================
    	FOOTER - START 
    =========================== -->
    <footer>
    	<div class="container">
        	<div class="row">
            	<div class="col-md-2 footer" >
                	<h4><i class="fa fa-flag"></i>WiseGuy</h4>
                   
                        <ul class="nav vertical-nav">
                           
                        
                                <li class="aboutus"><a href="/pages/about-us"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                                <li class="aboutus"><a href="/publishers"><i class="fa fa-angle-double-right"></i>Publisher</a></li>
                             
                                <li class="aboutus"><a href="/countries"><i class="fa fa-angle-double-right"></i>Browse by Country</a></li>
                                 <li class="aboutus"><a href="/continents"><i class="fa fa-angle-double-right"></i>Browse by Continents</a></li>
                            <li class="aboutus"><a href="/regions"><i class="fa fa-angle-double-right"></i>Browse by Group/Region</a></li>
                        
                        </ul>

                  
                     <br/>
                     <span id="siteseal" ><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=9OvbVuuFWCEWYFXMBYjl1jSENjv4TzMOqzb6sjd077ny41x6hv"></script></span> 
                
                </div>
                

                <div class="col-md-2 contactusfooter">
                	<h4><i class="fa fa-phone"></i>Contact Us</h4>
                    <p class="contact-text">

                    <div itemscope itemtype="http://schema.org/LocalBusiness">
                       <span itemprop="name">WISE GUY RESEARCH CONSULTANTS PVT LTD</span><br/><br/>
                       <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                         <span itemprop="streetAddress">Office No. 524, Amanora Chambers, Magarpatta Road, Hadapsar</span>
                         <span itemprop="addressLocality">Pune</span>,
                         <span itemprop="addressRegion">Maharashtra</span>
                         <span itemprop="postalCode">411028</span>
                       </div>
                       <span itemprop="telephone">+91 8411985042</span>
                    </div>
   
                    <span itemprop=" emailaddress ">info@wiseguyreports.com</span><br/><br/>
                    +1 (646) 845 9349 (US)<br/>
                    +44 208 133 9349 (UK)

                    </p>
      

         
                </div>
                <div class="col-md-2 footersupport">
                  <h4><i class="fa fa-user"></i>Support</h4>
                  
                    <ul class="nav vertical-nav">
                     <li class="aboutus"><a href="/pages/order-process"><i class="fa fa-angle-double-right"></i>Order process</a></li>
                          <li class="aboutus"><a href="/vendor-information"><i class="fa fa-angle-double-right"></i>Vendor Information</a></li>
                           
                             <li class="aboutus"><a href="/pages/privacy-policy"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                          <li class="aboutus"><a href="/pages/terms-and-conditions"><i class="fa fa-angle-double-right"></i>Terms & Conditions</a></li>
                       <li class="aboutus"><a href="/sitemap"><i class="fa fa-angle-double-right"></i>Site Map</a></li>
                      </ul>

                       <div class="row" id="latest-work-footer">
                        <a href="/contact-us" class="btn btn-primary btn-sm" > Email Us</a><br/><br/>
                  <a href="/reports" class="btn btn-primary btn-sm" > View All Reports</a>
                   </div>             
                </div>
                    <div class="col-md-3 footer">
                      <h4><i class="fa fa-video-camera"></i>Know Us More</h4>
                      <p class="contact-text">
                        <a href="https://www.youtube.com/watch?v=03FPfld2460" target ="_blank">
                          <img src="<%= asset_path('youtube_video.png') %>" class="img-responsive youtube" alt="youtube-wiseguy"/>
                        </a>
                      </p>

                  <h4><i class="fa fa-envelope"></i>Newsletter</h4>
                    <p class="contact-text"><b><span class="newsletter">KEEP UP TO DATE ON ALL THE LATEST REPORTS </span></b><br/>
                    </p>
                    <%= form_for( :subscriber , :url=>{:controller=>"reports",:action=>"subscriber"}, :html => {:class=>"form-horizontal form-address", :id=>"subscriber_form newsletter_form"}) do |f| %>
                        <fieldset>
                            <div class="form-group nospace">
                                <div class="input-group">
                                     <%= f.text_field :email , :value=> "", :class=>"form-control", :placeholder=>"Put your email" , :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%>  
                                    
                                    <span class="input-group-btn"> <button type="submit" id="send" class="btn btn-primary btn-sm"><i class="fa fa-check"></i></button> </span>
                                </div>
                            </div>
                        </fieldset>
                    <%end%>
                    </div>
                     <div class="col-md-3 footer" >
                       <div class="homeadd" id="refreshMe">
                        <%= render "/home/load_tweets" %>
                       </div>
                     </div>
            </div>
            <div class="footer-bottom" >
                <div class="footer-copyright col-sm-6 footcopyright" >
                    <p>Copyright © 2016, All Rights Reserved, <a href="https://wiseguyreports.com/">WiseGuyReports.com </a></p>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                 <ul class="brands brands-inline brands-tn brands-circle main brandicon">
                  <li class="brandiconleft"><a href="/rss-feeds" target="_blank"><img src="<%= asset_path('feeds_orange.png') %>" width="23" class="img-responsive" alt="feeds"/></a></li>
                 <li class="brandiconleft"><a href="//twitter.com/WiseGuyReports" target="_blank"><img src="<%= asset_path('twitter.png') %>"  width="23" class="img-responsive" alt="twitter"/></a></li>
                 <li class="brandiconleft"><a href="//www.facebook.com/pages/WiseGuy-Research-Consultants-Pvt-Ltd/1509220196008846" target="_blank"><img src="<%= asset_path('facbook.png') %>" width="23" class="img-responsive" alt="facebook"/></a></li>
                  <li class="brandiconleft"><a href="//plus.google.com/100535494506775102718" rel="publisher" target="_blank"><img src="<%= asset_path('googleplus.png') %>" width="22" class="img-responsive" alt="googleplus"/></a></li>
                  <li><a href="//www.linkedin.com/company/wise-guy-research-consultants-pvt-ltd-?trk=biz-companies-cym" target="_blank"><img src="<%= asset_path('linkedin.png') %>" width="23" class="img-responsive" alt="linkedin"/></a></li>
                  </ul>
                 </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- ==========================
    	FOOTER - END 
    =========================== -->
    <% end %>
   
<!--     </div> -->

<script type="text/javascript">

      $(document).ready(function () {
          $('#chat_us_popup').on('shown.bs.modal', function () {
              grecaptcha.render('recaptcha1', {'sitekey': '6LdIVv0SAAAAAPOoBo7TkBniPGgYDiJSoDQ7aLiP'});
          })
          $('#chat_us_popup').on('hide.bs.modal', function () {
              $("#recaptcha1").empty();
          })
      });
</script>
   	<!-- ==========================
    	JS 
    =========================== -->        
<div id="chat_us_popup" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                    ×
                </button>
                <h4>Please enter details to chat </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

       
                    <%= form_tag "/save_chat_user", onsubmit: "saveChat();return(false);", :class=> "form-horizontal form-address", :id => "chat_form" do %>
                              
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">Your Name:<span>*</span></label>
                                    <div class="col-sm-9">
                                   <%= text_field_tag :name , nil, :class=>"form-control" %>                   
                                    </div>
                                     
                                </div>
                                 <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">Your Email:<span>*</span></label>
                                    <div class="col-sm-9">
                                   <%=text_field_tag :email , nil, :class=>"form-control"%>                   
                                    </div>
                                     
                                </div>
                                <div class="form-group">
                                    <label for="phone_no" class="col-sm-3 control-label">Your Phone No.:</label>
                                    <div class="col-sm-9">
                                   <%= text_field_tag :phone_no , nil, :class=>"form-control"%>                   
                                    </div>
                                     
                                </div>
                 
                                
                          
                                  <div class="form-group">
                                    <label for="message" class="col-sm-3 control-label">Your Message<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= text_area_tag :message , nil, :class=>"form-control textareamessage"%> 
                                     
                                             
                                    </div>
                                </div>
                                <div class="form-group" id="captchas">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <div id="recaptcha1"></div>
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <button type="submit" id="send_chat_report" class="btn btn-primary"><i class="fa fa-check"></i>Send</button> 
                                    </div>
                                </div>
                               
                                <%end%>


                   
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // $("#refreshMe").load("<%= load_tweets_path %>");
    $(".chat_us").click(function() {
        $("#chat_us_popup").modal();

    });

    function saveChat() {

      var v = grecaptcha.getResponse();
      if(v.length == 0)
      {
          alert("You can't leave Captcha Code empty");
          return false;
      }else
      {
          if ($("#chat_form").valid()) {
               $('#send_chat_report').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
               $('#send_chat_report').attr('disabled','disabled');
               $('.close').hide();
          $.ajax({
              type : "POST",
              url : "/save_chat_user",
              data : $("#chat_form").serialize()
          }).done(function(msg) {
                  grecaptcha.reset();
                  $('#chat_us_popup').modal('toggle');
                  $("header").after("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>Thank You " + msg.name+". Your query has been successfully sent. Wiseguy representative will get back to you shortly.</div></div>");
                  $("html, body").animate({ scrollTop: 0 }, "fast");
                  $('#send_chat_report').html("Send");
                  $('#send_chat_report').removeAttr('disabled');
                  $('.close').show();
                  $(".flash-messages").fadeOut(10000);
                  $("#chat_form")[0].reset()
          });
        }
      }



    }


      function remove_product(item_id, purchase_id){


         $.blockUI({ message: '<h4> <img src="https://wiseguyreports.com/assets/loading.gif" width="50"/></h4>' });
         $.ajax( {
         type: "POST",
         url: '/remove_item',
         data: {item_id: item_id, purchase_id: purchase_id},
         success: function( response ) {      

           if (response.shopping_cart_items.length == 0){
             window.location='/reports/'+response.report_slug
           }else{
             $('#place_order_cart').load('<%= load_place_order_items_path%>');
             $('#shopping_cart_id').load('<%= load_add_to_cart_path%>');
           }
              
          
           $.unblockUI();  

          },
           error: function(response){
        
          }
        });
   
    


      }

      $(document).ready(function() {
        $('.partnerslider').show();
      });



                </script>
    <%= javascript_include_tag "bootstrap.min.js","owl.carousel.min.js", :type => "text/javascript"%>
    <%= javascript_include_tag "isotope.pkgd.min.js", :type => "text/javascript"%>
    <%= javascript_include_tag "checkout.js", :type => "text/javascript"%>
    <%= javascript_include_tag "jquery.validate.js","validation.js", :type => "text/javascript"%>
    <%= javascript_include_tag "custom.js","jquery.cslider.js","modernizr.custom.28468.js","jquery.event.move.js","jquery.blockUI.js", :type => "text/javascript"%>
  
    <%= javascript_include_tag "additional-methods.js", :type => "text/javascript"%>
<%# end %>

<%= yield(:javascripts) %>
</body>
</html>













