<!DOCTYPE html>
<html>
<head>
    <!-- ==========================
    	Meta Tags 
    =========================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ==========================
    	Title 
    =========================== -->
    <title>CrmReport</title>
    
    <!-- ==========================
    	Favicons 
    =========================== -->
    <link rel="shortcut icon" href="icons/favicon.ico">
	<link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
    
    <!-- ==========================
    	Fonts 
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- ==========================
    	CSS 
    =========================== -->
    
    <%=stylesheet_link_tag "bootstrap.min.css"%>
    <%=stylesheet_link_tag "font-awesome.min.css"%>
    <%=stylesheet_link_tag "animate.css"%>
    <%=stylesheet_link_tag "yamm.css"%>
    <%=stylesheet_link_tag "jquery.bootstrap-touchspin.css"%>
    <%=stylesheet_link_tag "owl.carousel.css"%>
    <%=stylesheet_link_tag "owl.theme.css"%>
    <%=stylesheet_link_tag "owl.transitions.css"%>
    <%=stylesheet_link_tag "magnific-popup.css"%>
    <%=stylesheet_link_tag "creative-brands.css"%>
    <%=stylesheet_link_tag "color-switcher.css"%>
    <%=stylesheet_link_tag "color.css"%>
    <%=stylesheet_link_tag "custom.css","chat.css"%>


    <!-- ==========================
    	JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
</head>
<body class="color-blue">
	<!-- ==========================
    	FACEBOOK - SHARE BUTTON 
    =========================== -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <!-- ==========================
    COLOR SWITCHER - START
    =========================== -->
<!--     <div id="color-switcher">
        <div id="toggle-switcher"><i class="fa fa-gear"></i></div>
        <span>Color Scheme:</span>
        <ul class="list-unstyled list-inline">
            <li id="blue" data-toggle="tooltip" data-placement="top" title="Blue"></li>
            <li id="green" data-toggle="tooltip" data-placement="top" title="Green"></li>
            <li id="orange" data-toggle="tooltip" data-placement="top" title="Orange"></li>
            <li id="red" data-toggle="tooltip" data-placement="top" title="Red"></li>
            <li id="purple" data-toggle="tooltip" data-placement="top" title="Purple"></li>
            <li id="light-blue" data-toggle="tooltip" data-placement="top" title="Light Blue"></li>
            <li id="yellow" data-toggle="tooltip" data-placement="top" title="Yellow"></li>
            <li id="pink" data-toggle="tooltip" data-placement="top" title="Pink"></li>
            <li id="light-green" data-toggle="tooltip" data-placement="top" title="Light Green"></li>
            <li id="black" data-toggle="tooltip" data-placement="top" title="Black"></li>
        </ul>
        
        <button id="page-boxed-toggle" class="btn btn-primary">Boxed Page</button>
    </div> -->
    <!-- ==========================
        COLOR SWITCHER - END
    =========================== -->
    
    <div id="page-wrapper" class="page-boxed">
    
	<!-- ==========================
    	HEADER - START
    =========================== -->
    <div class="top-header hidden-xs hidden-sm">
    	<div class="container">
        	<div class="pull-left">
            	<div class="header-item"><i class="fa fa-envelope"></i> info@pixlized.cz</div>
         <!--        <div class="header-item"><a href="#" class="chat_us" role="button"  data-toggle="modal">Chat us</a></div> -->
            </div>
            <div class="pull-right">
            	<ul class="brands brands-inline brands-tn brands-circle main">
                	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                <%if current_user%>
            <%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id) %> | 
                <%= link_to "<i class='fa fa-sign-out'></i> Logout".html_safe, logout_url, :method => :delete %>
                <%else%>
                  <div class="header-item"><a href="/login" class="pull-right"><i class="fa fa-user"></i>Sign in/Register</a></div>
                <%end%>
            </div>
        </div>
    </div>
    
	
    <!-- ==========================
    	HEADER - END 
    =========================== -->
    <%# Rails flash messages styled for Zurb Foundation 5.0 %>

    <% flash.each do |type, message| %>
<div class="flash-messages">
  <div class="alert <%= flash_class(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
    </div>
<% end %>
<%= yield %>



    <!-- ==========================
    	FOOTER - START 
    =========================== -->
    <footer>
    	<div class="container">
        	<div class="row">
            	<div class="col-md-4">
                	<h3><i class="fa fa-flag"></i>Contact</h3>
                    <p class="contact-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat.</p>
                    <ul class="list-unstyled contact-address">
                    	<li>212-222 Broadway, New York, NY 10038, USA</li>
                        <li><a>info@mycompany.com</a></li>
                        <li>+420 123 456 789</li>
                        <li>www.mycompany.com</li>
                    </ul>
                    <ul class="brands brands-inline brands-sm brands-transition brands-circle">
                    	<li><a href="#" class="brands-facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="brands-twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="brands-google-plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="brands-linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="brands-youtube"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" class="brands-skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
                
                <div class="col-md-4 hidden-xs hidden-sm">
                	<h3><i class="fa fa-camera"></i>Popular Publishers</h3>
                    <div class="row" id="latest-work-footer">
						<div class="overlay-wrapper col-sm-6">
                            <img src="/assets/image_01.jpg" class="img-responsive" alt="">
                            <span class="overlay">
                                <a href="#"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <div class="overlay-wrapper col-sm-6">
                            <img src="/assets/image_02.jpg" class="img-responsive" alt="">
                            <span class="overlay">
                                <a href="#"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <div class="overlay-wrapper col-sm-6">
                            <img src="/assets/image_05.jpg" class="img-responsive" alt="">
                            <span class="overlay">
                                <a href="#"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>
                        <div class="overlay-wrapper col-sm-6">
                            <img src="/assets/image_06.jpg" class="img-responsive" alt="">
                            <span class="overlay">
                                <a href="#"><i class="fa fa-plus"></i></a>
                            </span>
                        </div>                        
                    </div>
                </div>
                
                <div class="col-md-4 hidden-xs hidden-sm">
                	<h3><i class="fa fa-envelope"></i>Newsletter</h3>
                    <p class="contact-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat.</p>
                    <form>
                    	<fieldset>
                        	<div class="form-group nospace">
                            	<div class="input-group">
                                    <input type="email" class="form-control" id="email" placeholder="Put your email" required>
                                    <span class="input-group-btn"><button class="btn btn-primary" type="button">Submit</button></span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-copyright">
                    <p>© Roxie 2014 All right reserved. Designed by <a href="http://pixelized.cz/" target="_blank">Pixelized Studio.</a></p>
                </div>
                <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- ==========================
    	FOOTER - END 
    =========================== -->
   
    </div>
   
   	<!-- ==========================
    	JS 
    =========================== -->        
<div id="chat_us_popup" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                    ×
                </button>
                <h4>Please enter details to chat </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <%= form_tag "/save_chat_user", onsubmit: "saveChat();return(false);", :id => "chat_form" do %>
                    <input type="text" name="name" class="form-control" id ="name" data-stripe="number" placeholder="your name" required/>
                    <input type="text" name="email" class="form-control" id ="email" data-stripe="number" placeholder="your email" required/>
                    <button type="submit" class="btn btn-default"  id="payment-submit">
                        Proceed
                    </button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                        Cancel
                    </button>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".chat_us").click(function() {
        $("#chat_us_popup").modal();
    });

    function saveChat() {
        // jQuery.blockUI({ message: '<h4><img src="http://malsup.com/jquery/block/busy.gif" />  Please wait...</h4>' });
        $.ajax({
            type : "POST",
            url : "/save_chat_user",
            data : $("#chat_form").serialize()
        }).done(function(msg) {
            $.post("/conversations", {
                sender_id : msg.chatter_id,
                recipient_id : 1
            }, function(data) {
                chatBox.chatWith(data.conversation_id);
            });
            $('#chat_us_popup').modal('toggle');

        });

    }
</script>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
    <%= javascript_include_tag "bootstrap.min.js","owl.carousel.js"%>
    <%= javascript_include_tag "isotope.pkgd.min.js"%>
    <%= javascript_include_tag "jquery.magnific-popup.min.js","checkout.js"%>
    <%= javascript_include_tag "jquery.validate.js","validation.js"%>
    <%= javascript_include_tag "creative-brands.js","color-switcher.js","custom.js","http://localhost:9292/faye.js" ,"test_chat.js","private_pub.js","users.js"%>


</body>
</html>