<!DOCTYPE html>
<html>
<head>
    <!-- ==========================
    	Meta Tags 
    =========================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ==========================
    	Title 
    =========================== -->
    <title>::WISE GUY::</title>
    
    <!-- ==========================
    	Favicons 
    =========================== -->
    <link rel="shortcut icon" href="icons/favicon.ico">
	<link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
    
    <!-- ==========================
    	Fonts 
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- ==========================
    	CSS 
    =========================== -->
    
    <%=stylesheet_link_tag "bootstrap.min.css"%>
    <%=stylesheet_link_tag "font-awesome.min.css"%>
    <%=stylesheet_link_tag "animate.css"%>
    <%=stylesheet_link_tag "yamm.css"%>
    <%=stylesheet_link_tag "jquery.bootstrap-touchspin.css"%>
    <%=stylesheet_link_tag "owl.carousel.css"%>
    <%=stylesheet_link_tag "owl.theme.css"%>
    <%=stylesheet_link_tag "owl.transitions.css"%>
    <%=stylesheet_link_tag "magnific-popup.css"%>
    <%=stylesheet_link_tag "creative-brands.css"%>
    <%=stylesheet_link_tag "color-switcher.css"%>
    <%=stylesheet_link_tag "color.css"%>
    <%=stylesheet_link_tag "chat.css"%>

    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- ==========================
    	JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
</head>
<body class="color-blue">
	<!-- ==========================
    	FACEBOOK - SHARE BUTTON 
    =========================== -->
	<div id="fb-root"></div>
	<script type="text/javascript">(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <%= render :partial => "/shared/navbar" %>
    
    <!--<top social>-->
    
        <div id="top-social-bg" class="container">
            <div class="social-inner">
                <div class="info-bg">
                    <ul>
                        <li><img src="/assets/info.png" /></li>
                        <li><a href="mailto:info@pixlized.cz">info@pixlized.cz</a></li>
                        <li>|</li>
                        <% if current_user %>
                            <li><%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id) %>
                            </li> 
                            <li> | </li>
                            <li><a href="<%= logout_url %>">Sign Out</a></li>
                            <li>|</li>
                        <% else %>
                            <li><img src="/assets/sign-in.png" /></li>
                            <li><a href="/login">Sign in</a></li>
                            <li>|</li>
                            <li><a href="/login">Register</a></li>
                        <% end %>
                    </ul>
                </div>
                
                <div class="top-social">
                    <a href="#"><img src="/assets/twitt.png" /></a>
                    <a href="#"><img src="/assets/fb.png" /></a>
                    <a href="#"><img src="/assets/google+.png" /></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    <!--<top social end>-->
    


       <!--<wise guy search end>-->
       <% flash.each do |type, message| %>
         <div class="flash-messages">
           <div class="alert <%= flash_class(type) %> fade in">
             <button class="close" data-dismiss="alert">×</button>
             <%= message %>
           </div>
         </div>
       <% end %>
        <%= yield %>
    
    <!--<footer>-->
        <div id="footer-bg" class="container-fluid">
         <div class="row">
            <div class="footer-inner">
            
               <div class="col-sm-4">
                <div class="address-bg">
                    <h4>Contact</h4>
                    <p>For queries and opinion please email on following email address..</p>
                    <br />
                    <p></p>
                    <br />
                    <p></p>
                    <br />
                    <p></p>
                    <br />
                    <p><a href="mailto:info@politicindia.com">info@politicindia.com</a> </p>
                    </p><a href="mailto:editor@politicindia.com">editor@politicindia.com</a></p>
                    
                    <div class="social-footer">
                        <a href="#"><img src="/assets/bottom-fb.png" /></a>
                        <a href="#"><img src="/assets/bottom-tiwtt.png" /></a>
                        <a href="#"><img src="/assets/bottom-google+.png" /></a>
                        <a href="#"><img src="/assets/bottom-linkeind.png" /></a>
                        <a href="#"><img src="/assets/bottom-youtube.png" /></a>
                        <a href="#"><img src="/assets/bottom-skype.png" /></a>
                    </div>
                </div></div>
                
                
                   <div class="col-sm-4">
                <div class="popular-publish">
                    <h4>Popular Publishers</h4>
                    <img src="/assets/popular-img.png" />
                </div></div>
               
                <div class="clear"></div>
            </div></div>
        </div>
    <!--<footer end>-->
    
    <!--<copyright>-->
    <div class="container-fluid">
        <div id="copyright-bg">
            <div class="copy-inner">
                <div class="copy-txt" style="margin-left:42%;"><p class="text-left">© WiseGuyReports 2014 All right reserved.</p></div>
                <div class="clear"></div>
            </div>
        </div></div>
    <!--<copyright end>-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(".chat_us").click(function() {
        $("#chat_us_popup").modal();
    });

    function saveChat() {
        // jQuery.blockUI({ message: '<h4><img src="http://malsup.com/jquery/block/busy.gif" />  Please wait...</h4>' });
        $.ajax({
            type : "POST",
            url : "/save_chat_user",
            data : $("#chat_form").serialize()
        }).done(function(msg) {
            $.post("/conversations", {
                sender_id : msg.chatter_id,
                recipient_id : 1
            }, function(data) {
                chatBox.chatWith(data.conversation_id);
            });
            $('#chat_us_popup').modal('toggle');

        });

    }
</script>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
    <%= javascript_include_tag "bootstrap.min.js","owl.carousel.js"%>
    <%= javascript_include_tag "isotope.pkgd.min.js"%>
    <%= javascript_include_tag "jquery.magnific-popup.min.js"%>
    <%= javascript_include_tag "jquery.validate.js","validation.js"%>
    <%= javascript_include_tag "creative-brands.js","color-switcher.js","custom.js","http://localhost:9292/faye.js" ,"test_chat.js","private_pub.js","users.js"%>

<%= javascript_include_tag "jquery.payment.js","jquery.blockUI.js","loader.js" %>
</body>
</html>