 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%
  meta title: "Market Research Report | Industry Analysis | Market Trends | Blogs"
%>

<%if params[:controller]=="home"%>
  <meta name="description" content="WiseGuyReports.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@wiseguyreports.com" />

  <meta name="keywords" content="Market Research Reports, Industry Analysis, Business Market Research, Market forecast" />
  <meta name="msvalidate.01" content="2417DCC88133033DD65339A90D07EB9D" />


  <!-- Add the following three tags inside head. -->
  <meta itemprop="name" content="Market Research Report, Market Analysis">
  <meta itemprop="description" content="WiseGuyReports.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@wiseguyreports.com">
  <meta itemprop="image" content="https://www.wiseguyreports.com/assets/logo.png">


      
  <meta property="og:title" content="Business Market Research Report | Industry Analysis | Market Trends"/>
  <meta property="og:image" content="https://www.wiseguyreports.com/assets/s2.png"/>
  <meta property="og:site_name" content="WiseGuy Research Consultants Pvt Ltd"/>
  <meta property="og:description" content="WiseGuyReports.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@wiseguyreports.com"/>

  <meta name="dc.title" CONTENT="Market Research Report | Industry Analysis | Market Trends">
  <meta name="dc.description" CONTENT="WiseGuyReports.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@wiseguyreports.com">
  <meta name="dc.language" CONTENT="English">
  <meta name="DC.publisher" content="WiseGuyReports">


  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="@WiseGuyReports" />
  <meta name="twitter:title" content="Market Research Report | Industry Analysis | Market Trends" />
  <meta name="twitter:description" content="WiseGuyReports.com: The leading provider of market research reports, Market forecast and industry analysis on products, markets and companies worldwide. Sample Report: info@wiseguyreports.com" />
  <meta name="twitter:image" content="https://www.wiseguyreports.com/assets/s2.png" />
  <meta name="twitter:url" content="https://www.wiseguyreports.com" />
<%end%>
<meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://wiseguyreports.com/twitter-cards">
  <meta name="twitter:title" content="Wise Guy Reports: Repudiated Market Research Platform ">
  <meta name="twitter:description" content=" Wise Guy Consultants Pvt. Ltd. offers premium progressive statistical surveying, market research reports, analysis & forecast data for industries and governments around the globe..">
  <meta name="twitter:image" content=" https://wiseguyreports.com/assets/logo.png ">
  <%= metamagic %>
    <!-- ==========================
        Favicons 
    =========================== -->
    <!--   <link rel="shortcut icon" href="favicon.ico"> -->
    <%= favicon_link_tag 'favicon.ico'%>

    
    <!-- ==========================
        Fonts 
    =========================== -->
    <%=stylesheet_link_tag "font-open-sans.css" ,:rel=>'stylesheet', :type => "text/javascript"%>
    <%=stylesheet_link_tag "font-roboto.css",:rel=>'stylesheet', :type => "text/javascript" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- ==========================
        CSS 
    =========================== -->

    <%=stylesheet_link_tag "bootstrap.min.css"%>
    <%=stylesheet_link_tag "font-awesome.min.css"%>
    <%=stylesheet_link_tag "animate.css"%>
    <%=stylesheet_link_tag "yamm.css"%>
    <%=stylesheet_link_tag "jquery.bootstrap-touchspin.css"%>
    <%=stylesheet_link_tag "owl.carousel.css"%>
    <%=stylesheet_link_tag "owl.theme.css"%>
    <%=stylesheet_link_tag "owl.transitions.css"%>
    <%#=stylesheet_link_tag "magnific-popup.css"%>
    <%=stylesheet_link_tag "creative-brands.css"%>
    <%=stylesheet_link_tag "color-switcher.css"%>
    <%=stylesheet_link_tag "color.css"%>
    <%=stylesheet_link_tag "custom.css","chat.css","demo.css","style2.css","blog_menu.css"%>
    <%= stylesheet_link_tag "common_custom.css"%>

<style type="text/css">


.contactusleft {
    color: #f0f0f0 !important;
    margin: -36px;
    position: fixed;
    text-align: left;
    top: 378px;
    width: 25px;
}

.viewleft {
    color: #f0f0f0 !important;
    margin: -36px;
    position: fixed;
    text-align: left;
    top: 200px;
    width: 25px;
}
.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;

}
 
.back-to-top i {
  font-size: 60px;
}
</style>


<script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer></script>










</head>
<body class="color-blue">
    <!-- ==========================
        FACEBOOK - SHARE BUTTON 
    =========================== -->
    <div id="fb-root"></div>
    <script type="text/javascript"> (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    


    <div id="page-wrapper" class="page-boxed">
    
    <!-- ==========================
        HEADER - START
    =========================== -->
 <% cache "header" do %>
    <div class="top-header">
      <div class="container">
          <div class="pull-left">
              <div class="header-item visible-lg visible-md visible-sm" > <strong><a href="mailto:info@wiseguyreports.com" style="color:#fff"><i class="fa fa-envelope"></i> info@wiseguyreports.com</a> </strong>&nbsp;&nbsp;&nbsp; <strong><a href="#" class="chat_us" role="button" data-toggle="modal" style="color:#fff"><i class="fa fa-comments"></i> Chat with us</a></strong></div>
         

            </div>
            <div class="pull-right">

           



           <!--      <div id="google_translate_element"></div><script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                }
                </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 -->

 <div class="header-item" style="  color: #fff;"> <strong> <i class="fa fa-phone"></i>+1 (646) 845 9349 (US) </strong></div>

             

 <div class="header-item" style="  color: #fff;"> <strong> <i class="fa fa-phone"></i>+44 208 133 9349 (UK)</strong> </div>
       

                <%if current_user%>
                <div class="header-item" >  <strong><%= link_to "Hi, " + current_user.full_name, "javascript:void(0);",:style=>"color:#fff" %>  </strong></div> 
                <div class="header-item" > <strong><%= link_to "<i class='fa fa-user '></i> My Account".html_safe, user_url(current_user.id),:style=>"color:#fff" %> </strong> </div> <div class="header-item" > 



                <strong> <a data-method="delete" href="https://wiseguyreports.com/logout" rel="nofollow" style="color:#fff"><i class="fa fa-sign-out"></i> Logout</a> </strong>


                <%#= link_to "<i class='fa fa-sign-out'></i> Logout".html_safe, logout_url, :method => :delete ,:style=>"color:#fff"%>


              </div>
                <%else%>
               
                  <div class="header-item" > <strong><a href="/login" class="pull-right" style="color:#fff"><i class="fa fa-sign-in hidden-xs" ></i>Sign in</a> </strong></div> <div class="header-item" > <strong><a href="/signup" class="pull-right" style="color:#fff"><i class="fa fa-user hidden-xs"></i> Register</a> </strong></div>




                <%end%>
            </div>
        </div>
    </div>

    <% end %>


      <% cache "top-menu" do %>
    
    <header class="navbar yamm navbar-default navbar-static-top" >
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img src="/assets/logo.png" alt="Logo" width="180" height="63" alt="Wiseguyreports.com offer you the premium industry analysis report at one place" style="margin-top: 5px;" class="img-responsive visible-lg visible-md visible-sm" ></a>

                 <a href="/" class="navbar-brand"><img src="/assets/logo.png" alt="Logo" width="100" height="35" alt="Wiseguyreports.com offer you the premium industry analysis report at one place" class="img-responsive hidden-lg hidden-md hidden-sm" style="margin-top:5px"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav navbar-main-menu">
                    <li>
                        <%=link_to "Home", root_path%>
                
                    </li>
                    
                    <li  >
                        <%=link_to "About Us", "/pages/about-us" %>  
                    </li>
                    
    
                   <!--  <li>
                        <%#=link_to "Report Categories", categories_path %>
                      
                    
                    </li> -->
                    <li class="dropdown yamm-fw hidden-xs hidden-sm">
                        <a href="/categories" class="dropdown-toggle" >Report Categories <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <%= render "shared/category_menu" %>
                        </ul>
                    </li>
                    <li>
                    
                        <%=link_to "Publisher", publishers_path %>
                    </li>
                       <li class="dropdown">
                        <a href="/countries" class="dropdown-toggle" data-toggle="dropdown">Countries <i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/countries"><i class="fa fa-angle-double-right"></i>Browse by Country</a></li>
                            <li><a href="/continents"><i class="fa fa-angle-double-right"></i>Browse by Continent</a></li>
                            <li><a href="/regions"><i class="fa fa-angle-double-right"></i>Browse by Group / Region</a></li>
                        </ul>
                    </li>
                     
                     <!--     <li  >
                     <%#=link_to "Countries", countries_path %>
                     
                    </li> -->
          



                      <li class="dropdown">
                        <a href="/press-release" class="dropdown-toggle" data-toggle="dropdown">News & Blogs<i class="fa fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li>   <%=link_to "Press Release", news_updates_path%></li>
                            <li><a href="/blogs">Blogs</a></li>
                        <!--      <li><a href="https://wiseguyreports.wordpress.com" target="_blank">Blog - World of Healthcare</a></li> -->
                        </ul>
                    </li>






                   
                   
              
                        <li >
                         <%=link_to "FAQs", "/pages/faqs" %>    
                   
                    </li>
                    
                        <li >
                             <%=link_to "Contact Us", contact_us_path %>
                     
                   
                    </li>
                           
                </ul>
                 
        

            </div>
        </div>
    </header>
    <% end %>

    
    <!-- ==========================
        HEADER - END 
    =========================== -->
    <%# Rails flash messages styled for Zurb Foundation 5.0 %>

    <% flash.each do |type, message| %>
<div class="flash-messages">
  <div class="alert <%= flash_class(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
    </div>
<% end %>






<%= yield %>

<a href="#" class="back-to-top scroll_top">
<i class="fa fa-arrow-circle-up"></i>
</a>

<% cache "footer" do %>
      <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-2 footer" >
                  <h3><i class="fa fa-flag"></i>WiseGuy</h3>
                    <p class="contact-text">
                        <ul class="nav vertical-nav">
                           
                        
                                <li class="aboutus"><a href="/pages/about-us"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                            <li class="aboutus"><a href="/publishers"><i class="fa fa-angle-double-right"></i>Publisher</a></li>
                             
                               <li class="aboutus"><a href="/countries"><i class="fa fa-angle-double-right"></i>Browse by Country</a></li>
                                 <li class="aboutus"><a href="/continents"><i class="fa fa-angle-double-right"></i>Browse by Continents</a></li>
                            <li class="aboutus"><a href="/regions"><i class="fa fa-angle-double-right"></i>Browse by Group/Region</a></li>
                        
                        </ul>

                    </p>
                     <br/>
                     <span id="siteseal" ><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=9OvbVuuFWCEWYFXMBYjl1jSENjv4TzMOqzb6sjd077ny41x6hv"></script></span> 
                
                </div>
                

                <div class="col-md-2 contactusfooter">
                  <h3><i class="fa fa-phone"></i>Contact Us</h3>
                    <p class="contact-text">
                    +1 (646) 845 9349 (US)<br/>
                    +44 208 133 9349 (UK)
                 <!--    <div class="visible-md visible-lg">
                       <img src="/assets/support.png" alt="Logo" class="img-responsive " style="max-width:38%;float:right;margin-top:-60px">
                    </div> -->
                    </p>
                   <!--  <p class="contact-text">+11 11 111 1111 (IND)</p> -->
                <!--     <p class="contact-text">Email: <a href="mailto:sales@wiseguyreports.com" >sales@wiseguyreports.com</a></p> -->
                    <div class="row" id="latest-work-footer">
                        <a href="/contact-us" class="btn btn-primary btn-sm" > Email Us</a><br/><br/>
                  <a href="/reports" class="btn btn-primary btn-sm" > View All Reports</a>
                   </div>


         
                </div>
                <div class="col-md-2 footersupport" >
                  <h3><i class="fa fa-user"></i>Support</h3>
                                  <p class="contact-text">
              <ul class="nav vertical-nav">
                        

                      
                              <li class="aboutus"><a href="/pages/order-process"><i class="fa fa-angle-double-right"></i>Order process</a></li>
                          <li class="aboutus"><a href="/vendor-information"><i class="fa fa-angle-double-right"></i>Vendor Information</a></li>
                           
                             <li class="aboutus"><a href="/pages/privacy-policy"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                          <li class="aboutus"><a href="/pages/terms-and-conditions"><i class="fa fa-angle-double-right"></i>Terms & Conditions</a></li>
                       <li class="aboutus"><a href="/sitemap"><i class="fa fa-angle-double-right"></i>Site Map</a></li>
                      </ul>

                                  </p>
                </div>
                    <div class="col-md-3 footer">
                      <h3><i class="fa fa-video-camera"></i>Know Us More</h3>
                      <p class="contact-text">
                        <a href="https://www.youtube.com/watch?v=03FPfld2460" target ="_blank">
                          <img src="/assets/youtube_video.png" class="img-responsive youtube" alt="youtube-wiseguy"/>
                        </a>
                      </p>

                  <h3><i class="fa fa-envelope"></i>Newsletter</h3>
                    <p class="contact-text"><b><span class="newsletter">KEEP UP TO DATE ON ALL THE LATEST REPORTS </span></b><br/>
                    </p>
                    <%= form_for( :subscriber , :url=>{:controller=>"reports",:action=>"subscriber"}, :html => {:class=>"form-horizontal form-address", :id=>"subscriber_form",:style=>"padding-bottom:17px"}) do |f| %>


                        <fieldset>
                            <div class="form-group nospace">
                                <div class="input-group">
                                     <%= f.text_field :email , :value=> "", :class=>"form-control", :placeholder=>"Put your email" , :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%>  
                                    
                                    <span class="input-group-btn"> <button type="submit" id="send" class="btn btn-primary btn-sm"><i class="fa fa-check"></i></button> </span>
                                </div>
                            </div>
                        </fieldset>
                    <%end%>
                    </div>
                     <div class="col-md-3 footer">
                       <div class="homeadd" id="refreshMe">
                         <%= render "/home/load_tweets" %>
                       </div>
                     </div>
            </div>
            <div class="footer-bottom" >
              <div class="footer-copyright col-sm-6 footcopyright" >
                    <p>Copyright © 2016, All Rights Reserved, <a href="https://wiseguyreports.com/">WiseGuyReports.com </a></p>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                <ul class="brands brands-inline brands-tn brands-circle main" >
              

               <li class="brandiconleft"><a href="/rss-feeds" target="_blank"><img src="<%= asset_path('feeds_orange.png') %>" width="23" class="img-responsive" alt="feeds"/></a></li>
                 <li class="brandiconleft"><a href="//twitter.com/WiseGuyReports" target="_blank"><img src="<%= asset_path('twitter.png') %>"  width="23" class="img-responsive" alt="twitter"/></a></li>
                 <li class="brandiconleft"><a href="//www.facebook.com/pages/WiseGuy-Research-Consultants-Pvt-Ltd/1509220196008846" target="_blank"><img src="<%= asset_path('facbook.png') %>" width="23" class="img-responsive" alt="facebook"/></a></li>
                  <li class="brandiconleft"><a href="//plus.google.com/100535494506775102718" rel="publisher" target="_blank"><img src="<%= asset_path('googleplus.png') %>" width="22" class="img-responsive" alt="googleplus"/></a></li>
                  <li><a href="//www.linkedin.com/company/wise-guy-research-consultants-pvt-ltd-?trk=biz-companies-cym" target="_blank"><img src="<%= asset_path('linkedin.png') %>" width="23" class="img-responsive" alt="linkedin"/></a></li>
                </ul>
            </div>


            </div>
        </div>
    </footer>
<% end %>

 </div>

<div id="chat_us_popup" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                    ×
                </button>
                <h4>Please enter details to chat </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

       
                    <%= form_tag "/save_chat_user", onsubmit: "saveChat();return(false);", :class=> "form-horizontal form-address", :id => "chat_form" do %>
                              
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">Your Name:<span>*</span></label>
                                    <div class="col-sm-9">
                                   <%= text_field_tag :name , nil, :class=>"form-control" %>                   
                                    </div>
                                     
                                </div>
                                 <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">Your Email:<span>*</span></label>
                                    <div class="col-sm-9">
                                   <%=text_field_tag :email , nil, :class=>"form-control"%>                   
                                    </div>
                                     
                                </div>
                                <div class="form-group">
                                    <label for="phone_no" class="col-sm-3 control-label">Your Phone No.:</label>
                                    <div class="col-sm-9">
                                   <%= text_field_tag :phone_no , nil, :class=>"form-control"%>                   
                                    </div>
                                     
                                </div>
                 
                                
                          
                                  <div class="form-group">
                                    <label for="message" class="col-sm-3 control-label">Your Message<span>*</span></label>
                                    <div class="col-sm-9">
                                       <%= text_area_tag :message , nil, :class=>"form-control" ,:style=>"height:100px"%> 
                                     
                                             
                                    </div>
                                </div>
                             <div class="form-group">
                                    <label for="submit_tag" class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <button type="submit" id="send_chat_report" class="btn btn-primary"><i class="fa fa-check"></i>Send</button> 
                                    </div>
                                </div>
                               
                                <%end%>


                   
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- ==========================
        FOOTER - START 
    =========================== -->

    <!-- ==========================
        FOOTER - END 
    =========================== -->

   
    <!-- ==========================
        JS 
    =========================== -->   

<%= javascript_include_tag "bootstrap.min.js","jquery.browser.js","superfish.js","jquery.blockUI.js"%>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js" type="text/javascript"></script>
  
<script type="text/javascript">
var jq = $.noConflict();
jq(document).ready(function(){
    jq('ul.nav').superfish({ 
        delay:       100,                             // one second delay on mouseout 
        animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
        speed:       'fast',                          // faster animation speed 
    }); 
    }); 
</script>


    <!-- ==========================
        JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-58391777-1', 'auto');
  ga('send', 'pageview');

</script>     

<script type="text/javascript">
jq(document).ready(function(){
 jq('.sf-sub-indicator').hide();
    jq("img").addClass("img-responsive");
jq(".rss_img").removeClass("img-responsive");
  jq(function(){

  var offset = 250;
    var duration = 300;
    jq(window).scroll(function() {
        if (jq(this).scrollTop() > offset) {
            jq('.back-to-top').fadeIn(duration);
        } else {
            jq('.back-to-top').fadeOut(duration);
        }
    });
 
    jq('.back-to-top').click(function (e) {
      e.preventDefault();
      jq('body,html').animate({scrollTop: 0}, 500);
    });

  });
 
});
jq('#blog_month').on('change', function() {
     var month = new Date(this.value.split(" ")[0]).getMonth()+1
     var year = new Date(this.value.split(" ")[0]).getFullYear()
         window.location='/blogs/by_year_and_month/'+year+'/'+month 
});
    jq(".chat_us").click(function() {
        jq("#chat_us_popup").modal();
    });

    function saveChat() {
      if (jq("#chat_form").valid()) {
             jq('#send_chat_report').html("<i class='fa fa-spinner fa-spin'></i> Sending...");
             jq('#send_chat_report').attr('disabled','disabled');
             jq('.close').hide();
        jq.ajax({
            type : "POST",
            url : "/save_chat_user",
            data : jq("#chat_form").serialize()
        }).done(function(msg) {
         
            jq('#chat_us_popup').modal('toggle');
                  jq("header").append("<div class='flash-messages'><div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>×</button>Thank You " + msg.name+". Your query has been successfully sent. Wiseguy representative will get back to you shortly.</div></div>");
                jq("html, body").animate({ scrollTop: 0 }, "fast");
                jq('#send_chat_report').html("Send");
                jq('#send_chat_report').removeAttr('disabled');
                jq('.close').show();
                jq(".flash-messages").fadeOut(10000);
        });
}
    }

</script>

</body>
</html>













